[2021-09-22 18:43] zguo commented on #196
Just to see if any updates on this issue? we seem to run into the same issue on some other INSPIRE data themes as well.

[2021-09-27 08:42] ghobona commented on #147
@cportele May we please have the SWG's view on this issue?

[2021-09-27 09:30] cportele commented on #147
It is a general issue with WFS/FES that the requirements are sometimes not clear. But let's have a look at this case:

The test in the original comment references "ISO 19142:2010, 11.4: GetFeature - Exceptions" and "ISO 19143:2010, 8.3: Exceptions".

* The tests should not reference the ISO standards, which are outdated (2.0.0 instead of 2.0.2).
* [Section 8.3 in FES](http://docs.opengeospatial.or

[2021-10-04 08:44] ghobona commented on #147
@cportele Any further information from the SWG meeting?

[2021-10-04 08:55] cportele commented on #147
We discussed it briefly. @pvretano agreed with my general interpretation and we decided that he will add another comment to this issue.

[2021-10-04 10:54] pvretano commented on #147
@ghobona  at its core the test is for a invalid Geometry operand and so if the operand does not resolve to a valid geometry (i.e. a property with a geometric value or a geometry literal) then an exception should be thrown as specified in the spec.  So, @cportele's explanation is correct.

[2021-10-04 11:06] dstenger commented on #147
Thank you for your expertise.

@ghobona Thus, I propose to leave the test as it is and to also allow OperationProcessingFailed (Status Code 403) as valid exception type.

[2021-10-04 11:17] ghobona commented on #147
@dstenger Agreed.

[2021-10-06 11:40] jyrkka opened #205 "Support for "application/zip" accepted mediatype"
Currently suite is not supporting "application/zip" as the result type. The reason is the quite old version of the teamengine-spi dependency.

Would it be possible to bump up the version? The reason I would like to have this is because it would generate the result as html which is more human readable that the earl or xml report.

[2021-10-06 19:44] dstenger commented on #205
Thank you for reporting.

Are you referencing the REST interface of TEAM Engine?
This functionality is provided by the TEAM Engine software and not the implementation of the test suite. Thus, it should be possible to retrieve application/zip via the REST interface when the latest version of TEAM Engine is used.

However, of course, teamengine-spi dependency can be updated to the latest version. Cu

[2021-10-07 13:07] JohannaOtt opened #207 "NullPointerExceptions when validating WFS"
When validating [this WFS](https://transformiraj.nipp.hr/ows/services/org.4.a80b3d00-c60d-4c3c-b677-6216a286469a_wfs?SERVICE=WFS&REQUEST=GetCapabilities&VERSION=2.0.0), there are a lot of NullPointerExceptions.

I already validated other WFSs before and did not run into this issue.

This issue is created as follow up of https://github.com/INSPIRE-MIF/helpdesk-validator/issues/622

[2021-10-07 13:13] JohannaOtt opened #206 "Unexpected error messages on nil and descendant elements"
When validating [this WFS](https://haleconnect.com/ows/services/org.292.6cef2128-a227-4aa7-bc74-0e3797644d51_wfs?SERVICE=WFS&REQUEST=GetCapabilities&VERSION=2.0.0) I get two errors concerning CEMTClass that I cannot understand when looking at the data:

    Test ID EID5c4808a6-566d-3b93-a5e5-e6002f4fc8a7 returns: Unexpected result evaluating XPath expression with context node tn-w:CEMTClass:
    n

[2021-10-11 13:48] jyrkka commented on #205
@dstenger that folder has full access for everyone.

drwxrwxrwx  5 jyrkka xxx xxx       4096 Oct 11 16:41 teamengine

Do you want me to check it some other way?

[2021-10-12 05:41] jyrkka commented on #205
Just tested folder permission by modifying the test suite to write some random file to that folder and suite was able to write that file. So I guess it is not because of those folder permissions.

[2021-10-13 19:25] dstenger commented on #205
Thank you, we will do further investigation.

[2021-10-13 20:30] dstenger commented on #206
Following request is sent by the test:
* POST https://haleconnect.com/ows/services/org.292.6cef2128-a227-4aa7-bc74-0e3797644d51_wfs
* Body:
[code]

The test expects two elements of `tn-w:CEMTClass`.
However, four are present because both returned features (these are the two expected) contain an element `tn-w:CEMTClass` which is exactly the same as the feature itself. These are the two other matche

[2021-10-14 07:59] dstenger commented on #207
The schema (https://transformiraj.nipp.hr/ows/services/org.4.a80b3d00-c60d-4c3c-b677-6216a286469a_wfs?service=WFS&version=2.0.0&request=DescribeFeatureType) of this service is parsed in method compileXMLSchema() which is part of ets-gml32:
https://github.com/opengeospatial/ets-gml32/blob/a757e0cf1c3064d17700eab116a03b621d73d813/src/main/java/org/opengis/cite/iso19136/general/XMLSchemaTests.java#L9

[2021-10-14 17:57] dstenger commented on #205
I also updated the dependency by adding following to the pom:
[code]

Although, the tests are run, I am getting following exceptions:
[code]

These are the same exceptions as reported above.

However, the report is still generated:
[code]

Thus, now, just the testng-results.xml file is existing (filled correctly).

We have to re-evaluate the aio.jar and check why the earl and zip reports are not g

[2021-11-02 13:51] #201 closed

[2021-11-02 13:52] #202 closed

[2021-11-02 13:52] #203 closed

[2021-11-02 13:54] ghobona commented on #198
Reassigning to @bpross-52n.

[2021-11-11 13:08] bpross-52n commented on #207
@JohannaOtt The error leads to this section of the XML standard: [Section 4.2](https://www.w3.org/TR/xmlschema-1/#src-resolve) . From our understanding, in order to use the xlink:typeType element, you will have to directly import the xlink schema in the original schema. Let me know if you have any comments or questions.

[2021-11-17 08:51] Claudia-WE opened #211 "WFS 2.0 Validation - Tests seem to be executed twice or more within the Spatial filter section"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://cite.opengeospatial.org/teamengine/viewSessionLog.jsp?session=s0001&stop=undefined&t=1637138009822
2. Check redundancy of test results " Non specific bouding box e.g.

**Expected behavior**
Only one result per test

![grafik](https://user-images.githubusercon

[2021-11-17 10:09] bpross-52n commented on #196
@zguo I am working on the issue, but the service is no longer available. Could you point me to another instance, maybe?

[2021-11-17 10:20] dstenger commented on #198
Issue for solving the problem was created in ets-gml32 tracker: https://github.com/opengeospatial/ets-gml32/issues/65

[2021-11-17 10:23] dstenger commented on #211
Thank you for reporting.
We will do further investigation.

[2021-11-17 16:25] zguo commented on #196
Hi @bpross-52n,

Please try this one instead:
http://agsinspire1.esri.com/arcgis/rest/services/elc/MapServer/exts/InspireFeatureDownload/service?service=WFS&version=2.0.0&request=GetCapabilities

Thanks,

ZhongPing

[2021-11-23 15:47] bpross-52n commented on #196
Hi @zguo, thanks for the link. I tested it last week and could not reproduce the issue. In my understanding, we would need a service with one or more properties of type xs:AnySimpleType.

[2021-11-24 07:54] bpross-52n commented on #205
@jyrkka I tested enabling the generation of additional reports, which leads to the following output:

![generated-reports](https://user-images.githubusercontent.com/3692794/143196834-9f3e39ae-d067-4bd9-9571-9bcf8c918743.png)

HTML reports are also generated:

![html-report](https://user-images.githubusercontent.com/3692794/143196993-20a1ab25-328d-4f4c-a4fb-313ad8d81088.png)

Would this be helpful

[2021-11-24 22:31] #206 closed

[2021-11-24 22:33] #147 closed

[2021-11-25 07:49] JohannaOtt commented on #206
@dstenger I saw that you closed this issue. How often is the OGC Team validator released? So when can I expect the behavior to change in the OGC and therefore the INSPIRE Validator?

[2021-11-25 11:59] jyrkka commented on #205
@bpross-52n That is better than nothing, but for example for wmts-10 testsuite we get slightly better html report (in my opinion).

![image](https://user-images.githubusercontent.com/17827509/143437519-f45ec513-854c-4f1e-a9bf-c8bd63f75c66.png)

We also get quite good details of the failure.

![image](https://user-images.githubusercontent.com/17827509/143437811-047edcf0-9838-490e-93a5-f1403233c41a.

[2021-11-25 12:37] dstenger commented on #206
We are planning to create a new Beta release (https://cite.opengeospatial.org/te2/) next month.
Production is just updated every 6 months. We do not have an exact date for the next update, yet. However, it will be most likely in next spring.
Regarding the INSPIRE Validator I can unfortunately not provide any information as I am not involved in that project.

[2021-12-01 10:31] ghobona commented on #185
Hi @robblis ,

The service is not reachable. Could you please check your firewall?

Regards,

Gobe

![Screenshot 2021-12-01 at 10 30 44](https://user-images.githubusercontent.com/18121038/144218512-6ea3c77c-29ff-41af-ae40-2cb5803abefa.png)

[2021-12-01 10:36] ghobona commented on #24
Closing this issue. If in the future there is interest in implementing the enhancement then the issue can be reopened.

[2021-12-01 10:36] #24 closed

[2021-12-01 10:38] ghobona commented on #29
Closing this issue. If in the future there is interest in implementing the enhancement then the issue can be reopened.

[2021-12-01 10:38] #29 closed

[2021-12-01 10:46] ghobona commented on #182
@robblis The service is not reachable. Please enable access.

![Screenshot 2021-12-01 at 10 45 56](https://user-images.githubusercontent.com/18121038/144220721-61536dc0-40e8-458c-be04-9b4532c237a6.png)

[2021-12-01 10:49] dstenger commented on #184
Might be related to https://github.com/opengeospatial/ets-wfs20/issues/207.

[2021-12-01 10:51] ghobona commented on #184
@robblis The service is not reachable. Please provide us with a reachable service.

[2021-12-01 14:56] bpross-52n commented on #211
@Claudia-WE The behavior is as expected in this case. The test for spatial filtering (among others) are executed for every feature type (2 in this case) and for each protocol binding (GET and POST). We will do further investigations on the NullPointerExceptions.

[2021-12-01 15:12] robblis commented on #184
Hi @ghobona ,

The service is back online. Please let us know if you still have connection problems.

Robert

[2021-12-01 18:00] ghobona commented on #184
Thanks @robblis !

[2021-12-02 16:14] Claudia-WE opened #212 "Test intersectsCurve fails - ClassCastException"
**Describe the bug**
Within the WFS 2.0 test ClassCastExceptions are thrown for test on intersectsCurve and intersectsPolygon.
The ClassCastException is thrown to indicate that the code has attempted to cast an object to a subclass of which it is not an instance. Could you please help me to clarify what is the reason for the error message ?

**To Reproduce**
Steps to reproduce the behavior:
- Test

[2021-12-03 14:19] mpleic commented on #196
Hello,

our [service](http://gis.psp.hr/webservices/inspire?SERVICE=WFS&version=2.0.0&request=GetCapabilities) fails at the similar test step returnig the similar type of an error:
_OGC TEAM Engine reported a failed test: XPath expression cannot be evaluated: not(xs:anySimpleType(ns1:dateOfDiscovery[1]) = xs:anySimpleType('1987-05-31Z'))XPath syntax error at char 45 in {...scovery[1]) = xs:anySimp

[2021-12-03 14:35] mpleic opened #213 "A specific case with the getFeatureWithHitsOnly test step at the Response paging conformance class"
Hello,

our [service](http://gis.psp.hr/webservices/inspire?SERVICE=WFS&version=2.0.0&request=GetCapabilities) fails at the Response paging > org.opengis.cite.iso19142.paging.PagingTests > getFeatureWithHitsOnly test step.
It returns the following error message: _OGC TEAM Engine reported a failed test: Unexpected number of items in response. expected [2] but found [1]_

Basically, the dataset has

[2021-12-03 21:23] dstenger commented on #213
Thank you for reporting.
We will do further investigation.

[2021-12-09 09:57] JohannaOtt opened #216 "WFS failing with a "premature end of file" in compile XML schema"
**Describe the bug**
When validating [this WFS](https://haleconnect.com/ows/services/org.892.5674b355-41ef-41ca-b465-d0c37428c1dd_wfs?SERVICE=WFS&REQUEST=GetCapabilities&VERSION=2.0.0) in the Team Engine Validator, the validation is failing with many errors. One of them is "org.xml.sax.SAXParseException; Premature end of file." in [this test](https://cite.opengeospatial.org/teamengine/reports/joha

[2021-12-09 11:54] bpross-52n commented on #196
Thank you @mpleic, we will do further investigations with your service.

[2021-12-09 13:32] dstenger commented on #216
Thank you for reporting.
We will do further investigation.

[2021-12-15 08:35] bpross-52n commented on #205
@jyrkka I have updated the Teamengine dependency and added a property to the test-run-props.xml. Now the CITE HTML reports  are generated again. You can use the following branch for testing: https://github.com/opengeospatial/ets-wfs20/tree/issue%23205 Note that there is a known issue with the generation of the zip file.

[2021-12-15 08:59] JohannaOtt opened #217 "WFS validation on INSPIRE Validator running into OGC Team Engine Timeout"
**Describe the bug**
When executing the WFS 2.0 test in the INSPIRE Validator, it runs into a timeout from the OGC Team Engine.

**To Reproduce**
Go to the INSPIRE Validator and run a WFS 2.0 validation.

**Expected behavior**
I would expect the OGC Team Engine WFS 2.0 test to be run.

**Screenshots**
![grafik](https://user-images.githubusercontent.com/34163838/146155396-a3bcffd4-8bd4-4744-a3df-6a

[2021-12-15 09:51] ghobona commented on #217
@JohannaOtt I have just ran the Production WFS 2.0 test suite on both Reference Implementations and they completed the test run within 2 minutes. Could you please provide the URL of the service you are testing?

![testruns](https://user-images.githubusercontent.com/18121038/146162988-808b2778-7888-4e70-a0f0-87954b5d9a78.png)

[2021-12-15 10:02] JohannaOtt commented on #217
It was https://haleconnect.com/ows/services/org.789.ffa9f2a0-54d8-4f18-961c-196230496a0a_wfs?SERVICE=WFS&REQUEST=GetCapabilities&VERSION=2.0.0 this morning.

[2021-12-15 12:58] ghobona commented on #217
Using the ETS through the Eclipse IDE, I was able to verify that a test run on the specific WFS instance at haleconnect takes 46 minutes to complete.  The testng results file is at:

https://portal.ogc.org/files/?artifact_id=99838

The specific WFS instance responds quickly to GetFeature requests that do not have any filters. However, GetFeature requests that have filters take about 1 minute to co

[2021-12-16 16:34] JohannaOtt commented on #217
@ghobona Thanks a lot for investigating and providing the test results. So when using the UI, the only option is to use WFS with less data in order to have faster repsonses to the GetFeature requests and therefore a faster testing run?

I still have a question concerning the result of the test:
There are many errors like
`Severity: ERROR
Message: TargetNamespace.1: Expecting namespace 'http://insp

[2021-12-16 16:57] ghobona commented on #217
@JohannaOtt  If the WFS is getting the data from an RDMS, then I would recommend trying to improve the response time by creating an index on each queryable feature property.

Regarding schema validation, using the XML Validation facility in NetBeans IDE, I have just checked the ConditionOfFacility feature collection downloaded from the WFS. NetBeans also reported the same schema errors as the OGC

[2021-12-16 16:59] ghobona commented on #217
NetBeans's XML Validation by Schema button is shown on the attached screenshot.

![Screenshot 2021-12-16 at 16 58 03](https://user-images.githubusercontent.com/18121038/146415341-856d5941-80fd-4ca2-a339-d42759bf71ba.png)

[2021-12-17 15:09] JohannaOtt commented on #217
@ghobona Thank you for the assessment. I will clarify with our network service experts if and how we address that issue of the second namespace not being taken into consideration as expected.

[2021-12-20 11:51] lukastemberga opened #219 "Test fails at Preconditions - dataAreAvailable"
Hi all!
I'm having problems validating wfs service against validator. I'm trying to validate [this](https://dev.li-st.net/geoserver/am1/ows?service=wfs&version=2.0.2&request=GetCapabilities) service. But validation fails at Preconditions - dataAreAvailable. With error java.lang.AssertionError: Prerequisite not satisfied: No valid data available from WFS.

From my understanding validator sends a GE

[2021-12-21 16:12] dstenger commented on #219
Thank you for reporting.

I realized that requesting https://dev.li-st.net/geoserver/am1/ows?service=WFS&version=2.0.0&request=GetFeature&count=25&typenames=ns44:AM.RiverBasinDistrict returns a valid response.

Thus, the `namespaces` (spelling is correct) parameter causes the error. I would assume this is an error on the server side as the syntax also looks fine.
Can you please check if the `names

[2021-12-22 07:42] lukastemberga commented on #219
Thanks for your answer!

I can't seem to get any response without the mentioned error when using parameter `namespaces`. What ever the argument and in whatever form yields the same error.
Is it possible that this parameter isn't properly (or at all) implemented in GeoServer WFS? I can't seem to find any documentation on it.

Looking at [this](https://docs.opengeospatial.org/is/09-025r2/09-025r2.ht

[2021-12-22 17:12] dstenger commented on #219
You are right that "namespaces" is an optional parameter and when taking a look at the abstract test suite this parameter is not mentioned.

So, typenames parameter can be used without namespaces parameter (also see chapter `7.9.2.4.1 typeNames parameter`).

`Table 7 — Additional common keywords for KVP encoded WFS requests` says about NAMESPACES parameter:
[code]

I am not quite sure how the defa

[2022-01-05 07:24] JohannaOtt commented on #206
@dstenger Did this happen? If yes, the fix did not help. I am still running into the errors described above on the Beta system:
![grafik](https://user-images.githubusercontent.com/34163838/148176864-0ef6dd77-37da-454b-b95f-e491026ac605.png)

[2022-01-05 09:40] ghobona commented on #217
Since the problem appears to be with the WFS instance, this GitHub issue will be closed on 2022-01-12.

[2022-01-05 09:47] dstenger commented on #206
Unfortunately, the release was postponed because we are still working on some further WFS 2.0 issues which will also be part of the deployment.
So, we scheduled the release for end of this month.

One additional hint, https://cite.opengeospatial.org/te2/ displays the currently installed version of the test suite (`Web Feature Service (WFS) | 2.0 | 1.36 | Final`). As soon as `1.37` (see value in mi

[2022-01-05 09:58] JohannaOtt commented on #206
@dstenger Ok great, thanks for the feedback and the version hint.

[2022-01-05 10:31] bpross-52n commented on #182
@robblis We are not able to reproduce the issue, could you please re-check if the problem is still occurring? Thanks!

[2022-01-05 15:50] bpross-52n commented on #184
@robblis The issue with the schema might be related to issue #207, see this [comment](https://github.com/opengeospatial/ets-wfs20/issues/207#issuecomment-966288356
).
The original reported issue with wrong POST URLs used for tests cannot be reproduced by us. However, we are using a different WFS instance, as the service you referenced seems to use the HTTP protocol in the capabilities document (se

[2022-01-12 12:37] dstenger commented on #219
@lukastemberga
If we considered namespaces as an optional parameter, the service should ignore it if not implemented.
E.g.:
* Following request returns a valid response: https://dev.li-st.net/geoserver/am1/ows?service=WFS&version=2.0.0&request=GetFeature&count=25&typenames=ns44:AM.RiverBasinDistrict
* Then, this request should also work: https://dev.li-st.net/geoserver/am1/ows?service=WFS&version=

[2022-01-12 13:05] lukastemberga commented on #219
Thank you for your answer and for reviewing this issue. It does indeed seem like this is a problem with configuration of GeoServer. I will try to discuss the issue further on GeoServer mailing list. I think this issue can be closed now if you agree.
Sincerely,
Luka

[2022-01-12 13:05] #219 closed

[2022-01-14 14:44] bpross-52n commented on #216
@JohannaOtt The problem is that the schema [(DescribeFeatureType)](https://haleconnect.com/ows/services/org.892.5674b355-41ef-41ca-b465-d0c37428c1dd_wfs?SERVICE=WFS&VERSION=2.0.0&REQUEST=DescribeFeatureType&NAMESPACE=xmlns(http://inspire.ec.europa.eu/schemas/net/4.0)
) Has imports like the following:
`<import namespace="http://inspire.ec.europa.eu/schemas/act-core/4.0" schemaLocation="http://inspi

[2022-01-17 09:12] #217 closed

[2022-01-18 07:54] JohannaOtt commented on #216
@bpross-52n Thanks for investigating and working on the error message. You are right - when the service was created, the INSPIRE schemas still used http for importing other INSPIRE schemas.

[2022-01-18 16:14] #211 closed

[2022-01-18 16:29] #213 closed

[2022-01-18 16:56] #199 closed

[2022-01-18 17:16] dstenger commented on #207
@JohannaOtt We improved the error message for your case (not installed on Beta, yet). Do you have any additional questions and are your problems solved? If there are no further concerns to discuss, we would like to close this issue.

[2022-01-20 19:29] #191 closed

[2022-01-20 20:11] dstenger commented on #205
@bpross-52n
When I am running the jar by using https://github.com/opengeospatial/ets-wfs20/blob/dd77f2b3fd1b52dd24ff5f4d5d7cf87f908a00d3/src/main/resources/test-run-props.xml and following command
[code]
errors are returned and no HTML report is generated:
[code]

Can you please describe the workflow how you executed the jar?

[2022-01-21 07:53] bpross-52n commented on #205
@dstenger I can reproduce the errors using linux. I will investigate this.

[2022-01-21 09:29] bpross-52n commented on #205
@dstenger The problem is, that no config.xml is available. The config.xml can be found in the file ets-wfs20-1.37-SNAPSHOT-ctl.zip under /wfs/2.0.0/. If you put the file in /home/stenger/teamengine/, the generation of the tests should work again. Let me know if this is feasible for you.

[2022-01-21 10:20] dstenger commented on #205
@bpross-52n Why does this error not occur with Windows? What is the difference between different operating systems? At least, the documentation shall be updated regarding this.

[2022-01-21 10:24] bpross-52n commented on #205
@dstenger It is independent of the operating system. On my Windows machine, the config.xml was already in place. On the fresh Linux machine that I used for testing, the config.xml was not available, thus the error happened. I hope this clarifies it.

[2022-01-21 10:31] dstenger commented on #205
@bpross-52n
Thank you! Your proposed workflow is working and the HTML report is generated.
However, the log output of the command does not point to the directory anymore (e.g. `Test results: file:/home/stenger/testng/c3b6646e-57c5-4e9d-8351-0dc13e7c5af2/testng-results.xml`).
I propose to keep this pull request on hold until we have a solution which is working smoothly (requires changes in TEAM Eng

[2022-01-24 07:16] jyrkka commented on #205
@dstenger I don't have any additional questions.

[2022-01-25 09:43] JohannaOtt commented on #207
I do not have additional questions for now but would vote for leaving the ticket open until the new error messages can be tested on beta.

[2022-01-25 09:53] JohannaOtt commented on #191
@dstenger I just tested this behavior on beta and the intersectsCurve test is still skipped for the latest example @Kate-Lyndegaard provided. How is the approach for closing/testing issues in this repository? Can we expect closed issues to be implemented on beta or not?

[2022-01-25 10:44] dstenger commented on #191
@JohannaOtt
We actually close issues as soon as a fix is implemented, verified and merged to master branch (this is the current status here).
Usually, in the close future, Beta will be updated. This is indicated by the milestone set in the issue (here 1.37).
On Beta (https://cite.opengeospatial.org/te2/), however, there is v1.36 installed (please see the landing page of the environment). Thus, thi

[2022-01-25 11:07] dstenger commented on #207
Thank you for your feedback!

I described the process of closing issues in https://github.com/opengeospatial/ets-wfs20/issues/191#issuecomment-1021050234.
Thus, I would like to close this issue as the corresponding pull request was already merged.
The improved error message will be installed on Beta at the end of this week and, finally, the Beta update will be announced via the cite-forum mailing

[2022-01-26 07:38] JohannaOtt commented on #191
@dstenger Thanks a lot for the detailed explanation.
As long as the workflow is clear and known, I do not really care which one is used.
I tried to subscribe to the mailing list now - hope it is the right one.

[2022-01-26 09:13] #207 closed

[2022-01-26 10:19] ghobona commented on #216
The TEAM Engine documentation will be updated with a note about the HTTP Redirect limitation.

This will be part of the fix for https://github.com/opengeospatial/teamengine/issues/476.

[2022-01-26 10:26] dstenger commented on #216
We found out that the error message must be improved in ets-gml32.
New issue for improving error message: https://github.com/opengeospatial/ets-gml32/issues/66

[2022-02-04 15:16] JohannaOtt commented on #206
Good news: The "Unexpected number" errors do not occur any longer.
But he "Unexpected result" errors are still there afer the deployment
![grafik](https://user-images.githubusercontent.com/34163838/152553820-a42a24d3-cc54-4bf0-9897-4b01425f15d8.png)

@dstenger Don't you consider them being part of this issue?

[2022-02-04 15:22] dstenger commented on #206
Thank you for the feedback!
Unfortunately, the fix is just fixing the failure regarding test `Two Valid Feature Identifiers`.
Can you please open a new issue for the other test?

[2022-02-07 09:42] JohannaOtt opened #223 "Unexpected error messages on nil attribute"
**Describe the bug**
When validating [this WFS](https://haleconnect.com/ows/services/org.292.6cef2128-a227-4aa7-bc74-0e3797644d51_wfs?SERVICE=WFS&REQUEST=GetCapabilities&VERSION=2.0.0) I get an error concerning CEMTClass that I cannot understand when looking at the data:
`Unexpected result evaluating XPath expression with context node tn-w:CEMTClass: ns1:validFrom[@xsi:nil='true'] expected [true]

[2022-02-07 09:42] JohannaOtt commented on #206
@dstenger I created https://github.com/opengeospatial/ets-wfs20/issues/223 for it

[2022-02-07 18:01] dstenger commented on #223
Thank you for reporting.

## Analyse failure

I was able to reproduce this behavior on Beta environment.

I used following test request:
* POST https://haleconnect.com/ows/services/org.292.6cef2128-a227-4aa7-bc74-0e3797644d51_wfs
[code]

It seems that following line is set correctly for each member:
`<tn:validFrom nilReason="other:unpopulated" xsi:nil="true"/>`

Thus, I also do not see why this te

[2022-02-08 19:56] dstenger commented on #223
After doing some debugging, I was able to find the root cause of the test failure.

Again, as in #206, the duplicate usage of `tn-w:CEMTClass` is the reason.
Excerpt of response of previously documented request:
[code]

As `tn-w:CEMTClass` is the member itself and a property of the member, the test suite interprets the property as a feature as well and runs into a test failure.

Relevant lines of

[2022-02-18 08:15] JohannaOtt opened #224 ""property is less than" tests are failing for valid data"
**Describe the bug**
property Is Less Than_match All and property Is Less Than_match Any tests are failing with reason of failure: "java.lang.AssertionError: XPath expression cannot be evaluated: xs:dateTime(ns1:beginLifespanVersion) lt xs:dateTime('2020-08-15T00:00:00Z')Invalid dateTime value "" (too short). "
The element beginLifespanVersion is indeed empty for some objects in the WFS but as the

[2022-02-18 21:32] dstenger commented on #224
Thank you for reporting. I agree that this is most likely a shortcoming of the test suite.
We will do further investigation.

[2022-04-04 12:35] JohannaOtt commented on #185
@bpross-52n I have a similar issue with [this WFS](https://geodienste.komm.one/ows/services/org.506.78427a5b-2f82-4311-ba7d-74eb7b8c10f4_wfs/org.506.e21f771b-0d06-4dbc-b246-60aa8d12ed52?SERVICE=WFS&REQUEST=GetCapabilities&VERSION=2.0.0).
![grafik](https://user-images.githubusercontent.com/34163838/161543879-05d0ad5a-d7fd-4572-801b-1a05fb7487fe.png)
There are two kinds of error messages:
1. No temp

[2022-04-06 07:22] JohannaOtt opened #225 "WFS 2.0 test does not return HTML report"
**Describe the bug**
When using the WFS 2.0 test, the result looks like this
![grafik](https://user-images.githubusercontent.com/34163838/161918114-66824ffb-75e2-496e-84af-69164e72e3dc.png)
I tried validating [this WFS](https://test.haleconnect.de/ows/services/org.8.86186398-8516-4bcd-9d12-a9ea13329169_wfs?SERVICE=WFS&REQUEST=GetCapabilities&VERSION=2.0.0)
The behavior is the same on beta and on p

[2022-04-06 12:42] dstenger commented on #225
Thank you for reporting.

However, I was able to validate the service with https://cite.ogc.org/te2/.

![Bildschirmfoto vom 2022-04-06 14-37-34](https://user-images.githubusercontent.com/2989166/161976034-e7011ce8-61ce-4de6-804f-4191e97f41c2.png)

Also, I was able to validate the service successfully on http://cite.ogc.org/teamengine/.

Can you please re-check the described problem?

[2022-04-06 21:11] robblis commented on #185
Hi @JohannaOtt,

We've turned on the following service to test against.

https://agsinspire1.esri.com/arcgis/rest/services/ADTest/MapServer/exts/InspireFeatureDownload/service?VERSION=2.0.0&SERVICE=WFS&REQUEST=GetCapabilities&LANGUAGE=&TYPENAMES=&MAXFEATURES=&COUNT=&f=image

Let us know if you need anything else from us.

Thanks,
Robert

[2022-04-07 08:35] JohannaOtt commented on #225
I just re-tried and this time, the validation report is displayed as expected.

[2022-04-07 08:44] JohannaOtt commented on #185
@robblis Not sure if that is a misunderstanding - I reported a similar issue as yours as a validator user. But I am sure your example service will be helpful for the validator team.

[2022-04-12 08:59] JohannaOtt commented on #225
@dstenger The issue is back for the production instance
![grafik](https://user-images.githubusercontent.com/34163838/162922753-0f78f6c5-ad2d-49f3-a739-23985156a368.png)

[2022-04-12 09:51] dstenger commented on #225
Error log:
[code]

[2022-04-12 09:59] JohannaOtt commented on #225
I see that the service is currently not available - sorry. I will try again later if the service is available and see if that works.
Nonetheless it would be nice if there would be an error message/feedback if the service that should be tested cannot be reached.

[2022-04-12 11:53] ghobona commented on #225
I have just tested the [WFS service](https://test.haleconnect.de/ows/services/org.8.86186398-8516-4bcd-9d12-a9ea13329169_wfs?SERVICE=WFS&REQUEST=GetCapabilities&VERSION=2.0.0) on the Production OGC Validator. The test completed successfully and produced an HTML report.

![Screenshot 2022-04-12 at 12 50 11](https://user-images.githubusercontent.com/18121038/162954558-21b74e52-5418-4ab0-9ca0-9390857

[2022-05-02 09:41] Dnoack49 opened #226 "Direct WFS 2.0 Test - Spatial and Temporal Filter"
Dear community,

This issue includes the description of error-messages concerning the Spatial and Temporal Filter Conformance Classes.

**Temporal Filter**
While validating this [WFS](https://inspire.brandenburg.de/services/plu_bkt_jaenschwalde_wfs?service=WFS&version=2.0.0&request=GetCapabilities) (INSPIRE Annex Theme "Planned Land Use") using both, the _productive instance_ as well as the _stagi

[2022-05-02 12:53] dstenger commented on #226
Thank you for reporting.
Unfortunately, we currently cannot reproduce your problem as the provided service is not reachable.
Can you please bring the service back online so that we can check why the tests are failing?

[2022-05-02 13:44] Dnoack49 commented on #226
Indeed we had an internal problem and the service was down. It is up again for you to check.

[2022-05-02 16:24] dstenger commented on #226
Regarding `Temporal Filter`, it seems that the same fix as implemented in https://github.com/opengeospatial/ets-wfs20/issues/199 has to be applied for test `before Period`.

Regarding `Spatial Filter`, following request
* POST https://inspire.brandenburg.de/services/plu_bkt_jaenschwalde_wfs
[code]
returns a feature without geometry. This might be the root cause of the problem.

@bpross-52n Can you

[2022-05-03 13:34] dahermansson opened #227 "Wrong namespace (nts) on request parameter in filter for wfs 2.0"

[2022-05-03 18:47] dstenger commented on #227
I can confirm that several tests fail on Production (http://cite.ogc.org/teamengine/) and Beta (http://cite.ogc.org/te2/).

Following test fails several times:
property Is Not Like | java.lang.AssertionError: Unexpected HTTP status code. expected <br>[200] but found <br>[400]

[code]

and

[code]

This was already described in the description of this issue.

However, several other tests also fail

[2022-05-16 12:14] dstenger opened #228 "Method selectRandomFeatureIdentifiers can come into an endless loop"
The `while` loop in [DataSampler.selectRandomFeatureIdentifiers()](https://github.com/opengeospatial/ets-wfs20/blob/master/src/main/java/org/opengis/cite/iso19142/util/DataSampler.java#L145) can come into an endless loop when the same feature ids are used multiple times in a single feature type.

Proposed solution: Test suite fails when the same feature ids are used multiple times as the GML 3.2.1

[2022-05-16 12:15] dstenger commented on #228
GML 3.2.1 specification (OGC 07-036; 7.2.4.5):

![Screenshot 2022-05-11 at 09 53 45](https://user-images.githubusercontent.com/2989166/168590315-099e0430-c12b-4f3e-8739-56dd52df3d2d.png)

[2022-05-20 11:19] JohannaOtt commented on #225
Happening again right now
![grafik](https://user-images.githubusercontent.com/34163838/169517143-2e50097e-28aa-4053-9754-d3b085cfec27.png)

[2022-05-20 11:21] JohannaOtt commented on #225
Sorry - I might have used a DFT request instead of a GC one. So maybe need to take that back, but again, an error message would be nice to have if the link is not what the validator is expecting.

[2022-05-23 15:54] #228 closed

[2022-05-25 20:10] robblis commented on #199
Hi @dstenger

Wanted to add some more information that I'm still observing which was posted in issue #185 .

Testing the Direct WFS for the Sea Regions theme, I'm seeing generated in the "before Period" test the following GET request.

https://inspiredemo.esri.com/arcgis/rest/services/sr_test/MapServer/exts/InspireFeatureDownload/service?service=WFS&version=2.0.0&request=GetFeature&count=10&typena

[2022-05-25 20:17] robblis commented on #185
Hi @dstenger

Sorry, I had posted this also to #199 which is closed.

Wanted to check on this again and to add some more information that I'm still observing.

Testing the Direct WFS for the Sea Regions theme, I'm seeing generated in the "before Period" test the following GET request.

https://inspiredemo.esri.com/arcgis/rest/services/sr_test/MapServer/exts/InspireFeatureDownload/service?service=W

[2022-05-31 11:22] cportele commented on #185
@ghobona - Correct, if a time zone is specified in the predicate, the server has to take the timezone into account. Which is why the response of the server looks correct to me, although I have not analyzed this in detail.

The feature properties are:

* `beginLifespanVersion`: `2017-07-12T17:20:00-07:00`
* `endLifespanVersion`: `2017-07-12T18:00:00-07:00`

Since the server does not return the time

[2022-05-31 11:44] ghobona commented on #185
Thanks @cportele . That is a fair point.

@pvretanos, let us know if you have a different view.

[2022-06-08 21:23] robinhoutmeyers opened #230 "NullPointerException when running v1.38 of the WFS compliance test"
Hi, we have an automated test that runs the latest version of the WFS 2.0 compliance test against our WFS server implementation; this test started failing since v1.38, with the following exception:

CITE	>	[TestNG] Reporter com.occamlab.te.spi.executors.testng.EarlReporter@62fdb4a6 failed
CITE	>	java.lang.NullPointerException
CITE	>		at com.occamlab.te.spi.executors.testng.EarlReporter.isBasicConf

[2022-06-09 08:45] dstenger commented on #230
Thank you for reporting.
How do you execute the tests? REST Interface, Web Browser Interface, CLI or via Java directly?
Is it possible to provide a test service to reproduce the issue?

[2022-06-10 09:21] robinhoutmeyers commented on #230
Hi, I am running it through; however, I found out that the problem is the same as https://github.com/opengeospatial/ets-wfs20/issues/205; we've reverted to v1.37, which seems to work well.

[2022-06-10 10:37] dstenger commented on #230
Thanks for reporting back.
However, the CLI should also work with v1.38. We will take a look into this.
Can you please provide the command you used to execute the CLI? What content was provided by the used `test-run-props.xml`?

[2022-06-10 13:58] robinhoutmeyers commented on #230
This is the content of test-run-props.xml:

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties version="1.0">
  <comment>Test run arguments (ets-wfs20)</comment>
  <entry key="iut">GET_REQUEST_URL_REGEX</entry>
</properties>

This is the command that we use:

java -Duser.home=C:\Users\abc\wfs_cite_tests_home_dir -jar C:\Users\ab

[2022-07-18 13:21] Dnoack49 opened #231 "WFS 2.0 Test - Temporal filter (AfterTests) in US Theme"
Dear OGC-Community

after testing [this WFS](https://inspire.brandenburg.de/services/us-emf_depo_wfs?service=WFS&request=GetCapabilities) (INSPIRE Annex Theme "EnvironmentalManagementFacility" of us-govserv) against the WFS 2.0 class using both, the _productive instance_ as well as the _staging instance_ we receive the following **AfterTest**-errors for the **endLifespanVersion**-property in the *

[2022-07-25 08:20] ghobona commented on #182
@robblis We are not able to reproduce the issue. Please re-check if the problem is still occurring.

If we have not heard from you by August 15th, 2022 we will close this GitHub Issue.

[2022-07-25 08:36] dstenger commented on #184
We just checked on Beta (https://cite.ogc.org/te2/) if the NPE is still occurring and we can still reproduce it.
However, as @bpross-52n already mentioned, there is a problem with the HTTP status code `301 Moved Permanently` which might be the root cause of the NPE.
https://github.com/opengeospatial/teamengine/pull/513 describes how HTTP status code 301 is handled by TEAM Engine which might be mig

[2022-07-25 08:36] ghobona commented on #212
@Claudia-WE The test report does not seem to be available anymore.

Please provide us with the URL of the service under test? If we do not hear from you by August 14th, 2022 we will close this GitHub Issue.

[2022-07-25 22:17] robblis commented on #184
Hi @dstenger,

We just updated the configuration of this service to use https schema.

https://agsinspire1.esri.com/arcgis/rest/services/HYTest/MapServer/exts/InspireFeatureDownload/service?VERSION=2.0.0&SERVICE=WFS&REQUEST=GetCapabilities&LANGUAGE=&TYPENAMES=&MAXFEATURES=&COUNT=&f=image

We ran the WFS test again and we are still seeing many errors and the test is reporting that it is using the G

[2022-07-25 22:20] robblis commented on #182
Hi @ghobona ,

We've updated the service to use the HTTPS schema.

https://agsinspire1.esri.com/arcgis/rest/services/HYTest/MapServer/exts/InspireFeatureDownload/service?VERSION=2.0.0&SERVICE=WFS&REQUEST=GetCapabilities&LANGUAGE=&TYPENAMES=&MAXFEATURES=&COUNT=&f=image

We have a similar issue submitted here: https://github.com/opengeospatial/ets-wfs20/issues/184

We can probably close this current

[2022-07-26 10:57] dstenger commented on #182
Thanks for updating the test service.

Yes, can you please close this issue as a duplicate?

[2022-07-26 12:17] ghobona commented on #182
Thanks @robblis .

@dstenger Please close this issue as it is duplicating another.

[2022-07-26 15:12] robblis commented on #182
Closing as duplicate of #184

[2022-07-27 15:25] robblis commented on #184
Hi @dstenger,

Upon further assessment, we believe the issue is with our service and missing available feature types. We will address that in our service.

We still want to point out that the report still shows the wrong URL for POST requests.

We do have some other questions about some of the errors and may need assistance, but will submit new issues as needed.

Thanks for your patience and help,

[2022-07-27 15:25] #184 closed

[2022-07-29 23:54] robblis opened #233 "SR WFS Test - Reports invalid Geometry Operand"
Hi Validator Team,

We're testing our SR theme for the OGC WFS Validation.

We are getting some invalid Geometry Operand failures and some successes.
We're trying to understand what the issue could be.

The following shows the URL and POST body used for the test:

Method: POST
URL: https://inspiredemo.esri.com/arcgis/rest/services/sr_test/MapServer/exts/InspireFeatureDownload/service
Body:
<wfs:Ge

[2022-08-01 08:23] dstenger commented on #231
@Dnoack49
Yes, we are planning to alter the conformance tests. This will happen during the next months (approximately September - October).

[2022-08-01 14:23] dstenger commented on #233
Thank you for reporting.

I am able to reproduce your problem.

Indeed, this seems to be a bug being caused by the changes done in https://github.com/opengeospatial/ets-wfs20/pull/214.

The usage of dataSampler was introduced which is not filled with all relevant values.

https://github.com/opengeospatial/ets-wfs20/blob/cf61f9509a1a7cdaacf36a38508bc8c360585b86/src/main/java/org/opengis/cite/iso191

[2022-08-02 17:43] robblis opened #234 "GE WFS Test - non Specific BBOX Test - Unexpected Results"
One of the "non Specific BBOX" tests returns the following error in both the GET and POST test runs.
"Unexpected result evaluating XPath expression with context node wfs:FeatureCollection: //wfs:member/*"

Not sure if the test had a successful response. When running the GET request in a browser and runing the POST request in Postman, I see normal GML XML returned with content.

**GET request:**
ht

[2022-08-02 18:12] robblis opened #235 "GE WFS 2.0 Test - invalid Geometry Operand - java.lang.RuntimeException: Could not create envelope for feature type"
Within the WFS 2.0 test, the "invalid Geometry Operand" test fails for multiple feature types with the following error...

java.lang.RuntimeException: Could not create envelope for feature type: {http://inspire.ec.europa.eu/schemas/ge-core/4.0}GeologicEvent

We can run the POST request using Postman and we see normal GML XML records returned. We used the body from the test report and used the POST

[2022-08-03 17:10] dstenger commented on #234
Thank you for reporting.

We will do further investigation.

[2022-08-03 17:10] dstenger commented on #235
Thank you for reporting.

We will do further investigation.

[2022-08-11 09:13] Dnoack49 commented on #235
Hello,

I just wanted to add that we run into the same type of error for the following WFS 2.0 (INPIRE Planned Land Use):
https://inspire.brandenburg.de/services/plu_bkt_welzowsued1_wfs?service=WFS&request=GetCapabilities

This test had passed before but this time an error occurs for the FeatureType Official Documentation:
`java.lang.RuntimeException: Could not create envelope for feature type: {h

[2022-08-18 14:16] bpross-52n commented on #233
First of all, the URL that is specified for POST requests in the capabilities of the service **is** used for POST requests.

However, Two things are going wrong:
1. The wrong URL is shown on the test details page. This is due to a current limitation in Teamengine. We are creating an issue in the Teamengine repository for this.
2. Like @dstenger mentioned, there is a bug in the WFS 2.0 test suite.

[2022-08-24 18:04] robblis opened #236 "HY - intersectsCurve test seems to produce invalid gml:posList"
Hi OGC Validator Team,

We are testing our HY feature services.

We see the following test failure regarding Spatial Filter > intersectsCurve test.

The POST Body is the following...

<wfs:GetFeature xmlns:wfs="http://www.opengis.net/wfs/2.0" count="10" service="WFS"
                version="2.0.0">
   <wfs:Query xmlns:ns21="http://inspire.ec.europa.eu/schemas/hy-p/4.0"
              typeNames="ns

[2022-08-25 08:22] dstenger commented on #233
We created an issue for TEAM Engine describing the wrongly reported URL in HTML report: https://github.com/opengeospatial/teamengine/issues/555

[2022-08-25 08:31] dstenger commented on #235
Pull request was created to fix the problem: https://github.com/opengeospatial/ets-wfs20/pull/237

[2022-08-25 08:51] dstenger commented on #236
Thank you for reporting.
We will do further investigation.

[2022-09-09 11:03] jeanmichelfischer opened #238 "Test "Intersects Polygon" sends invalid geometry"
On the Tests "intersects Polygon" the tests send an invalid geometry for intersects. This is happening on wfs:FeatureType with geometrytype point.

The send geometry contains five identical points which is an invalid polygon/LinearRing due to https://portal.ogc.org/files/?artifact_id=25355 page 27:

And as well in 6.1.7.1

Possible solution:
If the test should select some features wich intersects,

[2022-09-12 11:46] mlcharv commented on #226
Hi,
We think we ran into this problem when validating [this WFS](https://contenido.ign.es/wfs-inspire/unidades-administrativas?service=WFS&request=GetCapabilities), as explained in this issue:
INSPIRE-MIF/helpdesk-validator#831
Just wanted to check if any progress has been made
Thank you!

[2022-09-27 15:42] dstenger commented on #238
Thank you for reporting.
We will do further investigation.

[2022-10-05 10:54] bpross-52n commented on #234
Hallo @roblis. When I tested the request, it returned an empty FeatureCollection. That's why the evaluation of the XPath expression fails. I tested also with the bounding box of the layer extent (180 90 -180 -90) and no features were returned.

Regarding the wrong URL in the report: That seems to be a bug in TEAM Engine, we have created an issue for this: https://github.com/opengeospatial/teamengi

[2022-10-05 22:15] robblis commented on #234
Hi @bpross-52n ,

We checked on the service and there was an issue with a configuration file that's been fixed. I ran the request again manually through Postman and features were returned. I then ran the WFS test in the validator again and this particular test has passed.
So, I think in this case we can mark this test closed.

[2022-10-06 08:07] #234 closed

[2022-10-06 08:08] dstenger commented on #234
Thank you for the feedback. So, we close this issue now.
If you have any further problems, you are welcome to open a new issue.

[2022-10-06 08:23] dstenger commented on #238
Might be related to https://github.com/opengeospatial/ets-wfs20/issues/236.

[2022-10-06 08:24] bpross-52n commented on #238
@jeanmichelfischer Could you maybe make the service accessible?

[2022-10-06 08:25] bpross-52n commented on #236
@robblis The service is currently not reachable. Could you provide the service again?

[2022-10-06 17:34] robblis commented on #236
Hi @bpross-52n,
Our apologies, the service is back online.

[2022-10-12 13:42] bpross-52n commented on #226
Regarding Temporal Filter, this will be fixed with https://github.com/opengeospatial/ets-wfs20/pull/241

Regarding Spatial Filter, this will be fixed with https://github.com/opengeospatial/ets-wfs20/pull/237

[2022-10-13 08:57] #212 closed

[2022-10-13 08:57] dstenger commented on #185
@mlcharv We are currently working on the problem. Please check this issue for further updates.

[2022-10-20 08:16] bpross-52n commented on #185
@JohannaOtt
Regarding the first point: This is fixed on the beta instance of Teamengine.

Regarding the second point: This will be fixed by #241, see also here: [comment](https://github.com/opengeospatial/ets-wfs20/issues/226#issuecomment-1276195224)

[2022-10-20 08:22] bpross-52n commented on #231
@Dnoack49 The temporal filter tests seem to be successful now on the beta instance, as well as the production instance of Teamengine. Could you maybe do another test run?

[2022-10-26 10:20] Dnoack49 commented on #231
@bpross-52n Thank you for the implementation. There are no more Errors within the **Temporal Filter** - Class.
However, now I receive an error under **get Features By Type** in **the Basic WFS** - Class

![grafik](https://user-images.githubusercontent.com/8046960/198001468-43d77ae3-b7fa-4d70-a543-5588d82f59c0.png)

This error did not appear before, so it is a subsequential error to be fixed.

[WFS

[2022-10-26 17:18] #235 closed

[2022-10-26 18:09] #223 closed

[2022-10-27 08:17] dstenger commented on #231
@Dnoack49 Thank you for reporting. Can you please open a new issue for the new problem?
Is the problem originally reported in this issue fixed for you? I propose to close it then.

[2022-10-27 08:42] bpross-52n commented on #230
@robinhoutmeyers The WFS 2.0 test suite in version 1.38 is using a new version of teamengine. The EarlReporter is now requiring a config.xml file, see also [here ](https://github.com/opengeospatial/ets-wfs20/issues/205#issuecomment-1018332964). You could specify another environment variable named TE_BASE specifying the directory, that contains the config.xml.

[2022-10-27 08:55] dstenger commented on #225
The test report must be improved in TEAM Engine itself. We created an issue for that: https://github.com/opengeospatial/teamengine/issues/559

We will try to improve the exception text in this issue. However, this won't change the behavior of the reports (so you will have to view the new error message in the detailed old test report).

[2022-10-27 09:31] #226 closed

[2022-11-03 09:33] dstenger commented on #230
@robinhoutmeyers We enhanced the documentation in https://github.com/opengeospatial/ets-wfs20/pull/245. Can you please check if that solves your problem?

[2022-11-03 11:16] ghobona commented on #198
The [GetFeature response](https://haleconnect.com/ows/services/org.874.c4108a11-bdbb-4461-8902-423531561a7e_wfs?service=WFS&version=2.0.0&request=GetFeature&count=10&typenames=ns36:PointObservation&namespaces=xmlns(xml,http://www.w3.org/XML/1998/namespace),xmlns(ns36,http://inspire.ec.europa.eu/schemas/omso/3.0),xmlns(wfs,http://www.opengis.net/wfs/2.0)) passes xsd-based validation on both Oxygen

[2022-11-04 12:56] #231 closed

[2022-11-10 09:33] bpross-52n commented on #224
@JohannaOtt The following request is sent to the service:
`
<wfs:GetFeature xmlns:wfs="http://www.opengis.net/wfs/2.0" count="10" service="WFS"
                version="2.0.0">
   <wfs:Query xmlns:ns75="http://inspire.ec.europa.eu/schemas/am/4.0"
              typeNames="ns75:ManagementRestrictionOrRegulationZone">
      <Filter xmlns="http://www.opengis.net/fes/2.0">
         <PropertyIsLessThan

[2022-11-11 12:26] ghobona commented on #224
@pvretano @cportele Looking at the example requests above, can PropertyIsLessThan be applied to Date literal values?

The FilterEncoding spec describes in chapter [7.7 Comparison operators](http://docs.opengeospatial.org/is/09-026r2/09-026r2.html#44) the different types of operators. PropertyIsLessThan is part of the [binary comparisons](http://docs.opengeospatial.org/is/09-026r2/09-026r2.html#48)

[2022-11-11 13:01] cportele commented on #224
@ghobona

I read section 7.7 differently. In general, the requirements are not as clear as they should be. But to me "mathematical comparison between two arguments" implies that the operators can be applied to all arguments for which there is a natural ordering of the values.

This is trivial for decimal numbers.

Implementations obviously have to support strings, too, since the matchCase attribut

[2022-11-14 12:45] dstenger commented on #236
@robblis We created a fix for your problem. Is it possible to bring the service back online so that we can verify if the fix solves your reported problem?

[2022-11-15 19:42] #236 closed

[2022-11-15 19:42] #238 closed

[2022-11-15 19:43] dstenger commented on #236
@robblis Thank you!
A functional test was successful and I merged the pull request.
We will install a new release of this test suite on Beta (https://cite.ogc.org/te2/) in the coming weeks.

[2022-11-16 00:14] robblis commented on #236
Hi @dstenger ,
Thanks for the fix. Please let me know when the new release is on Beta.

Robert

[2022-11-17 11:20] Ana-SGA opened #247 "INSPIRE WFS service fails for Temporal and Spatial Filter"
Dear all,

could someone take a look at these WFS services that fail OGC test on INSPIRE Validator regarding Temporal and Spatilal Filter:

- the first one http://servisi.azo.hr/inspire/geos1/lcv/wfs?service=WFS&version=2.0.0&request=GetCapabilities and the report https://inspire.ec.europa.eu/validator/test-run/details.html?id=EID85b62332-e4cb-4b74-bb70-0816ce5bfa2e and
- the second one http://ser

[2022-11-17 12:50] dstenger commented on #247
Thank you for reporting.

Can you please point out which tests you expect to be passed and which test do not have a understandable error message?

The error regarding `invalid Geometry Operand` might be related to issues #233 and #235 which are already fixed and will be installed on Beta environment (https://cite.ogc.org/te2/) soon.

[2022-11-17 15:38] #185 closed

[2022-11-18 16:14] dstenger commented on #247
Unfortunately, I cannot comment about the error messages of the INSPIRE validator and the provided links do not return a report.

When checking the provided services with TEAM Engine instance of OGC (https://cite.ogc.org/teamengine/), following error messages are returned for spatial and temporal filter:

Spatial filter:
[code]

Comment on failures:
1. Wrong HTTP status code is returned. It seems

[2022-11-21 08:57] Ana-SGA commented on #247
Dear @dstenger,
thanks a lot for commenting. I have attached reports from the INSPIRE Validator, seems that the errors are the same as with OGC validator. Concerning these errors (Spatial and Temporal Filter) we should fix them on our part, they aren't OGC Validators errors (except for the invalidGeometryOperand right? We really appreciate your help.
[ZA Github.zip](https://github.com/opengeospati

[2022-11-24 09:10] dstenger commented on #230
We decided to fix the problem in TEAM Engine so that is is not mandatory to reference an external config.xml anymore: https://github.com/opengeospatial/teamengine/issues/561

[2022-11-24 09:13] dstenger commented on #230
We decided to close the PR of this repo: https://github.com/opengeospatial/ets-wfs20/pull/245.
However, if you are interested, it describes a workaround for the problem (this comment must also be considered https://github.com/opengeospatial/ets-wfs20/pull/245#issuecomment-1316744224).

[2022-11-24 09:15] #230 closed

[2022-11-24 10:52] dstenger opened #248 "Enable support of WFS 2.0.2 and FES 2.0.2"
Currently, the test suite just support versions WFS 2.0.0 and FES 2.0.0.

Both, WFS and FES shall be updated to version 2.0.2.

Also see https://github.com/opengeospatial/ets-wfs20/issues/224#issuecomment-1311672294.

[2022-11-24 10:53] dstenger commented on #224
@cportele Thank you for the answer.

Sorry, but we have an additional question where we do not find a clear answer in the spec.
As reported in this issue, a request using a "property is less than" filter with temporal values also returns features which have a nil value in the requested property (here _beginLifespanVersion_; also see https://github.com/opengeospatial/ets-wfs20/issues/224#issuecomme

[2022-11-24 11:16] cportele commented on #224
@dstenger

No, they are not part of the result set (`NULL < 2020-08-15T00:00:00Z` evaluates to `NULL`).

You are correct, this is not explicit in FES, but basically implied by Filter being an XML encoding of a WHERE clause in an SQL SELECT statement. Again, we try to be more explicit [in CQL2](https://docs.ogc.org/DRAFTS/21-065.html#basic-cql2_filter-expression).

[2022-11-24 11:42] dstenger commented on #224
@JohannaOtt
Thus, we conclude that the features with nil values shall not be returned by the service when a "property is less than" filter is used. Please also consider https://github.com/opengeospatial/ets-wfs20/issues/224#issuecomment-1310008209.

I propose to close this issue as the problem is not located in the test suite. Are you fine with that?

[2022-11-24 12:52] JohannaOtt commented on #224
@dstenger As there is https://github.com/deegree/deegree3/issues/1422 for the issue now, I am fine with closing this one.

[2022-11-24 17:18] dstenger commented on #224
@JohannaOtt However, the problem with the nil value is not described in that issue (just that features with valid dates are not returned). If you are using deegree, can you please add that finding to the deegree issue?

[2022-11-30 09:59] dstenger commented on #236
@robblis We just updated Beta (https://cite.ogc.org/te2/) which now contains the fix.