[2014-07-14 17:58] rjmartell opened #1 "lockAllQueryResults_20Seconds: Stored query "GetFeatureByType" may not be implemented"
The (non-standard) stored query `urn:ogc:def:query:OGC-WFS::GetFeatureByType` is submitted when attempting to reset an expired lock. Since the SUT may not implement this, the equivalent ad hoc query should be used instead.

[2014-07-14 18:17] rjmartell opened #2 "lockAllQueryResults_20Seconds: Expects status code 400"
A service exception is expected indicating a `LockHasExpired` error. Table D.2 in the WFS 2.0 specification (OGC 09-025r1, ISO 19142:2010) maps this to status code 403 (Forbidden), but the test expects 400 (Bad Request). The error isn't really due to malformed syntax.

[2014-07-14 20:08] rjmartell opened #3 "lockSomeQueryResults: Requires that WFS has data for two feature types"
The `GetFeatureWithLock#lockSomeQueryResults()` test requires that the WFS under test has data for at least two feature types. It fails if this is not the case, or if the same feature type is (randomly) selected. The test should be revised to operate on only one feature type.

[2014-07-15 18:00] #1 closed, assigned to rjmartell

[2014-07-15 18:01] #2 closed, assigned to rjmartell

[2014-07-15 18:02] #3 closed, assigned to rjmartell

[2014-07-24 02:04] bermud opened #4 "Locking WFS - All tests fail"
The test **capabilitiesDescribesLockingWFS()** passes.

Then the test *_lockAllFeaturesByType() *_is skipped with the reason:

[code]

But there is definitely data
available for this FT (Basic and Simple pass, Transactional partly).

All other tests fail without a reasonable message:

[code]

Maybe a inherited error from the skipped **lockAllFeaturesByType() **tests?**

[Originally reported in the

[2014-07-24 22:01] bermud opened #5 "Infinite loop in selectRandomFeatureType(...)"
In the function **static QName selectRandomFeatureType(Map<QName,
FeatureTypeInfo> featureInfo)** in LockFeatureTests.java line: 247 in trunk
there is a loop:
while (!typeInfo.isInstantiated()) {
    typeInfo = values[randomIndex.nextInt(values.length)];
}
With some WFS configurations this loop will never end, and the tests hang
forever.
As a workaround I commented out the loop and everything was

[2014-07-24 22:05] bermud opened #6 "InsertResults/UpdateResults/ReplaceResults"
The InsertResults/UpdateResults/ReplaceResults elements are optional in the
spec:
15.3.2 TransactionResponse element
The root element of the response to a transaction request is called
wfs:TransactionResponse.
The following XML Schema fragment declares the wfs:TransactionResponse
element:

[code]

15.3.4 InsertResults element
""If a transaction request contains insert, update and/or replace action

[2014-07-24 22:21] bermud opened #7 "WFS-T wrong check for deleted property value"
in the WFS-transactional tests TE sends the following Update request:

[code]

as you can see the is empty and after that this field is empty in the
database. The SUT answers:

[code]

OK.

Then TE send a GetFeature request:

http://services.interactive-instruments.de/cite2013tp/cgi-bin/sf/wfs?service=W
FS&version=2.0.0&request=GetFeature&count=10&startindex=0&storedquery_id=urn:o
gc:def:query:OGC

[2014-07-24 22:29] bermud opened #8 "WFS-T misquoted literal"
Test (I guess it is: ""updateGMLName") crashes, see below:

[code]

[code]

[Originally reported in the OGC CITE issue tracker: issue #947](https://portal.opengeospatial.org/services/srv_public_issues.php?call=viewIssue&issue_id=947)

_Opened: 2014-04-24 07:35:38 Last Updated: 2014-06-09 11:47:28_

[2014-08-06 14:15] jeanmichelfischer opened #9 "Error parsing media type"
The Tests:
describeAllFeatureTypes(GET)
and
describeAllFeatureTypes(POST)

throw this exception:

*_java.lang.IllegalArgumentException: Error parsing media type 'text/xml; subtype=gml/3.2.1;' *_

for "media type" I tried as well:

text/xml; subtype=gml/3.2.1
and
text/xml; subtype=gml/3.2.1; charset=utf-8;

but the same exceptions occur.

By the way we would like to respond with **"text/xml; subtyp

[2014-08-19 20:40] #9 closed, assigned to nobody

[2014-08-19 20:44] #4 closed, assigned to rjmartell

[2014-08-19 20:44] #5 closed, assigned to nobody

[2014-08-19 20:44] #6 closed, assigned to rjmartell

[2014-08-19 20:48] #7 closed, assigned to rjmartell

[2014-08-19 20:48] #8 closed, assigned to rjmartell

[2014-09-16 08:06] tpenev opened #10 "WFS updateGMLName fails"
Hi,

we are experiencing some issues with org.opengis.cite.iso19142.transaction.Update.updateGMLName(ProtocolBinding, QName). The problem is that the test suite makes first an update of the gml:name property, setting it to “Ce n'est pas Vieux-Port de Montréal!”. This is then followed by a query of the same feature where the gml:name value is checked with an XPath expression. In https://github.com/

[2014-09-17 20:23] bermud opened #11 "Update documentation to tell the implementer about conformance classes run"
Provide information and examples of how to specify the service constraints in the GetCapabilities that will let the test know what will be executed.

[2014-09-17 20:28] bermud opened #12 "Move the basic conformance class to vote and production"
- [x] Send to CITE SC (Oct 17 2014)
- [x] Wait until Oct 24 2014
- [x] Start electronic vote
- [x] Approved by TC March 4
- [x] Test in OGC production March 6

[2014-10-08 06:27] JulienCharon opened #13 "GetFeatureWithLockTests.lockSomeFeatures() is not deterministic"
The test is supposed to send 2 GetFeatureWithLock requests with 10 randomly selected feature ids. To achieve this, util method WFSRequest.addResourceIdPredicate(Document, Set<String>) is used, but in that method there is a check that requires the request to be a GetFeature request, which is always false for a GetFeatureWithLock request.
As a consequence, the feature ids are never added in the requ

[2014-10-08 18:53] rjmartell opened #14 "Exception thrown when using the Saxon XPath processor"
When the Saxon XPath processor is made available (on the classpath), the test run terminates with an exception. The root cause is:

[code]

The Document node passed as the argument to the validateTestRunArgs method is of type `net.sf.saxon.dom.DocumentOverNodeInfo` (which was created while executing the main XSLT template).

**Note**: When the validateTestRunArgs method is not invoked, the test su

[2014-10-09 22:05] #14 closed, assigned to rjmartell

[2014-10-10 15:52] #10 closed, assigned to nobody

[2014-10-10 18:37] #13 closed, assigned to nobody

[2014-10-10 20:00] #11 closed, assigned to nobody

[2015-03-28 02:07] #12 closed

[2015-07-20 21:07] bermud opened #16 "Update configuration so CTL wrapper script appears in wfs directory"
Currently wfs 2.0 appears in its own directory.

...
├── wcs
│   └── 1.0.0
├── wfs
│   ├── 1.0.0
│   └── 1.1.0
├── wfs20
│   └── 2.0.0

It should appear under the wfs directory.

[2015-07-20 21:14] bermud opened #17 "Failed to connect to the EPSG database"
Running locally the final report just says everything PASSED, but also that all tests were skipped (89 of them), a  EPSG db initialization errors shown. What is the issue?

[code]

[2015-08-14 19:17] rjmartell commented on #17
The `derby-10.*.jar` file needs to be on the classpath. When run via the web app (which seems to be the case here), it must be available to the common classloader (in CATALINA_BASE/lib) and **not** in WEB-INF/lib.

Note that the EPSG database should be automatically created if it doesn't already exist. The system property `-Dderby.system.home` should refer to the Derby system directory that contai

[2015-08-14 19:33] #16 closed

[2015-10-22 23:06] #17 closed

[2015-11-06 11:32] bermud opened #18 "Deegree not passing revision 1.20"
Deegree server [1] is failing the test. Other reference implementations [2] are passing.

[1] http://cite.deegree.org/deegree-webservices-3.3.14/services/wfs200?
[2] https://github.com/opengeospatial/cite/wiki/Reference-Implementations

[2015-11-06 19:04] rjmartell commented on #18
This issue pertains to a particular service implementation, not the test suite per se. Other reference implementations are known to pass without any errors.

Several response entities appear to be not well-formed.

[2015-11-18 11:22] jmfischer opened #19 "Some tests are too "greedy" and produce skip verdicts"
We have an example Application Schema for training and testing purposes called "simpleDemo". There are four FeatureTypes in it: City, District, State and River. The FeatureTypes are somehow connectet to each other (embedded Features, references etc.).

Now the "Basic" test is never going to 100%, because the test expects on **every** FeatureType *numerical* or *temporal* and as well *nilable* prop

[2015-11-18 11:31] jmfischer commented on #18
In [2] **GML 3.2.1 Interactive Instruments XtraServer 4.4** the url is:

http://services.interactive-instruments.de/cite2013wfs/simpledemo/cgi-bin/cities-postgresql/wfs?request=GetFeature&service=WFS&version=2.0.0&TYPENAMES=ci:City&COUNT=10&NAMESPACES=xmlns%28ci,http://www.interactive-instruments.de/namespaces/demo/cities/4.0/cities%29

[2015-11-27 23:44] rjmartell commented on #19
You mean that some tests in the Basic conformance class are skipped? For example:

    Feature type has no nillable properties: {http://www.interactive-instruments.de/namespaces/demo/cities/4.0/cities}State

It should be possible to ignore feature types that don't qualify by using a more specialized data provider that filters out non-applicable feature types. In this case, ignore feature types tha

[2015-11-30 12:53] jmfischer commented on #19
Yes, I meant the example you are given above.

Does the "skipping" has any impact on getting certified in the Basic conformance class? If this is not the case it can stay as it is, but if Basic is not accepted because of the "skipping" this should be fixed.

[2015-11-30 18:18] bermud opened #20 "Update test suite for 2.0.2 corrigendum"
Allow testing a server with 2.0.0 and 2.0.2.

[2015-11-30 19:09] rjmartell commented on #19
A skip verdict here should have no bearing on a conformity assessment as long as the test was run and passed at least once. However, since support for this predicate is required for Basic conformance, if no feature type for which instances exist has nillable properties then a fail verdict should result (i.e. unable to test required functionality). This won't happen currently, so the test class `Pr

[2015-12-01 22:32] rjmartell commented on #20
Section _vii._ of the [latest WFS 2.0 revision](http://docs.opengeospatial.org/is/09-025r2/09-025r2.html) lists the CRs processed in this corrigendum. The schema is available in the [OGC schema repository](http://schemas.opengis.net/wfs/).

[2015-12-08 16:12] bermud commented on #18
Simple is passing. Deegree is not implementing other conformance classes.
@rjmartell,  should we have a selection for implementers when starting the test, that they only want to test for the simple conformance class

[2015-12-08 17:35] bermud commented on #20
Let's wait for testbed 12, since work on WFS 2 will be advanced.

[2015-12-14 08:57] dstenger commented on #18
there were small fixes necessary for four tests which fail the Basic CC. These have already be done and will be part of the next upgrade of the reference implementation. The other four failures can be solved via configuration.

Is there anything further we can do?

[2015-12-14 14:32] bermud commented on #18
@rjmartell, please improve the test so implementers can pick the conformance classes they want to test, if not provided, then configure a good default.

[2015-12-15 18:13] rjmartell commented on #18
The capabilities document must identify the implementation status of all conformance classes as required by the WFS 2.0 spec (OGC 09-025r1), Table 13. This list determines which tests are run.

[2015-12-15 20:18] rjmartell commented on #19
If the `PropertyIsNil` predicate cannot be tested (because no features exist with a nillable property), then an assertion error is thrown with the following message:

    Unable to test required capability: PropertyIsNil. No feature type for which instances exist has nillable properties.

[2015-12-15 20:48] #19 closed

[2015-12-17 17:13] rjmartell opened #21 "Promote preconditions to test methods"
The test run preconditions are currently implemented as configuration (@BeforeSuite) methods in the `org.opengis.cite.iso19142.Prerequisites` class. If any of these fail, all tests are skipped. However, a failing config method is not displayed by default in the HTML report--the "Config" checkbox must be selected to view them.

It would be better to promote these checks to test methods placed in a

[2015-12-17 22:43] rjmartell commented on #21
One disadvantage of the suggested approach is that the precondition tests must be associated with a `<test>` tag (conformance class). That is, each precondition may be run (unnecessarily) multiple times. It might be better to add the preconditions to a mandatory conformance class and set a flag which is then read to determine whether other conformance classes are run or skipped.

[2015-12-17 23:21] bermud commented on #21
Maybe call it: preconditions conformance class.

[2015-12-18 00:12] rjmartell commented on #21
That would be one approach, but the problem of signalling an unsatisfied precondition between conformance classes remains. Since there is always at least one mandatory conformance class, including the preconditions there makes sense. For example:

[code]

If a test method in `SuitePreconditions` detects that a precondition is not satisfied, then a suite  attribute is set like so:

    testContext.

[2015-12-18 15:38] bermud commented on #21
Maybe, instead of packaging the preconditions as a conformance class, make them part of the most basic mandatory conformance class.

[2016-01-08 21:58] rjmartell opened #22 "unknownFeatureIdentifier test should expect exception"
The `unknownFeatureIdentifier` test (in org.opengis.cite.iso19142.basic.filter.ResourceIdOperatorTests) submits a request where the RESOURCEID parameter value does not match any feature. However, the TYPENAMES parameter is also present, which suggests the correct response is an exception report according to cl. 7.9.2.4.1:

Currently the test expects a normal (200) response containing an empty wfs:

[2016-01-08 22:02] rjmartell commented on #22
A possible fix is to remove the (optional) TYPENAMES parameter from the request. Another test (`inconsistentFeatureIdentifierAndType`) should then be added to check for the exceptional condition.

[2016-02-11 21:35] rjmartell commented on #21
The advantage of breaking out the preconditions into a separate `<test>` group is to make them more visible in the report.

[code]

If a precondition is not satisfied, it is added to the value of the "failed-preconditions" attribute, and this is checked in subsequent BeforeTest methods in other conformance classes.

[code]

[2016-02-12 18:18] #21 closed

[2016-02-12 20:34] rjmartell commented on #22
Removed the **typeNames** parameter from the `unknownFeatureIdentifier` test, since it is not required when **ResourceId** is given. Added new test `inconsistentFeatureIdentifierAndType` to elicit an exception report when these parameters are both present but are not consistent.

[2016-02-12 20:35] bermud commented on #21
How can differentiate these "Preconditions" from a conformance class. Both from a user interface point of view and a program parsing the results?

[2016-02-13 00:06] rjmartell commented on #22
From cl. 7.9.2.4.1 in the WFS 2.0 specification:

[2016-02-13 00:11] #22 closed

[2016-02-15 22:00] rjmartell commented on #22
Reintroduce the typeNames param, since it is required in XML request entities. This is an inconsistency in the spec which should be the subject of a CR.

Also, this statement appears to apply only to identifiers _for which features instances exist_:  "If both the TYPENAMES and RESOURCEID parameters are specified then all the feature instances identified by the RESOURCEID parameter shall be of the

[2016-02-16 19:10] rjmartell commented on #18
There is an issue with some _Basic WFS_ tests in the current test suite release (1.21). For example, this GET request

    http://cite.deegree.org/deegree-webservices-3.3.14/services/wfs200?service=WFS&version=2.0.0&request=GetFeature&count=10&startindex=0&typenames=ns73:ProtectedSite&namespaces=xmlns%28xml,http://www.w3.org/XML/1998/namespace%29,xmlns%28ns73,urn:x-inspire:specification:gmlas:Prot

[2016-02-16 19:18] rjmartell commented on #18
Also, a new test (inconsistentFeatureIdentifierAndType) is skipped because there are data for only one feature type. This test tries to set the `ResourceId` param value for an instance that does **not** match the specified type (an exception is expected); instances for at least two feature types must be available to run this test.

[2016-02-24 09:10] geszter opened #23 "SOAP response is not evaluated correctly for describeAllFeatureTypes"
When SOAPEncoding is set to true, the request is made as a SOAP request, however, the response is not evaluated accordingly and fail. According to the specification when a DescribeFeatureType request is made as a SOAP request, the response should be base64 encoded, but the test evaluates this as a failure.

[code]

[2016-03-14 21:09] rjmartell commented on #20
The WFS 2.0.2 corrigendum ([OGC 09-025r2](http://docs.opengeospatial.org/is/09-025r2/09-025r2.html)) includes clarifications and corrections arising from several change requests. Update the test suite accordingly.

[2016-03-14 21:23] rjmartell opened #24 "Test AutomaticDataLocking capability"
There are no tests for `AutomaticDataLocking`. See cl. [15.2.3.1.1](http://docs.opengeospatial.org/is/09-025r2/09-025r2.html#276) (Declaring support for locking).

[2016-03-14 21:47] rjmartell commented on #23
Noted in D.4.5 (Encoding XML Schema in a SOAP Body), although how including an XML Schema in the body "may cause several problems" is a mystery.

[2016-03-31 06:03] JulienCharon opened #25 "PropertyIsNilOperatorTests.propertyIsNil (HTTP POST) sends invalid request"
Our WFS offers instances of 2 feature types. When running the test suite, the POST version of Basic WFS test _Property Is Nil_ fails because it sends an invalid request:
[code]

According to [query schema](http://schemas.opengis.net/filter/2.0/query.xsd), an AbstractAdhocQueryExpressionType can only contain a single AbstractSelectionClause (i.e. FIlter) or none at all. The one sent contains 2 of t

[2016-03-31 18:43] rjmartell commented on #25
The `propertyIsNil` test (in PropertyIsNilOperatorTests) iterates through nillable properties found in the app schema. However, the request entity is not being reset between requests so all requests after the first one are “polluted” with previous queries.

[2016-04-15 19:23] bermud opened #26 "Skipping tests do not provide useful information"
While testing some WFS services, the tests script skips all the tests, even though the capabilities document is valid. Please fix to report properly the error and provide more useful information to the service providers. Server example includes:

http://wxs.ign.fr/kolx1l3kzyi3tw8p7r1p36e7/inspire/wfs?SERVICE=WFS&VERSION=2.0.0&REQUEST=GetCapabilities

http://wfs.geonorge.no/skwms1/wfs.elf-ad?servic

[2016-04-19 21:25] rjmartell commented on #26
The current release is 1.21, which should show a separate test group for preconditions.

![ets-wfs20-26](https://cloud.githubusercontent.com/assets/1653506/14656096/6f6ecc96-063a-11e6-9b03-b35ec37cc8db.png)

A more informative error message is now provided.

[2016-04-19 21:34] #26 closed

[2016-05-02 17:25] #25 closed

[2016-05-05 15:08] bermud opened #27 "Wrong color of verdict when skipping"
When running this WFS the results seem ok but the color of one conformance class in the left pane is not ok. It appears green, when it has skipped all the tests.

http://wxs.ign.fr/kolx1l3kzyi3tw8p7r1p36e7/inspire/wfs?SERVICE=WFS&VERSION=2.0.0&REQUEST=GetCapabilities

Message d1e210_1:
   Test suite: wfs20-1.21.1
======== Test groups ========
Preconditions
    Passed: 2 | Failed: 1 | Skipped: 0
Al

[2016-05-06 21:49] rjmartell opened #28 "Add tests for spatial joins"
The relevant conformance class is **Spatial joins**: "The server shall implement join predicates using spatial operators." See A.1.12.

All tests are skipped if the service constraint `ImplementsSpatialJoins` is "FALSE" in the capabilities document.

[2016-05-06 21:51] rjmartell opened #29 "Add tests for temporal joins"
The relevant conformance class is **Temporal joins**: "The server shall implement join predicates using temporal operators." See A.1.13.

All tests are skipped if the service constraint `ImplementsTemporalJoins` is "FALSE" in the capabilities document.

[2016-05-06 21:55] rjmartell opened #30 "Add tests for standard joins"
The relevant conformance class is **Standard joins**: "The server shall implement join predicates using all Filter operators except the spatial and temporal operators." See A.1.11.

All tests are skipped if the service constraint `ImplementsStandardJoins` is "FALSE" in the capabilities document.

[2016-05-16 15:21] bermud opened #31 "Provide a WFS 2.0 test instance to support joins"
Spatial Joins - intersects (plan to have the test ready: 20160516-20160531)

[2016-06-01 14:49] dstenger commented on #31
We recently finished implementing Spatial Joins with the Intersect operator. This feature will be provided on the demo environment [1] when the next release is created.

We will continue working on implementing further operators for Spatial Joins.

[1] http://ogctestbed12.lat-lon.de/deegree/services/wfs?service=WFS&request=GetCapabilities

[2016-06-06 10:28] dstenger opened #32 "Test lockSomeFeatures sends invalid GetFeatureWithLock request"
The Test lockSomeFeatures sends a request with two Filter:
[code]

In org.opengis.cite.iso19142.locking.GetFeatureWithLockTests.lockSomeFeatures() first Q1 is requested by adding a Filter using org.opengis.cite.iso19142.util.WFSRequest.addResourceIdPredicate(), this is repeated in the second part of the test requesting Q2.

org.opengis.cite.iso19142.util.WFSRequest.addResourceIdPredicate() does no

[2016-06-06 10:46] dstenger opened #33 "Order of locking tests results in unexpected test results"
We are wondering if the execution oder of the locking tests has side effects on the test results. Here, an example assuming a WFS providing one FeatureType:

First, the test lockAllFeaturesByType is executed:
- Parameters: GET , {​http://www.deegree.org/app}gns_iceland
- Start time: 11:32:30
- End time: 11:32:34

All features are locked until now for 5 Minutes (the default value for expiry; as it

[2016-06-06 11:30] dstenger opened #34 "Test "update Simple Property Value" does not consider decimal data type (plus various others)"
If the test "update Simple Property Value" tries to update a property with data type decimal, an empty value is inserted as the data type is not supported by the ETS.

The relevant method is #newPropertyValue in [1]. The data types string, datetime and double are considered but other data types are missing.

Example for generated request:
[code]

[1] https://github.com/opengeospatial/ets-wfs20/blo

[2016-06-07 08:31] dstenger opened #35 "Test "updateGMLName" expects encoded string in gml:name element"
The ETS sends following request in test "updateGMLName":

[code]

deegree returns following in GetFeature request:

[code]

Nevertheless, the test suite fails with following error:

[code]

We assume that the test uses the encoded string to do the assert (after having analysed the code), but the decoded string should be valid as well.

What do you think about it?

[2016-06-20 13:09] lgoltz opened #37 "Invalid GML geometry if server locale is DE"
If the locale of the server running the teamengine is DE some tests failes due to invalid GML geometries:

Here an example request from the test _intersectsPolygon_:

[code]

The gml:posLists contains a list of coordinates with commas instead of of points.

The following tests are concerned:
- bboxWithDefaultExtent
- invalidGeometryOperand
- nonSpecificBBOX
- intersectsPolygon

All of them creates

[2016-06-21 13:18] jeanmichelfischer opened #38 "ResourceIdFilterTests.inconsistentFeatureIdentifierAndType and POST Requests"
ResourceIdFilterTests.inconsistentFeatureIdentifierAndType(...)

This test does not seem valid to me in case of POST (XML) Requests.

**Reasons:**
1. Section 7.9.2.4.1 refers only and exclusively to the KVP encoding:
   _"For KVP-encoded ad hoc query expressions the typeNames parameter shall be encoded using the TYPENAMES keyword (see Table 8). The TYPENAMES parameter is mandatory in all cases exc

[2016-06-22 07:46] lgoltz opened #39 "Schematron validation fails if resolve parameter is configured globally"
The tests "getFullCapabilities" and "capabilitiesDocCorrespondsToWfsSimple"  fails with the following exception:

[code]

The resolve parameter is configured globally not for the GetFeature operation, it seems that the validation does not check this option.

WFS: http://ogctestbed12.lat-lon.de/deegree/services/wfs?service=WFS&request=GetCapabilities

[2016-06-27 09:11] dstenger commented on #28
We have tested the current status of the Spatial Joins CC ETS. This are our results.

Method #findGeometryPropertiesToJoin [1] finds all geometry properties which can be used to execute a Spatial Join.
Why are the considered geometry data types limited to "AbstractSurfaceType", "AbstractCurveType" and "PointType"? For example, a feature type with geometry data type "GeometryPropertyType" is skippe

[2016-07-07 09:35] lgoltz commented on #31
Implementation of Spatial Joins was finished. Service: http://ogctestbed12.lat-lon.de/deegree/services/wfs?service=WFS&request=GetCapabilities

[2016-07-07 09:37] #31 closed

[2016-07-11 15:41] dstenger commented on #18
deegree 3.3.14 is not passing all Basic CC tests and those failures are known issues. Just the Simple CC is passing.

[2016-07-11 15:41] #18 closed

[2016-07-11 22:07] rjmartell commented on #32
In the second request the filter from the previous request was not cleared. Fixed in 1.23.

[2016-07-11 23:12] #32 closed

[2016-07-11 23:20] rjmartell commented on #33
Perhaps it would be better if each test class released all locks in an @AfterClass: method. Then there should be no interactions.

[2016-07-12 19:27] rjmartell commented on #34
Yes, more cases need to be added to to the `newPropertyValue` method.

[2016-07-12 20:08] rjmartell commented on #34
Fixed xsd:dateTime. Added support for xsd:date, xsd:decimal, xsd;anyURI, xsd:boolean

[2016-07-12 21:02] #34 closed

[2016-07-14 05:53] dstenger opened #40 "NullPointerException occurs if returned GML contains special characters"
This error just occurs on:
- http://cite.opengeospatial.org/teamengine
  The error does not occur on our locally installed TEAM Engine instance.

If following service is tested, the main method of the ETS throws a NullPointerException:
- http://ogctestbed12.lat-lon.de/deegree/services/wfs?service=WFS&request=GetCapabilities

NullPointerException:

[code]

As you can see in testng/b8248e18-9d5d-4f0

[2016-07-14 06:12] dstenger commented on #40
This issue could be related to https://github.com/opengeospatial/ets-wfs11/issues/55.

[2016-07-14 08:38] lgoltz opened #41 "Assertion of the test "update Simple Property Value" is too strict"
Since the fix in #34 also decimal types are handled and properties with this type are updated. This leads in our case to another problem. The test fails with the following reason:
[code]
The feature contains "515609.0" after the update (and before reset):
[code]

It seems, that a the differences in the notation of the decimal (with/without second 0) causes the assertion failure.

[2016-08-02 22:23] rjmartell commented on #41
A string comparison is being done here, not a numeric one. The assert should be modified to include datatype info so a cast can be performed if necessary.

[2016-08-03 19:37] #41 closed

[2016-08-08 08:48] lgoltz opened #42 "Test beforePeriod fails sometimes"
The test beforePeriod in Temporal filter CC fails sometimes.

The test was applied to [1] , feature Type _gns_iceland,_ property _modify_date_. The date property  contains data from _1994-01-14_ to _2015-07-22_. The request send by the ets-wfs20 is

[code]

The WFS responses with an empty FeatureCollection as expected. The test should skip the oldest date property to avoid test failures. The test

[2016-08-09 09:04] lgoltz opened #43 "ComparatorTests fails if xsd:date properties are used"
The following tests fails if a date property is used for testing:
- propertyIsLessThan_match Any
- propertyIsLessThan_match All
- propertyIsGreaterThanEqualTo_match Any
- propertyIsLessThanEqualTo_match Any

Failure:

[code]

The XPath expression created for the assert is invalid cause of the timestamp appended to the date.  The property value used in the assert (as well as in the filter of the re

[2016-08-10 12:38] keshav-nangare opened #44 "WFS20 Test Failed with "Missing reference to GML document or application schema" in beta server"
Test: WFS2.0 version=1.22

Beta Server: http://cite.opengeospatial.org/te2/

Test URL: http://services.interactive-instruments.de/cite-xs-46/simpledemo/cgi-bin/cities-postgresql/wfs?request=GetCapabilities&service=wfs

Here is the session log.
[s0038.zip](https://github.com/opengeospatial/ets-wfs20/files/411031/s0038.zip)

[code]

[2016-08-15 07:41] dstenger opened #45 "ETS modifies data of tested server"
Currently, the ETS modifies data of the tested server via WFS-T interface.
The ETS should undo all changes as test suites should not actively manipulate IUTs.

For example, a self join request with the touches operator returns more tuples after the ETS was executed.

[2016-08-15 14:03] dstenger opened #46 "Test 'verify GML Object Property Pattern' fails if property with type 'gml:TimePeriodType' exists"
Test 'verify GML Object Property Pattern' fails if a property with type 'gml:TimePeriodType' is returned by DescribeFeatureType request.

Example of DescribeFeatureType response:
[code]

Following error message is returned:
[code]

GML 3.2.1 specification says following:
[code]

period is of type 'gml:AbstractGMLType' (when the hierarchy is resolved beginning at 'gml:TimePeriodType'). This does no

[2016-09-02 21:04] rjmartell commented on #45
The intent is that all changes are undone when the test methods in a class are finished (`@AfterClass`). For example:

* InsertTests::removeNewFeatures
* DeleteTests::restoreDeletedFeatures
* ReplaceTests::restoreModifiedFeatures
* Update::restoreModifiedFeatures

Warnings should appear in the ETS log file if any of these cleanup methods do not succeed. Are there any log entries indicating this is

[2016-09-02 21:17] rjmartell commented on #46
A temporal property element cannot itself be a GML object. Use `gml:TimePeriodPropertyType`. See Table 6: Predefined formal temporal property types.

    <element name="period" minOccurs="0" type="gml:TimePeriodPropertyType" />

[2016-09-02 21:37] rjmartell commented on #44
Since release 1.23 the SuiteFixtureListener in the GML test suite is no longer run. The current release is [1.24](/opengeospatial/ets-wfs20/releases/tag/1.24).

[2016-09-23 14:53] vleidl opened #47 "Enable HTML Reports"
Is there a way to enable HTML reports for a test run? All that seems to be generated at the moment is `testng-results.xml`. Looking at `TestNGController.java`, I can see the default listeners are disabled.

[2016-10-11 06:28] dstenger commented on #46
We changed the type of "period" to "gml:TimePeriodPropertyType" as you proposed.

Now, test "verify GML Object Property Pattern" does not fail any more.

[2016-10-11 06:28] #46 closed

[2016-10-13 05:45] dstenger opened #48 "Some temporal filter tests fail with property of type gml:TimePeriodPropertyType"
Following test fail with property of type gml:TimePeriodPropertyType:
- after Instant
- after Instant With Offset
- after Period
- before Period
- during Period

Error message:

[code]

Analysis:
In org.opengis.cite.iso19142.util.DataSampler#getTemporalExtent() an error occurs:

[code]

This leads to the fact that TreeSet<TemporalGeometricPrimitive> tmSet is empty and the previously described erro

[2016-10-13 05:54] dstenger opened #49 "Is test supportedStoredQueryLanguages required?"
Currently, the test supportedStoredQueryLanguages in "Manage Stored Query"-CC fails against service [1]. The service does not describe the parameter language of the operation CreateStoredQuery.

In the specification we do not find a hint why this is mandatory in the capabilities:

[code]

[code]

[code]

[1] http://ogctestbed12.lat-lon.de/deegree/services/wfs?service=WFS&request=GetCapabilities

[2016-10-13 10:16] vleidl opened #50 "GML Axis Order"
I seem to be having a problem with some of the tests in `IntersectsTests.java` and how they interpret the axis order in the GML returned by the server. The response returns the coordinate data of GML geometries in the following form:

[code]

The data is represented in EPSG:4326. As far as I understand, this should be interpreted as latitude-longitude, rather than the other way around. However, I

[2016-10-17 08:05] vleidl commented on #50
Turns out it was the latter. Never mind. The axis order doesn't actually affect the outcome of the test.

[2016-10-17 08:05] #50 closed

[2016-10-17 12:32] dstenger opened #51 "Test deletedFeatureIsRetired (Feature versions) requests wrong version of feature"
We detected a bug in test deletedFeatureIsRetired.
The test deletedFeatureIsRetired requests the last version of a feature after having deleted it. The parameter version="LAST" is used for that.

The problem is that the test does not request the last version as version="LAST" is set after the request has already been sent.

Line 243 - 245 of VersioningTests [1] are relevant:

[code]

[1] org.openg

[2016-10-17 12:47] dstenger opened #52 "Test updatedVersionHasSupersededPredecessor (Feature versions) requires optional attribute"
Test updatedVersionHasSupersededPredecessor requires the optional attribute "previousRid".

The test checks whether the response contains the attribute "previousRid" after an update request has been executed.

In the WFS 2.0 specification "previousRid" is not mentioned.

The FE 2.0 specification states the following (7.11.2 Encoding, p. 31):
[code]
This confirms that "previousRid" is an optional a

[2016-10-17 13:09] dstenger opened #53 "Test replacementVersionHasNoSuccessor (Feature versions) sets wrong attribute value for gml:id in filter expression"
Test replacementVersionHasNoSuccessor randomly selects a feature and replaces it with a new feature (replace request).
When the new feature is generated the attribute gml:id is set to "id-CURRENTTIMESTAMP".
Then, the replace statement is created using a filter expression with the previously generated gml:id.

Of course, a feaure with the gml:id containing a timestamp does not exist.
Instead, the o

[2016-10-17 13:59] dstenger opened #54 "Test updateSupersededVersion (Feature versions) is not backed by specification"
Test updateSupersededVersion is not backed by WFS 2.0 specification.

This test updates a superseded feature and expects an exception in the response.
This behaviour is not defined in WFS 2.0 specification.
Thus, it should not be tested by the test suite.

For example, the deegree WFS 2.0 RI candidate currently ignores the passed version value if a superseded version is updated. Instead, the valid

[2016-10-17 16:49] rjmartell commented on #51
There are two steps in this test:

1. Submit a transaction request to delete a feature instance; the response must report totalDeleted=1 (and the server updates its status)
2. Submit a query to retrieve the LAST version in the version chain

The second request is filtering the version chain, the last member of which should be "retired" because the feature was previously deleted. The version chain

[2016-10-17 17:35] rjmartell commented on #52
Hm, it seems that we may have a different understanding of what the optional attributes in fes:ResourceId imply,

We know that WFS2-A.1.14 refers to A.2.11 (Versioning), which in turn depends on FES2-A.11.
Also, WFS2-A.2.11.2 does not restrict the use of any of the "version navigation controls" specified in FES2 so full support is implied.

Now consider FES2, Table 1: "Implements ResourceId operat

[2016-10-17 17:44] rjmartell commented on #52
Ah, there is a typo in the WFS 2.0.2 spec. In cl. 15.3.5 (UpdateResults element):

feature and the oldRid attribute whose value shall be the identifier of previous version.

There is no "oldRid" attribute in fes:ResourceId; this should be "previousRid".

[2016-10-17 20:07] rjmartell commented on #53
The first transaction request sets a dummy feature id and the server reports the assigned id in the response; this server-generated id (@rid) is then extracted and used in the subsequent query to fetch the NEXT version, which shouldn't exist because the given id should correspond to the LATEST version.

Is this not the case? What error message is produced?

[2016-10-17 20:29] rjmartell commented on #54
The update action shouldn't be duplicated--I'll fix that.

Note this statement in FES2: 7.11.2:

I'm not quite sure what to make of this. If the details are supposed to be "opaque" why bother saying anything at all about how a version identifier is generated?

[2016-10-17 20:38] rjmartell commented on #54
While the WFS spec doesn't explicitly address this update scenario it is likely to be a fairly common situation when versioning is supported. Suppose a user (user1) is updating a feature instance that as far as it knows is valid. However, before user1 submits the update request another user has already updated the instance such that the id (version) specified by user1 has been superseded. What sho

[2016-10-17 22:09] cmheazel commented on #54
"I'm not quite sure what to make of this. If the details are supposed to be "opaque" why bother saying anything at all about how a version identifier is generated?"

The rid identifies a Feature instance so it has to be unique within the service (ideally it would be globally unique).  One way to create such an identifier is to hash together the "logical resource identifier" (the Feature ID) with t

[2016-10-17 22:16] cmheazel commented on #54
"Suppose a user (user1) is updating a feature instance that as far as it knows is valid. However, before user1 submits the update request another user has already updated the instance such that the id (version) specified by user1 has been superseded. What should happen?"

Throw an exception or corrupted the database.  A user should not be able to update a feature without first locking it.  There m

[2016-10-17 22:23] cmheazel commented on #54
On the subject of branching ----
One goal of SOM is to support what-if analysis.  So if our feature model represents not only what is but also what could be, and there are multiple alternatives that could be, will versions ever branch?  I wouldn't preclude it.

[2016-10-18 06:39] lgoltz commented on #51
We totally agree with the test steps. But the point is, that the second request does not contain the VersionAction "LAST" as it is  set after the request is submitted. Swapping lines 244 and 245 in https://github.com/opengeospatial/ets-wfs20/blob/1.25/src/main/java/org/opengis/cite/iso19142/versioning/VersioningTests.java should do it.

[2016-10-18 12:31] lgoltz commented on #53
The problem is that the feature id was set to a dummy id. This is not expected as the gml:id cannot be altered except by an insert request (see F.4 Identifiers in WFS 2.0). Sure if feature versioning is enabled,  a replace results in creating a new latest version (15.2.6 Replace action, WFS 2.0). But this is done by the server side, so that the client must not change the gml:id. The already existi

[2016-10-18 12:33] lgoltz commented on #52
Agreed... One more typo in the specification.  We will document this  at https://portal.opengeospatial.org/wiki/Testbed12/TB12CMP

[2016-10-18 12:35] #52 closed

[2016-10-18 13:06] lgoltz opened #55 "Test replaceFeature failures with enabled feature versioning"
The test  replaceFeature in Transaction CC fails if feature versioning is enabled. Test steps:
1. create and submit replace request (with the original feature and gml:id)
2. assert correct value of  totalReplaced
3. retrieve replaced feature (with the id of the original feature)

The problem is that in 3. the id from 1. is used. If feature versioning is enabled this is the id of the superseded fea

[2016-10-19 07:52] dstenger commented on #54
Thank you for your comments. I agree to your thoughts and the specification can be made more specific by incorporating your ideas.

Nevertheless, in our opinion the test updateSupersededVersion should be omitted as it is not clearly backed by the specification. Shouldn't the ETS be as close to the specification as possible?

Our current implementation does not lead to any inconsistencies in the da

[2016-11-03 18:00] #55 closed

[2016-11-03 18:25] rjmartell commented on #54
Sounds like a CR may be in order. I'll ask the WFS SWG chair for some preliminary guidance.

[2016-11-03 18:53] #53 closed

[2016-11-03 19:23] #51 closed

[2016-11-03 19:42] rjmartell commented on #49
I believe the phrase "may be defined in the capabilities document" applies to non-standard parameter values that are supported (if any). The description column in Table 12 for CreateStoredQuery (language)  states (emphasis added):

[2016-11-03 23:15] #23 closed

[2016-11-04 19:41] #48 closed

[2016-11-08 17:00] #43 closed

[2016-11-08 17:14] rjmartell commented on #44
Fixed since release 1.23 (GML suite listener is no longer invoked).

[2016-11-08 17:14] #44 closed

[2016-11-08 17:27] rjmartell commented on #42
What's happening here is that the the temporal interval spanned by a feature type in the data sample is split into a number of subintervals (2 by default) of approximately the same length. The _last_ subinterval is then set as the literal operand in the **beforePeriod** test; the _first_ subinterval is set as the operand in the **afterPeriod** test.

[2016-11-08 21:39] #42 closed

[2016-11-09 18:02] rjmartell commented on #40
I'm not seeing this with TEAM Engine 4.9 (on JDK 8) and the latest ETS snapshot (1.26-SNAPSHOT). Using the web UI the test suite ran to completion.

If this still occurs in that environment (running TE 4.6, ETS release 1.21.1), it would appear to not be an issue with the latest test suite.

[2016-11-09 18:02] #40 closed

[2016-11-09 21:43] rjmartell commented on #47
The TEAM Engine harness uses the built-in XML reporter with a custom configuration. In release 1.26 and later W3C EARL results are also produced. There are plans to generate an HTML5 representation from the EARL output.

[2016-11-09 21:51] rjmartell commented on #47
When running the test suite in an IDE, it is possible to enable the default listeners in TestNGController. In the TestNGController(String) constructor, change the third argument to `true` when creating a  TestNGExecutor (highlighted below).

this.executor = new TestNGExecutor(tngSuite.toString(), resultsDir.getAbsolutePath(), **true**);

[2016-11-09 21:59] rjmartell commented on #39
As indicated in Table 12, the 'resolve' parameter applies to several requests (GetPropertyValue, GetFeature, GetFeatureWithLock), so a global definition should be allowed for.

[2016-11-10 00:13] #39 closed

[2016-11-10 12:59] vleidl commented on #47
Thanks. That's what I ended up doing. I was primarily wondering if there's a way to turn them on without changing the code, but I don't think that's the case.

[2016-11-10 12:59] #47 closed

[2016-11-10 17:13] rjmartell commented on #38
The XML representation may be at odds with KVP, but the method binding is not since POST can also be used with the "application/x-www-form-urlencoded" media type (Table 2, Table D.1).

[2016-11-10 17:49] rjmartell commented on #38
A CR may be appropriate here, to relax the requirement to raise an exception if an identifier in a KVP request doesn't actually refer to a feature of the specified type(s). Just return those that satisfy both the id and type constraints--nothing if there are no matches.

[2016-11-10 19:57] #38 closed

[2016-11-10 20:25] rjmartell commented on #37
The org.opengis.geometry.Envelope is created by the DataSampler from geometry elements in the data sample (`Extents::calculateEnvelope`); these are ok.

[2016-11-10 22:41] rjmartell commented on #37
Fixed in geomatics-geotk-1.14. Format decimal values using Locale.ROOT.

[2016-11-10 23:07] #37 closed

[2016-11-14 16:36] lgoltz opened #56 "Failure in the XPath of the test supportedStoredQueryLanguages"
The test supportedStoredQueryLanguages currently fails with the exception  "Missing 'language' parameter for CreateStoredQuery."

Here the relevant part of the capabilities:
[code]

As far as I see the XPath in https://github.com/opengeospatial/ets-wfs20/blob/master/src/main/java/org/opengis/cite/iso19142/querymgmt/StoredQueryManagement.java is incorrect.
Instead of
`//ows:Operation[name='CreateSt

[2016-11-14 16:36] lgoltz commented on #49
We added the parameter to the CreateStoredQuery operation in the capabilities. But the test still fails cause of a failure in the xpath of the test. (see #56)   .

[2016-11-14 16:37] #49 closed

[2016-11-17 20:10] rjmartell commented on #35
The test was modified to use only "Basic Latin" characters.

[2016-11-17 20:10] #35 closed

[2016-11-17 20:40] #56 closed

[2016-11-17 20:43] rjmartell commented on #20
Completed in Testbed-12.

[2016-11-17 20:43] #20 closed

[2016-12-07 03:27] dineshahuja opened #57 "WFS 2.0: invoke Get Feature By Id test send the wrong request"
This test sends the request as below on Test Engine site "http://cite.opengeospatial.org/teamengine"

service=WFS&version=2.0.0&request=GetFeature&count=10&startindex=0&storedquery_id=urn:ogc:def:query:OGC-WFS::GetFeatureByType&typeName=tns:Fifteen&namespaces=xmlns(xml,http://www.w3.org/XML/1998/namespace),xmlns(tns,http://www.mapinfo.com/wfs),xmlns(wfs,http://www.opengis.net/wfs/2.0)&storedquery_

[2016-12-13 05:07] dineshahuja commented on #57
Is there any update please?

[2017-01-31 10:29] dineshahuja opened #58 "Schematron validator fails for already passing tests on WFS 2.0"
I tested the WFS 2.0 on our implementation on 12 Jan for WFS 2.0 Test suite version 1.21 and tests were passing. Now when the test suite has been updated to 1.26 then some of the tests are failing with following message
"org.opengis.cite.validation.SchematronValidator.validate(Ljavax/xml/transform/Source;)Ljavax/xml/transform/Result;"  No further details are being provided in the failure.

Server

[2017-01-31 12:25] dineshahuja commented on #57
This issue has been fixed in latest version 1.26 of WFS 2.0 test suite :)

[2017-01-31 12:25] #57 closed

[2017-03-03 14:41] dstenger opened #59 "wfs20-ets (version 1.26) on cite.opengeospatial.org/teamengine produces unexpected test failures (probably due to faulty installation)"
Following service is used for testing: http://ogctestbed12.lat-lon.de/deegree/services/wfs?service=WFS&request=GetCapabilities
A few month ago it passed all tests of the test suite.

Now, 83 tests fail. The reasons are:
[code]
[code]
[code]

In addition, the service was tested on a local installation of the ETS (also version 1.26) and no test failed.
--> This is an environment related issue.

So,

[2017-03-07 14:20] bermud commented on #59
@rjmartell , please take a look at this issue.

[2017-03-07 16:46] bermud commented on #59
This was related to repeated jars. These jars were removed: commons-io-2.2.jar ets-gml32-1.21.jar ets-wfs11-1.25.jar geomatics-geotk-1.9.jar geomatics-geotk-1.10.jar jena-iri-1.1.2.jar schema-utils-1.7.jar slf4j-api-1.7.6.jar

[2017-03-14 16:31] jeanmichelfischer opened #60 "Test intersects Polygon and embedded Features"
If a FeatureType contains embedded FeatureTypes which as well have a geometry, in some cases the Test "intersects Polygon" fails.

For example this request delivers some "Districts" with a geometry as well, but outside the intersection Polygon:

http://services.interactive-instruments.de/cite-xs-410/simpledemo/cgi-bin/cities-postgresql/wfs?service=WFS&version=2.0.0&request=GetFeature&count=10&star

[2017-03-16 15:47] du002cl commented on #58
I also seeing this same issue. The above Server URL no longer works but you can look at the testng-results.txt file to see the responses that the tests thing are invalid. They do not look invalid to me.

[2017-03-20 10:36] dstenger commented on #59
The same issue is occurring again.

[2017-03-20 11:27] bermud commented on #59
When STA 1.0 was installed it copied schema-utils-1.7.jar. There is an older version schema-utils-1.8.jar. I deleted the older jar.

[2017-03-20 13:48] dstenger commented on #59
Issue is fixed. Reported errors do not occur any more.

[2017-03-20 13:48] #59 closed

[2017-03-20 13:48] dstenger commented on #58
This issue seems to be related to #59. Issue 59 is fixed. Can you please check again?

[2017-03-21 13:46] du002cl commented on #58
Issue is resolved, Thank you.

[2017-03-21 16:03] du002cl opened #61 "Test assumes we have a PropertyName called "name""
This test:

Is making the following request:
[code]

2 Questions

1. Why is it using the gml namespace for the value reference? Shouldnt it be using the namespace of the PropertyName (http://www.mapinfo.com/wfs)?
2. Why is it using "name"? This FeatureType does not have that property name, nor is it reported in a DescribeFeatureType.

The above information also applies for the GET version of this

[2017-03-21 16:55] du002cl opened #62 "Describe Stored Query test failure for 2.0.2"
We are seeing a failure when running against version 2.0.2

**Attributes**:
request
`service=WFS&version=2.0.0&request=DescribeStoredQueries&storedquery_id=http://www.opengis.net/def/query/OGC-WFS/0/GetFeatureById`
response
[code]

As you can see the test is using version 2.0.0, even thought the initial GetCapabilities is 2.0.2. The test fails because it is using the new 2.0.2 URI format which was

[2017-03-21 16:57] du002cl commented on #62
**Invoke Get Feature By Id** and **Invoke Get Feature By Id With Unknown I D** are also failing for the same reason as the test listed above. All information can be seen in the session linked in the issue.

[2017-03-28 13:36] dstenger commented on #45
Low priority.
Can be reopened if priority increases.

[2017-03-28 13:36] #45 closed

[2017-05-08 12:53] nmco opened #63 "Jersey doesn't accept "text/xml; subtype=gml/3.2" mime type"
Media type ``text/xml; subtype=gml/3.2`` seems to not be a valid media type (slash not allowed in the media types parameters):
- http://jersey.576304.n2.nabble.com/Media-type-parse-error-td6445421.html
- http://www.ogcnetwork.net/node/1704

When Jersey tries to handle something with media type ``text/xml; subtype=gml/3.2`` the following exception is throw:

[code]
WFS 2.0.0 (and 2.0.2) seems indee

[2017-05-10 10:43] keshav-nangare opened #64 "Add conformance class configuration into the wfs20 test"
The test needs to be updated to better provide information about the grouping of the conformance class and determination about which ones are the basic conformance classes needed for certification.

Changes that are required are described here:

https://github.com/opengeospatial/cite/wiki/Encoding-Conformance-Classes

[2017-05-12 15:00] nmco commented on #63
After re-checking the WFS 2.0 specification; in my understanding the mime type mandated by WFS 2.0 specification is ``application/gml+xml; version=3.2`` and not ``application/xml; subtype=gml/3.2`.

Mime type ``application/gml+xml; version=3.2`` is also the one used by the reference implementation (Deegree).

Some examples in WFS 2.0 specification are using ``application/xml; subtype=gml/3.2`` tha

[2017-05-12 15:00] #63 closed

[2017-05-15 14:28] rjmartell commented on #63
Note that the solidus character ('/') is reserved in a media type parameter and must be escaped; this is the source of the parse exception. However, the subtype param is no longer used.

[2017-05-24 19:54] jmfischer opened #65 "Create Stored Query With Unsupported Query Language"
To, Keep it short:

REQUEST:
[code]
RESPONSE:
[code]

The Javadoc (http://opengeospatial.github.io/ets-wfs20/apidocs/org/opengis/cite/iso19142/querymgmt/CreateStoredQueryTests#createStoredQueryWithUnsupportedQueryLanguage()) Says:

public void createStoredQueryWithUnsupportedQueryLanguage()

    [Test] Submits a CreateStoredQuery request that contains a query expressed in an unsupported query lang

[2017-05-24 20:37] jmfischer commented on #61
For 2. Just a clue:
https://ibin.co/3Nbj0VbcD8v4.png

[2017-06-14 08:53] jmfischer commented on #65
Got it: the locator has to be "language".

[2017-06-14 08:53] #65 closed

[2017-09-11 12:14] MichalMed opened #66 "Probably unsupported CRS EPSG:5514"
I was testing WFS service using INSPIRE validation service based on TeamEngine. http://inspire-sandbox.jrc.ec.europa.eu/etf-webapp/v2/TestRuns/EID18b3511c-0afc-4bd2-a82b-7e58bb809e21.html

After some discussion about the topic (https://github.com/inspire-eu-validation/ets-repository/issues/93#issuecomment-328466806) I have found out, that in TeamEngine test is aborted with exception  "Default CRS

[2017-10-02 07:43] MichalMed commented on #66
According to https://github.com/opengeospatial/teamengine/issues/236 it looks like the issue is in the ETF webapp? CRS not supported. Am I right?

[2017-10-02 11:04] lgoltz commented on #66
Yes, it is a bug in the ETS WFS 2.0.

[2017-10-12 16:32] dstenger commented on #64
Branch: https://github.com/lat-lon/ets-wfs20/tree/defineBasicConformanceClasses-64

Fixed with commit: https://github.com/lat-lon/ets-wfs20/commit/f4a79d2f4ba5d99309730c6d0c9496ca7118f154

[2017-10-12 16:33] dstenger commented on #64
Pull request was created: #67

[2017-10-13 14:29] dstenger commented on #64
WFS 2.0.2 specification, chapter 2 states following:

This means that "Basic WFS" conformance class has to be removed from test suite configuration option "BasicConformanceClasses".

@bermud Do you agree?

[2017-10-18 14:30] dstenger commented on #64
Decision: Simple WFS is the minimum.

[2017-10-19 10:06] dstenger commented on #64
Remove Basic WFS from BasicConformanceClasses configuration: https://github.com/lat-lon/ets-wfs20/commit/c9f7257a8be2b5b9a34af1c347eb7965f667cc5c

[2017-10-27 12:48] #64 closed

[2017-10-30 08:16] MichalMed opened #68 "Dataset linkage in metadata"
http://inspire-sandbox.jrc.ec.europa.eu/etf-webapp/v2/TestRuns/EIDe53bacc7-6a12-4e80-aec1-c7d2ca38db8d.html

I've got following error:

In the metadata, sources are really as listed, but the exception given is just the requirement for parameters. The link refers to end-point of the service, its type is properly described by protocol http://services.cuzk.cz/registry/codelist/OnlineResourceProtocolV

[2017-10-30 09:28] jonherrmann commented on #68
@MichalMed

The ETF validator uses different test engines (like the OGC TEAM engine) to test INSPIRE datasets, metadata and services. The only case where the OGC TEAM engine is used, is when you run the test suite "WFS 2.0 (OGC 09-025r2/ISO 19142) Conformance Test Suite" against your (INSPIRE) service. This is also reflected in the Test Suites "Author" and the "Reference" property that fade in whe

[2017-10-30 10:55] MichalMed commented on #68
I'm really sorry, I accidently opened it here instead of INSPIRE ETS. Closing and aplogizing.

[2017-10-30 10:55] #68 closed

[2017-11-21 14:48] aaime opened #69 "Data availability tests has opaque failures"
The data availability precondition is opaque in that it might fails for a host of other reasons, without reporting what the actual problem is. Examples found debugging GeoServer:

- The constraints reporting SOAP, XML and KVP binding support reported "true" instead of "TRUE" as the value. The internal checks found no bindings and merrily reported "no data", without any explanation. This test shoul

[2017-11-21 15:02] dstenger commented on #69
Thank you for reporting. We will do further investigation.

[2017-11-22 10:56] aaime opened #70 "SOAP tests use version 1.1, but WFS specification has been modified to require 1.2 instead"
See:
http://docs.opengeospatial.org/is/09-025r2/09-025r2.html#412
and:
https://portal.opengeospatial.org/files/54916

[2017-11-22 11:03] aaime commented on #70
It's a bit more confusing.. the specification reports a SOAP 1.1 syntax withing a SOAP 1.2 namespace:
http://docs.opengeospatial.org/is/09-025r2/09-025r2.html#418

However a SOAP 1.2 fault has an entirely different structure:
https://www.w3.org/TR/soap12-part1/#soapfault

[2017-11-22 14:00] aaime opened #71 "tranverseResultsSetInBothDirections assumes the dataset has at least 4 features"
This is hard coded in the test. However picking the WFS 1.1 sample data and using it to run the tests (any legit dataset should do right?) makes this test fail because EntitéGénérique only has 3 features:
https://github.com/opengeospatial/ets-wfs20/blob/b816b104f9af2639edd98a8b0fb7807c10628ce3/src/main/java/org/opengis/cite/iso19142/paging/PagingTests.java#L100

Maybe the test should do a GetFeatu

[2017-11-22 14:48] aaime commented on #70
Also opened a ticket here: http://ogc.standardstracker.org/show_request.cgi?id=531

[2017-11-22 17:47] aaime opened #72 "Complaince failed if there is no dataset supporting nillable properties"
The current propertyIsNil test fails if:

- There is no dataset with nillable properties
- There is a nillable property, but no actual null value in the dataset (all are populated with actual values)

See:
https://github.com/opengeospatial/ets-wfs20/blob/a565e6d9fb712ee8a3acc49d73040ef4ebcc2dd7/src/main/java/org/opengis/cite/iso19142/basic/filter/PropertyIsNilOperatorTests.java#L105

However, the

[2017-11-24 15:15] aaime opened #73 "Tests expecting OperationProcessingFailed along with a 400/403"
This test expects a return of OperationProcessingFailed with a 400 or 403 code:

https://github.com/opengeospatial/ets-wfs20/blob/d5b632ea04bd719e8e3a8917be0833e1b2ef00b2/src/main/java/org/opengis/cite/iso19142/basic/filter/ComparisonOperatorTests.java#L355

However, according to specification, OperationProcessingFailed must be paired with a 500:
http://docs.opengeospatial.org/is/09-025r2/09-025r2

[2017-11-24 15:38] aaime opened #74 "Comparison test fails to build proper xpath validation expression"
This test fails to run on a "xs:int" attribute:

https://github.com/opengeospatial/ets-wfs20/blob/d5b632ea04bd719e8e3a8917be0833e1b2ef00b2/src/main/java/org/opengis/cite/iso19142/basic/filter/ComparisonOperatorTests.java#L222

The xpath expression built looks as follows: ``xs:anySimpleType(ns1:intProperty) ge xs:anySimpleType('-900.0')``

This is due to this method not considering the common xs:de

[2017-11-24 16:51] aaime opened #75 "After/Before tests cannot work against data sets having a single time"
The current test implementation seems to work as follows:
- Collects all the values of a temporal property and builds an interval that contains them all by removing one hour from the low, adding one hour to the highest
- Picks the interval and splits it in even ranges (total duration / number of items)
- Runs before/after tests assuming at least one value should be returned

However, when the doma

[2017-11-27 14:56] mlaghi commented on #73
We have exactly the same behaviour as described by aaime, but we get it in another test: the org.opengis.cite.iso19142.simple.DescribeFeatureTypeTests.describeUnknownFeatureType
We return OperationProcessingFailed with error 500 where you seem to expect a 400 with "InvalidParameterValue"

[2017-11-27 15:35] aaime commented on #73
I believe 400 with InvalidParameterValue is what the standard asks for in that case.
What I was describing is a situation where there is no consistency between the code (OperationProcessingFailed, in other terms, internal server error) and the expected HTTP status (400, or in other terms, user error)

[2017-11-28 08:10] lgoltz commented on #71
Thank you for reporting. I popose to change the test as follows:
1. Find a FeatureType with at least 2 features
   * skip the test if no FeatureType satisfies this requirement
1. Execute the test::
   * GetFeature request with `count=1`
     * Response must contain `@next`
   * Request with value of `@next`
     * Response must contain `@previous`
   * Request with value of `@previous`
     * Feat

[2017-11-28 08:12] aaime commented on #71
Sounds like a good plan!

[2017-11-28 08:47] lgoltz commented on #72
Thank you for reporting.
As this test is part of the conformance class "Basic WFS" there is no requirement to pass the test for certifying (only the conformance class "Simple WFS" is required).
So I agree with the proposal to skip the test in case there is no dataset with nillable properties.

The second case (no actual null value) is more complicated as it is required to check when the test fails

[2017-11-28 08:52] lgoltz commented on #73
In the footnote 400 and 403 are declared as deprecated:
[code]
The test should be enhanced to expect status code 500 as well as 400 and 403.

[2017-11-28 09:00] lgoltz commented on #74
Thank you for reporting.

Can you provide a service for testing?

[2017-11-28 09:26] aaime commented on #74
Hi, I don't have a WFS 2.0 CITE test specific server, but you can hit this one for quick tests as it has attributes in xs:int:

http://cloudsdi.geo-solutions.it/geoserver/ows?service=wfs&version=2.0.0&request=GetCapabilities

http://cloudsdi.geo-solutions.it/geoserver/ows?service=wfs&version=2.0.0&request=DescribeFeatureType&typeNames=test:countries

(you'll get a strange file name if you follow t

[2017-11-28 09:32] aaime commented on #72
The test code is already scanning the datasets to check ranges of time based values, so I guess the same could be done to figure out if a dataset contains nulls.

As for the tests, what I had in mind (and it might be wrong) is the following:

- From the DescribeFeatureType there is no nillable property -> skip the tests
- From the DescribeFeatureType there is a nillable property but there is no ac

[2017-11-28 09:34] aaime commented on #70
Yes, as far as I can tell the Fault section had only the namespace updated, but not the XML, which should look something like following (taken from the W3C spec):

[code]

The thing is, the example in the spec would be important to figure out how to fill the above in the context of a OGC request.

[2017-11-28 09:35] lgoltz commented on #75
Thank you for reporting.
@aaime Can you provide a service for testing?

The tests AfterTests#afterPeriod,  AfterTests#afterInstant, AfterTests#afterInstantWithOffset, and BeforeTests#beforePeriod may be affected.

Interval for the tests  must be changed to e.g. [T -2, T-1], [T+1, T+2].

Relevant parts from https://www.iso.org/obp/ui/#iso:std:iso:19108:ed-1:v1:cor:1:v1:en:
[code]

[2017-11-28 10:03] lgoltz commented on #69
As far as I understand I would propose to improve the precondition test SuitePreconditions.dataAreAvailable() as follows:

 * If a general problem occurs (e.g. no binding is available) the precondition fails with a detailed failure message
 * If no data are available from any feature type  the precondition fails with a detailed failure message for each feature type
 * If at least one of the featur

[2017-11-28 10:08] aaime commented on #69
Looks good to me (but maybe log anyways somewhere why a certain feature type was discarded?)

[2017-11-28 10:10] aaime commented on #75
@lgoltz I don't have a service to test this handy, I'll check internally if we can stand up one (or add the relevant layers to an existing one)

[2017-11-28 10:16] aaime commented on #75
Never mind, we actually have one :-)
This capabilities document contains only a single feature type, with the dateTimeProperty having a single value:

http://cloudsdi.geo-solutions.it/geoserver/sf/PrimitiveGeoFeature/ows?service=WFS&version=2.0.0&request=GetCapabilities

[2017-11-28 11:07] lgoltz commented on #73
Fixed with https://github.com/opengeospatial/ets-wfs20/pull/76/commits/777971473833e27c1e4124d4ef196885c3f65740

[2017-11-28 12:01] lgoltz commented on #61
@jmfischer You are right. `gml:name` is one of the properties inherited by AbstractFeatureType. Therefor it should be requestable for each feature type.

As far as I see this is not bug and the issue can be closed.

[2017-11-28 12:08] lgoltz commented on #27
Should be solved with https://github.com/opengeospatial/teamengine/issues/266

[2017-11-28 12:08] #58 closed

[2017-11-28 12:19] jeanmichelfischer commented on #61
@lgoltz but gml:name is optional 0..many, so maybe nevertheless a bug?

[2017-11-28 12:46] lgoltz commented on #61
The test is pretty lax. It is checked, that the response does not contain the requested property. Cause the request contains a filter PropertyIsNull filter this should be fulfilled even if the response is empty. The cardinality of the property is not important at this point.

[2017-11-28 13:38] lgoltz commented on #71
Fixed with https://github.com/opengeospatial/ets-wfs20/pull/77/commits/b47a82dcfce8df6fb96211efb13500b5487c6106 and https://github.com/opengeospatial/ets-wfs20/pull/77/commits/733fee1f548728da82b965638cad4b55531a9f6d.

Not tested yet as no service supporting paging available.

[2017-11-29 18:04] aaime opened #78 "PagingTests.getFeatureWithHitsOnly seems to demand an spec invalid behavior"
The test is the following:

https://github.com/opengeospatial/ets-wfs20/blob/b816b104f9af2639edd98a8b0fb7807c10628ce3/src/main/java/org/opengis/cite/iso19142/paging/PagingTests.java#L54

The comment at the top seems to be in line with the specification, numberReturned should be zero (hits is used to retrieve a number matched instead). However the implementation of the test tries to verify that num

[2017-11-29 18:27] aaime opened #79 "Test tries to create a stored query assuming inheritance support"
[CreateStoredQueryTests.testDuplicate](https://github.com/opengeospatial/ets-wfs20/blob/b816b104f9af2639edd98a8b0fb7807c10628ce3/src/main/java/org/opengis/cite/iso19142/querymgmt/CreateStoredQueryTests.java#L142) posts the following request for stored query creation:

https://github.com/opengeospatial/ets-wfs20/blob/c89fe8437af5698947a06772760d603285f9aef5/src/main/resources/org/opengis/cite/iso19

[2017-11-29 18:29] aaime commented on #79
This other test also uses the same XML to first create and then try to drop a query:
https://github.com/opengeospatial/ets-wfs20/blob/773f7543b5870060d49acf4ac40111f6431be759/src/main/java/org/opengis/cite/iso19142/querymgmt/DropStoredQueryTests.java#L39

[2017-11-29 18:36] aaime opened #80 "SpatialJoinTest.joinWithIntersects won't work unless there are two feature types with surface properties"
This test seems to have been incompletely coded and works only if two surface properties can be found in different feature types:

https://github.com/opengeospatial/ets-wfs20/blob/6b31a5c310549a1fb68cdf3163fb184410faddbd/src/main/java/org/opengis/cite/iso19142/joins/SpatialJoinTests.java#L175

If someone is running the CITE WFS 1.1 datasets surfaceProps, curveProps and pointProps will contain one

[2017-11-30 07:18] lgoltz commented on #78
The test follows the ATS from WFS 2.0, see http://docs.opengeospatial.org/is/09-025r2/09-025r2.html#24 A.2.19.2.2.2 Paging response:

The test verifies if numberReturned="2" is true for the result set retrieved with the request from the `@next` parameter. As far as I understand this is the expected behaviour described in the specification.

[2017-11-30 07:35] lgoltz commented on #79
I think a feature type supported  by the sut should be used in the query instead of gml:AbstractFeature.

[2017-11-30 07:52] aaime commented on #78
I believe the ATS is in contrast with what the spec says, see my links above

[2017-11-30 07:53] aaime commented on #79
Makes sense.

[2017-11-30 08:00] lgoltz commented on #78
I think the question is how the URL in the `@next` attribute value is constructed in a GetFeature request with `resultType="hits"`. If it contains `resultType="results"` it is not in contrast with the spec, but follows the ATS.

[2017-11-30 16:28] aaime opened #81 "After/Before test might post a schema invalid request"
The CITE engine is emitting this same request:

[code]

I've verified with a couple of schema validators, both indicate that "2007-12-28T05:08Z" is not a valid value for TimePositionUnion. Check the XML/XSD specification it seems that the issue is the missing seconds, and indeed changing the request to use "2007-12-28T05:08:00Z" fixes the validation problem.

Here is a "ready to validate" request

[2017-11-30 18:15] aaime opened #82 "LockFeatureTest.resetNonExistentLock expects 403 but the specs demands 400"
Code here:

https://github.com/opengeospatial/ets-wfs20/blob/b816b104f9af2639edd98a8b0fb7807c10628ce3/src/main/java/org/opengis/cite/iso19142/locking/LockFeatureTests.java#L95

Reference table mapping ogc exception codes to HTTP status:
http://docs.opengeospatial.org/is/09-025r2/09-025r2.html#411

[2017-11-30 18:20] aaime opened #83 "GetFeatureWithLock.lockAllQueryResults_20Seconds issues an invalid LockFeature request"
According to the WFS 2.0.2 specification:

"If both a lockId parameter and one or more fes:AbstractQueryExpression elements are included in a LockFeature request then the server shall raise an OperationParsingFailed exception (see 7.5)"

However this test issues a request that has both:

https://github.com/opengeospatial/ets-wfs20/blob/034f87bafde5dbbd2cc2913d8b2af3b018651db3/src/main/java/org/ope

[2017-12-04 08:49] lgoltz commented on #80
It is required to implement the empty ifs:

[code]

[2017-12-04 08:58] lgoltz commented on #81
Requests must be fixed to use `2007-12-28T05:08:00Z` instead of `2007-12-28T05:08Z` as `2007-12-28T05:08Z` is an invalid dateTime (see https://www.w3.org/TR/xmlschema-2/#dateTime).

[2017-12-04 09:01] aaime commented on #81
Agreed about the analysis. Why closed? Is it already fixed?

[2017-12-04 09:12] lgoltz commented on #82
@aaime Why do you think that 400 is expected?

[2017-12-04 09:24] lgoltz commented on #83
As this is new in WFS 2.0.2 I would propose the following changes;
* Remove  fes:AbstractQueryExpression from LockFeature operation in existing tests.
* Add new test with fes:AbstractQueryExpression **and** lockId if service is `WFS 2.0.2` and assert hat the the server raise an OperationParsingFailed exception.

[2017-12-04 09:25] aaime commented on #82
Because the specification in section 12.3.2 (part of LockFeature description) states:

So, I cannot find where this statement in the comment comes from: "The WFS2 specification makes no distinction  between a non-existent and an expired lock in this context"
The quote above from the spec seems to suggest otherwise?

LockHasExpired is described as "The specified lock identifier on a Transaction or

[2017-12-04 09:27] aaime commented on #83
Agreed, sounds like a good plan :)

[2017-12-04 09:27] lgoltz commented on #81
Sorry, not fixed, not closed...

[2017-12-04 09:27] aaime commented on #79
Agreed

[2017-12-04 10:12] lgoltz opened #84 "IndexOutOfBoundsException in Temporal filter tests"
Tested with
 * TEAM Engine 5.1
 * ETS WFS 2.0  1.28-SNAPSHOT
 *  SUT: http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS&request=GetCapabilities
in local docker environment.

All test in the CC Temporal filter fails with the same message:
`java.lang.IndexOutOfBoundsException: Index: 0, Size: 0`

[2017-12-04 10:38] lgoltz commented on #84
An exception is thrown in org.opengis.cite.iso19142.util.FeatureProperty#getTypeName(). Seems to depend on the used schema provided by the SUT.

[2017-12-04 11:12] lgoltz commented on #81
The following tests are affected:
* afterInstant
* afterInstantWithOffset

[2017-12-04 11:13] aaime commented on #81
I believe the before ones are affected too

[2017-12-04 11:15] lgoltz commented on #81
Can you provide a service for testing?

[2017-12-04 11:17] aaime commented on #81
I believe you can use this one. contains the 3 WFS 1.1 feature types that I've been using so far for my local testing:

http://cloudsdi.geo-solutions.it/geoserver/sf/ows?service=wfs&version=2.0.0&request=GetCapabilities

[2017-12-04 11:56] lgoltz commented on #81
I've tested with the provided service. The tests mentioned in https://github.com/opengeospatial/ets-wfs20/issues/81#issuecomment-348932059 fails three times each (for different feature types). The error message is `No temporal values found in results: property is "http://cite.opengeospatial.org/gmlsf":dateTimeProperty.`
The failure is the same with the provided fix, even if the request contains a

[2017-12-04 15:26] aaime commented on #78
You are obviously right, I did not notice that you were looking, and following, the "next" link (and the test fails on next existence check, because GeoServer does not generate said link).
I'm closing this report.

[2017-12-04 15:26] #78 closed

[2017-12-04 15:57] aaime commented on #81
The test data over there still has a single time, you first have to fix the other issue.

[2017-12-04 16:08] lgoltz commented on #74
I've tested locally with a unit test and the provided xsd as well as with the service but can reproduce the failure.

[2017-12-04 16:27] dstenger commented on #82
Propopsal: Both error codes are supported.
Before that, specification should be rechecked carefully.

[2017-12-04 16:34] dstenger commented on #72
Proposal: Scan results and just execute the test if there is at least one instance of nillable properties.

[2017-12-11 10:57] #61 closed

[2017-12-11 11:00] #73 closed

[2017-12-11 11:06] dstenger commented on #81
@aaime Has the test service been fixed so that we can execute some testing and merge this pull request?

[2017-12-11 11:08] dstenger commented on #71
@aaime Can you provide a test service?

[2017-12-11 11:47] aaime commented on #71
The usual one should do:
http://cloudsdi.geo-solutions.it/geoserver/sf/ows?service=wfs&request=GetCapabilities

[2017-12-11 11:48] aaime commented on #81
"Fixed" how? Can you explain what you are expecting?

[2017-12-11 11:54] dstenger commented on #81
So, in https://github.com/opengeospatial/ets-wfs20/issues/81#issuecomment-349005699 you were referring to #75, right?
Sorry, then I just misunderstood your comment.

[2017-12-11 11:56] aaime commented on #81
Yes, I was referring to #75. No problem!

[2017-12-11 13:48] dstenger commented on #82
## Recheck of specification

Actually, the lines you are referencing refer to the special case of the lockId of a LockFeatureResponse which does not contain any features.
See sentences before your quote:
[code]
Thus, for me it is no reason that InvalidLockId can always be used as a special use case is referred.

Meaning of both codes as described in table 3:
* InvalidLockId
[code]
* LockHasExpired

[2017-12-11 14:06] dstenger commented on #71
Service referenced in https://github.com/opengeospatial/ets-wfs20/issues/71#issuecomment-350702089 was used.

However, following error occurs:
[code]

Request:
[code]

Response:
[code]

[2017-12-11 14:10] dstenger commented on #71
Looks like an encoding problem of TEAM Engine. If request is sent directly via HTTP client, a response with feature collection is returned.

@aaime Were you able to successfully execute the test on your environment?

[2017-12-11 14:27] aaime commented on #71
I was, but used the TestNG runner, not the full TeamEngine web application. Also, I'm running on Linux, the default encoding is UTF-8 (in case the system just picks and uses the default platform encoding, changing platform would change the results).

[2017-12-11 15:56] aaime commented on #82
If both codes are accepted by the test the issue will be solved, from my point of view (the issue being that the test currently only accepts as valid a "LockHasExpired"/403 combination).

[2017-12-11 16:07] dstenger commented on #82
However, if we interpret the specification like that, the LockHasExpired exception will never occur/ must never be implemented as "InvalidLockId" will always be OK.
Of course, it can be argued that the specification is very vague and thus both exceptions should be accepted.

@lgoltz and @bermud What are your thoughts about this?

[2017-12-12 11:54] lgoltz commented on #82
From my point of view the specification is very clear on the operation the exception should occur:
 * InvalidLockId: Transaction
 * LockHasExpired: Transaction or LockFeature

Furthermore the test resetNonexistentLock() tries to force the LockHasExpired exception. Maybe we should think about the way to achieve this. I propose the following scenario:

1. LockFeature request, locking features for 5

[2017-12-12 12:16] lgoltz opened #86 "tranverseResultsSetInBothDirections fails if feature type name contains special characters"
SUT: http://cloudsdi.geo-solutions.it/geoserver/sf/ows?service=wfs&request=GetCapabilities

Failure described in tranverseResultsSetInBothDirections

For details please see https://github.com/opengeospatial/ets-wfs20/issues/71#issuecomment-350733524.

[2017-12-12 12:17] lgoltz commented on #71
Created new ticket for the problem reported in https://github.com/opengeospatial/ets-wfs20/issues/71#issuecomment-350733524: #86

[2017-12-12 12:17] #71 closed

[2017-12-12 13:07] aaime commented on #82
That would work and would make sense.

If the specification actually asks for LockHasExpired result from a lock that never existed, then I would suggest to open a bug report against the spec itself, as the message is confusing at best for the user/software receiving it (especially given a InvalidLockId response also exists).

[2017-12-12 15:18] lgoltz commented on #75
Fixed with #87. The created interval was splitted in three parts to ensure that the requested date/time is  useable for single date/time property values. Furthermore skipping of the test was removed and the created interval increased by one day at the end and beginning.

[2017-12-12 15:20] lgoltz commented on #81
Fix for #75 is provided. Local tests are successful **without** fix #85.

[2017-12-12 15:34] lgoltz commented on #62
@du002cl Can you provide a service for testing?

[2017-12-12 15:50] lgoltz commented on #62
As far as I understand the parameter `storedquery_id` is correct for 2.0.2 (see 7.9.3.6 GetFeatureById stored query in http://docs.opengeospatial.org/is/09-025r2/09-025r2.html#24). But the version requested is 2.0.0, this should be 2.0.2 if sut is WFS 2.0.2. Fixed in #88

[2017-12-12 16:00] lgoltz commented on #69
This can be logged in the teamengine log file, of course. But I think there is no option to pass this information to the Web GUI (and REST) result.

[2017-12-12 19:58] lgoltz commented on #72
As proposed the test was improved to check if a feature type/property is nillable and contains nilled values. Furthermore the test is executed for each binding and feature type now.

PR: #89

[2017-12-13 05:36] lgoltz commented on #82
The test scenario proposed in https://github.com/opengeospatial/ets-wfs20/issues/82#issuecomment-351030203 is already implemented:
https://github.com/opengeospatial/ets-wfs20/blob/034f87bafde5dbbd2cc2913d8b2af3b018651db3/src/main/java/org/opengis/cite/iso19142/locking/GetFeatureWithLockTests.java#L126-L137

[2017-12-13 06:02] lgoltz commented on #83
@aaime Can you provide a service for testing?

[2017-12-13 06:23] lgoltz commented on #83
Implemented with https://github.com/opengeospatial/ets-wfs20/commit/47337fbac11e473b0299a23f8d9315982bde171b

Implemented with https://github.com/opengeospatial/ets-wfs20/commit/94fe4520f9f261f53acd6dd7efe158a1d682bfb2

PR: #91

[2017-12-13 06:26] lgoltz commented on #80
@aaime Can you provide a service for testing?

[2017-12-13 07:03] lgoltz commented on #80
Fixes with PR #92.

Tested with http://cloudsdi.geo-solutions.it/geoserver/sf/PrimitiveGeoFeature/ows?service=WFS&version=2.0.0&request=GetCapabilities

The test still fails with `java.lang.AssertionError: Unexpected HTTP status code. expected <br><br>[200] but found <br><br>[400]`:

Request:
[code]

Response:
[code]

[2017-12-13 07:35] lgoltz commented on #80
Same query with aliases throws another exception (but I'm not sure if it is required to use aliases):
Request:
[code]

Response:
[code]

[2017-12-13 07:37] lgoltz commented on #80
@aaime Can you please check this and open a new issue if you think there is one more failure in the ETS?

[2017-12-13 08:23] lgoltz commented on #69
Implementation of https://github.com/opengeospatial/ets-wfs20/issues/69#issuecomment-347473391 in PR #93.

[2017-12-13 08:29] lgoltz commented on #82
I didn't find anything like this.

As the test mentioned in https://github.com/opengeospatial/ets-wfs20/issues/82#issuecomment-351288375 already implements the test scenario described in https://github.com/opengeospatial/ets-wfs20/issues/82#issuecomment-351030203 I would suggest to remove the test completely.

[2017-12-13 08:30] aaime commented on #82
Works for me :-)

[2017-12-13 10:12] lgoltz commented on #74
It seems the provided service for testing is corrupt. "compileXMLSchema" fails with:
[code]

This leads to an empty model and then a NPE in a lot of test (a,omgst others the comparison tests).

@aaime Can you take a look at the provided service?

[2017-12-13 10:20] dstenger commented on #82
I agree. ```LockHasExpired``` exception is already tested in test ```lockAllQueryResults_20Seconds```. Thus, ```resetNonExistentLock``` becomes obsolete.
This also removes the unclear requirement from test suite if ```LockHasExpired``` exception must be thrown if lock has never existed.

[2017-12-13 10:24] aaime commented on #74
Weird, was not happening locally, seems like a deployment issue. We'll have a look and get back to you

[2017-12-13 10:24] lgoltz commented on #82
Test removed: #94

[2017-12-13 10:26] lgoltz commented on #66
Can be reproduced with http://services.cuzk.cz/wfs/inspire-cp-wfs.asp?ACCEPTVERSIONS=2.0.0&REQUEST=GetCapabilities&SERVICE=wfs&VERSION=2.0.0

[2017-12-14 09:39] lgoltz commented on #66
Geotoolkit 3.21 is used:
[code]

[2017-12-14 11:20] lgoltz commented on #70
As far as I see from a code analysis  the request are send in SOAP version 1.1 even though the service is WFS 2.0.2:
https://github.com/opengeospatial/ets-wfs20/blob/095d9e8f17311b7636e051241e4b0c99d99ce216/src/main/java/org/opengis/cite/iso19142/util/WFSClient.java#L409

This must be changed to request SOAP 1.2 if WFS is 2.0.2.
The SOAP request seems to be fine for both versions.

I assume that t

[2017-12-14 11:38] aaime commented on #70
@lgoltz the usual service I gave in the other tickets should eat both SOAP 1.1 and 1.2, but right now it follow spec and returns a schema invalid fault if you use SOAP 1.2.
I don't have a service declaring 2.0.2, rather avoid that as the spec changed in backwards incompatible ways and we try hard to avoid those changes (trying to avoid having ifs in the code to tell apart the two cases).

I've upd

[2017-12-14 11:38] aaime commented on #70
By the way, suite wise, I guess the problem might be that it should tell apart WFS 2.0 and 2.0.2 and use the right SOAP version accordingly.

[2017-12-19 12:31] keshav-nangare commented on #86
@dstenger

I have investigated this issue but its not related to teamengine. The wfs has the class to invoke all the
 request.

I have added the charset=utf-8 in accept header but still its not working. If we observe the other request they containing with special characters are not failing.

e.g. http://cloudsdi.geo-solutions.it/geoserver/sf/ows?service=WFS&version=2.0.0&request=GetFeature&count=1

[2017-12-20 08:02] lgoltz commented on #86
Here the request/response  send by the ETS (with ngrep):

[code]
The exception also occurs with a REST Client, sending this request [1]  (or [2] with the decoded feature type).

@aaime Can you take a look at the server? I don't see that the request is invalid.

[1] http://cloudsdi.geo-solutions.it//geoserver/sf/ows?service=WFS&version=2.0.0&request=GetFeature&count=1&startindex=0&typenames=ns67:En

[2017-12-20 08:04] lgoltz commented on #71
@aaime As I'm not sure if you receive notifications from #86: Could you take a look at https://github.com/opengeospatial/ets-wfs20/issues/86#issuecomment-352992445

[2017-12-20 09:13] aaime commented on #86
@lgoltz I'll try to have a look. Just to be sure, is this blocking only a subset of the tickets, or it's being a problem for all of them?

[2017-12-20 09:20] lgoltz commented on #86
@aaime Thanks! As far as I see only this one test (tranverseResultsSetInBothDirections) is concerned. But there may by others.  And of course only feature type names with special characters are affected. It would be great if you could check if it the problem is located in the service. If not we have to take a closer look to the implementation of the ETS.

[2017-12-20 10:02] aaime commented on #86
Looks like Apache ruins the requests while proxying them to Tomcat. We are looking into it (do you by any chance have suggestions about how to fix it?) but in the meantime we opened direct access on port 8080, so you can use this capabilities document for the time being:
http://cloudsdi.geo-solutions.it:8080/geoserver/sf/ows?service=WFS&version=2.0.0&request=GetCapabilities
E.g. this works:
http:/

[2017-12-20 14:09] aaime commented on #86
In the meantime we also fixed Apache, so it works on port 80 now.
For internal rules we need to close the 8080 one, so can you go back to the original urls?

[2017-12-20 14:46] lgoltz commented on #86
Great! I will test with the original url and close this issue if the problem is solved.

[2017-12-20 17:16] lgoltz commented on #86
Works! Test was successful.

[2017-12-20 17:16] #86 closed

[2018-01-05 18:43] jill7072 opened #95 "SimpleWFS testing for resolve parameter although GetCapabilities ImplementsRemoteResolve is FALSE"
I'm running the ets-wfs20 tests version 1.26 and I'm getting 2 test failures where the test appears to be checking for the resolve parameter functionality even though ImplementsRemoteResolve is set to false in the GetCapabilities doc. Should these checks be skipped if the constraint is set to false?

#### GetCapabilities for the service:
![image](https://user-images.githubusercontent.com/19600343/

[2018-01-08 09:21] aaime commented on #74
Note, the test service seems to be working fine now (the above request returns a XML schema document)

[2018-01-08 10:09] aaime commented on #80
Hi, what is the "procotol" for getting all the pull requests currently outstanding merged? Do you need me to check them one by one?

[2018-01-09 07:58] lgoltz commented on #95
The tests asserts that the value `local` of the parameter `resolve` is available in the capabilities for the operations GetFeature and GetPropertyValue. This value is mandatory (Table 12, WFS 2.0):
[code]

The definition of the constraint  `ImplementsRemoteResolve` (Table 13, WFS 2.0):
[code]

I think the tests are fine and should not be skipped, as they do not depend on the constraint  `Implement

[2018-01-09 10:34] lgoltz commented on #74
The problem still occurs. The DescribeFeatureType  request [1] returns the follwoing schema:

[code]

The problem is that the targetNamespace of the schema is the same as the  namespace of the last import.

[1] http://cloudsdi.geo-solutions.it/geoserver/ows?service=wfs&version=2.0.0&request=DescribeFeatureType

[2018-01-12 18:41] jill7072 commented on #95
@lgoltz @dstenger Ok, thank you for the clarification.

[2018-01-12 18:41] #95 closed

[2018-01-17 11:55] #82 closed

[2018-01-17 11:58] #69 closed

[2018-01-17 12:08] #80 closed

[2018-01-17 12:12] #83 closed

[2018-01-17 12:19] #72 closed

[2018-01-17 12:21] #62 closed

[2018-01-17 12:22] #75 closed

[2018-01-18 08:11] #79 closed

[2018-01-22 15:43] heidivanparys opened #96 "Assertion for EPSG format instead of IllegalArgumentException?"
When having srsNames such as EPSG:25832 (thus, not an HTTP-URI and not in the OGC URN scheme) in the GetCapabilities of a WFS, the WFS 2.0 (ISO 19142:2010) Conformance Test Suite test suite fails with a stacktrace (see
[log file](https://github.com/opengeospatial/ets-wfs20/files/1652515/log.txt)
).

Would it be possible, and wouldn't it be cleaner, to make an explicit assertion regarding the forma

[2018-01-22 16:02] dstenger commented on #96
Thank you for reporting.

As the specification states that the srsName must be encoded via HTTP-URI or OGC URN, the current behaviour of the test suite is correct.
Do you agree?

I agree that a single, failing assertion is easier to understand and improves handling of the test suite for users. However, the code changes for this enhancement are quite complex. So, we have to evaluate a concept for i

[2018-01-22 16:08] heidivanparys commented on #96
Yes I agree that the validation should not pass as the srsName must be encoded via HTTP-URI or OGC URN.

This issue is indeed about user-friendliness, as I, as a user, prefer to see the failing tests in the "detailed test report" instead of in the log file/stacktrace.

[2018-02-01 10:49] dstenger opened #97 "Test suite has dependency conflicts with other test suites"
After having installed all test suites on beta environment (https://github.com/opengeospatial/teamengine-builder/blob/master/beta-releases/201801.csv), following error occurs when executing WFS 2.0 test suite:
___
Error in call to extension function {public java.lang.Object com.occamlab.te.TECore.callFunction(net.sf.saxon.expr.XPathContext,java.lang.String,java.lang.String,net.sf.saxon.om.NodeInfo

[2018-02-16 10:37] heidivanparys opened #98 "Additional KVP parameters are dropped"
Additional KVP parameters seem to be dropped during the execution of the tests.

E.g. when submitting service http://services.kortforsyningen.dk/ps_inspire_gml321?REQUEST=GetCapabilities&SERVICE=WFS&ticket=nonExistingTicket , the test suite fails

![image](https://user-images.githubusercontent.com/11427611/36303612-96970e86-1304-11e8-81a8-d4336137a309.png)

So URL https://services.kortforsyningen.

[2018-02-16 10:57] dstenger commented on #98
Thank you for reporting. We will do further investigation.

[2018-02-21 09:13] dstenger commented on #98
Yes, you are right. Vendor specific parameters are currently dropped and there is no easy workaround.
We will do further research how to keep those parameters.

[2018-02-21 09:39] dstenger commented on #66
We should check whether this CRS is supported in newer versions of Geotoolkit and update the dependency then.

[2018-03-01 11:41] keshav-nangare commented on #66
This issue is related to wfs20 test (not in teamengine) so below is code snippet which is not able to recognize the requested CRS.

https://github.com/opengeospatial/ets-wfs20/blob/9151fcc1cbe2c50089707c7de6414af31708dcc3/src/main/java/org/opengis/cite/iso19142/FeatureTypeInfo.java#L141

I have updated the version of the Geotoolkit but still getting the same error.

[2018-03-05 11:11] dstenger opened #99 "Test suite fails with SSLHandshakeException"
SUT: https://wfst.axl.aero/AxlRest/wfs?service=WFS&version=2.0.0&request=GetCapabilities

Environments (error occurs on all environments):
* Prod: http://cite.opengeospatial.org/teamengine/
* Beta: http://cite.opengeospatial.org/te2/
* Docker: https://github.com/opengeospatial/teamengine-docker/tree/master/teamengine-ets-wfs20

TEAM Engine displays following error:

Log shows following (snipped):

[2018-03-06 12:17] keshav-nangare commented on #99
@dstenger

[1] : https://wfst.axl.aero/AxlRest/wfs?service=WFS&version=2.0.0&request=GetCapabilities

This issue is occurring due to the service URL [1]. I have tested this service URL[1] it is failing with SSL error but it worked with other RI.

I think the issue is with the server not with the wfs test.

[2018-03-06 13:34] dstenger commented on #99
I agree, the error does not occur with all services.

Following Java property can be used to enhance SSL logging:
[code]

[2018-03-07 13:54] keshav-nangare commented on #99
Following is the snippet which is having the exact cause of this issue. The DOM parser is not able to detect the valid SSL certificate

https://github.com/opengeospatial/ets-wfs20/blob/9151fcc1cbe2c50089707c7de6414af31708dcc3/src/main/java/org/opengis/cite/iso19142/util/URIUtils.java#L59

After adding the Java property we debug log:  [log.txt](https://github.com/opengeospatial/ets-wfs20/files/1789

[2018-03-12 12:39] keshav-nangare commented on #99
@dstenger

SUT: https://wfst.axl.aero/AxlRest/wfs?service=WFS&version=2.0.0&request=GetCapabilities

Tested on:
OS: Windows 8.1
JAVA:

             java version "1.8.0_162"
             Java(TM) SE Runtime Environment (build 1.8.0_162-b12)
             Java HotSpot(TM) 64-Bit Server VM (build 25.162-b12, mixed mode)

I have manually added a certificate to the Java Keystore but the same error has o

[2018-03-12 15:44] dstenger commented on #99
I checked the HTTPS connection with several tools. E.g.
* https://www.sslshopper.com/ssl-checker.html
* https://cryptoreport.websecurity.symantec.com/checker/
* https://www.ssllabs.com/ssltest/analyze.html

All tools confirm that the intermediate certificate is missing.

This certificate should be provided by the requested server. Thus, an installation error of the SSL certificates could be the ca

[2018-03-13 07:50] lgoltz commented on #99
As far as I see the same problem is described in #312. Validation with the three tools listed above seems to be fine.

[2018-03-14 08:52] dstenger commented on #99
Maintainer of [1] installed intermediate certificate.

Now, the error does not occur any more and [1] can successfully be validated by [2].

--> Issue is solved.

[1] https://wfst.axl.aero/AxlRest/wfs?service=WFS&version=2.0.0&request=GetCapabilities
[2] http://cite.opengeospatial.org/teamengine/

[2018-03-14 08:52] #99 closed

[2018-03-20 09:22] lgoltz opened #100 "returnFeatureTypes in CreateStoredQuery tests should contain the feature types from the filter"
Hi,
I'm looking at a failing test that issues the following request:

[code]

GeoServer complains about returnFeatureTypes, in particular:

"StoredQuery references typeName sf:EntitéGénérique not listed in
returnFeatureTypes"

Now, the attribute is mandatory and specifications example has a non empty
value (also available here:
http://schemas.opengis.net/wfs/2.0/examples/StoredQuery/CreateStoredQu

[2018-03-22 16:39] aaime opened #101 "ETS runs unpredictable tests and may cause unpredictable failures"
There is as small number of tests that are picking a random feature type to run tests on, instead of using them all, which can result in test passing one run, and failing in another.

![selezione_129](https://user-images.githubusercontent.com/325433/37784323-ca1537d4-2df7-11e8-879a-0e7cf046d096.png)

In the case of GeoServer that happens in "LockFeatureTests.lockSomeFeatures", but in general, othe

[2018-03-22 16:55] aaime commented on #101
Actually, here is what I think it's going on:
- The DataSampler class is created once per test session, collecting information about features at the very start
- The transaction/ReplaceTests replace one feature, changing its feature id
- The Lock test run after, picking a random feature type and a random feature, using the information collected by DataSampler

Given the WFS 1.1 test dataset I'm us

[2018-03-22 17:19] aaime opened #102 "Update.updateSimplePropertyValue can try to set "NaN" as the value of double precision floating points"
I'm seeing this test failure (does not always happen, probably some randomness at work):

[code]

Checking the code I've found that in order to update "decimalProperty" the code extracts the logarithm of the old value:
https://github.com/opengeospatial/ets-wfs20/blob/04da4fc239932695e4dac2abe19f141b4312f425/src/main/java/org/opengis/cite/iso19142/transaction/Update.java#L270

However.. in this cas

[2018-03-26 11:39] dstenger commented on #101
Thank you for reporting. We will do further investigation.

[2018-03-26 11:47] dstenger commented on #101
The reported behaviour regarding lockSomeFeature test sounds like a bug (next, we will analyse the code).

Do you think we should minimize the random behaviour in general?

[2018-03-26 11:50] dstenger commented on #102
Thank you for reporting. We will analyse the code regarding the reported issue.

[2018-03-26 12:11] aaime commented on #101
@dstenger while having random behavior can be interesting from a hardening point of view, for a certification tool it's problematic. "Hey, it passed, I'm certified!" "No you're not, I tried and does not work!" "But I just tried again and it worked" (both being right). Hem....

[2018-03-26 12:17] dstenger commented on #101
I totally agree. We will consider this when implementing the fix.

[2018-03-27 08:17] lgoltz commented on #101
Usually all modifications on the test data caused by the transaction tests should be undone after execution of the test. This includes restoring of replaced of deleted features. This is done right after the tests, methods are annotated with `@AfterClass`, like in

https://github.com/opengeospatial/ets-wfs20/blob/9151fcc1cbe2c50089707c7de6414af31708dcc3/src/main/java/org/opengis/cite/iso19142/trans

[2018-03-27 14:19] aaime commented on #102
Log is defined only for positive inputs:
https://en.wikipedia.org/wiki/Logarithm

Checking with a simple "private static void main":

[code]
Results in:

[code]

[2018-03-28 05:57] lgoltz commented on #102
I was wondering about the javadoc, but I've overseen this case there.

Does your service does not change the value if an update to NaN is requested? Or throw an exception? In the last case I think the test must be improved to ensure the update was successful.

But of course NaN must be avoided, we should adopt your proposal and change "log" to  "division by 2".

[2018-04-04 09:00] dstenger commented on #74
@aaime Are there any updates about this issue? Were you able to solve the problem?

[2018-04-05 15:53] aaime commented on #74
I believe that for CITE testing you should be using this URL (notice the sf in the middle of the path):
http://cloudsdi.geo-solutions.it/geoserver/sf/ows?service=wfs&version=2.0.0&request=DescribeFeatureType

(the original URL was given for quick tests, then we setup the CITE compliance workspace and referred to it in other tickets and communcations).

The server has a number of uses and it's not

[2018-04-10 15:57] lgoltz commented on #100
Hi,
I have checked again and found that the latest corrigendum has this extra
sentence (I was looking at the ISO version of the spec):

"If the value of the returnFeatureTypes parameter is an empty string, this
indicates that the stored query can return features of any type that the
service offers"

I'm guessing that was added for the GetFeatureById case, and guess that
makes the original request

[2018-04-19 09:57] aaime commented on #74
This is still making lots of tests fail, could you have another look using this capabilities URL?
http://cloudsdi.geo-solutions.it/geoserver/sf/ows?service=wfs&version=2.0.0&request=GetCapabilities

[2018-04-19 15:05] aaime commented on #74
I've made a pull request that seems to solve the issue for me:
https://github.com/opengeospatial/ets-wfs20/pull/105

[2018-04-19 15:34] aaime opened #106 "BBOX tests can fail due to precision issues"
I have a dataset with just two EPSG 4326 points having the following coordinates:
- -66.16667 18.66667
- -66.71667 18.00126

The BBOX tests sample those points, get the overall bbox, and then use geomatrics-tgeotk Extends.evenlopeAsGML method to turn that into a BBOX usable for a filter. Unfortunately the method formats with just 2 decimal digits (definitely not enough for geographic coordinates)

[2018-04-19 16:06] dstenger commented on #106
Thank you for reporting. We will do further investigation.

[2018-04-19 16:07] aaime commented on #106
I already have a fix, I'm writing tests for it

[2018-04-19 16:25] aaime commented on #106
Tentative fix here: https://github.com/opengeospatial/ets-wfs20/pull/107 (works for me)

[2018-04-20 10:57] aaime opened #108 "Test engine should not prune query parameters from capabilities endpoints"
The current testing code removes query parameters from the capabilities endpoints.
For example, if the capability reports this as the transaction endpoint:
``http://cloudsdi.geo-solutions.it:80/geoserver/sf/wfs?authkey=<valueHere>``
the request will actually be made to:
``http://cloudsdi.geo-solutions.it:80/geoserver/sf/wfs``

In the above case, this breaks WFS-T usage because writing is not allow

[2018-04-20 11:06] dstenger commented on #108
Thank you for reporting. We will do further investigation.

[2018-05-02 21:42] zguo opened #110 "status code 500 error for test "basic wfs > comparisonOperatorTests > invalidOperand_boundedBy""
This issue occurs with test basic wfs > comparisonOperatorTests > invalidOperand_boundedBy

**request**
`service=WFS&version=2.0.0&request=GetFeature&count=10&startindex=0&typenames=ns95:AdministrativeUnit&namespaces=xmlns(xml,http://www.w3.org/XML/1998/namespace),xmlns(ns95,http://inspire.ec.europa.eu/schemas/au/4.0),xmlns(wfs,http://www.opengis.net/wfs/2.0)&filter=%3CFilter%20xmlns%3D%22http%3A%

[2018-05-02 21:51] zguo opened #111 ""Index: 0, Size: 0" error for test "temporal filter > AfterTests > afterInstant""
This issue occurs with temporal filter > AfterTests > afterInstant

**request**
?service=WFS&version=2.0.0&request=GetFeature&count=10&startindex=0

**response**

`<?xml version="1.0" encoding="UTF-8" ?><ExceptionReport xmlns="http://www.opengis.net/ows/1.1" version="2.0.0" ><Exception exceptionCode="MissingParameterValue"  locator="TYPENAMES" ><ExceptionText><![CDATA[Operation request does not in

[2018-05-03 06:39] lgoltz commented on #110
@zguo Can you provide details of the environment you was testing on ([prod](http://cite.opengeospatial.org/teamengine/) or [beta](http://cite.opengeospatial.org/te2/) or a local setup) ? If you are testing locally, which version of the TEAM Engine and ETS was used?

As far as I see the status code is already added as expected status code with pull request #76 (in 1.28), see #73.

[2018-05-03 06:43] lgoltz commented on #111
@zguo Thanks for reporting this. Can you provide details of the environment you was testing on ([prod](http://cite.opengeospatial.org/teamengine/) or [beta](http://cite.opengeospatial.org/te2/) or a local setup) ? If you are testing locally, which version of the TEAM Engine and ETS was used?

Can you provide the service URL for testing?

[2018-05-03 17:26] zguo commented on #111
We are testing OGC compliance using INSPIRE validator downloaded from https://github.com/etf-validator/etf-webapp/releases on a testing environment, I believe it is pointing to the version on http://cite.opengeospatial.org/teamengine, we just downloaded latest ets-wfs20 from here and tried it, our developer confirmed the issue happens with the latest as well.

the test service is located at http:/

[2018-05-04 13:44] dstenger commented on #110
The latest version of ets-wfs20 contains many bug fixes compared to the one installed on http://cite.opengeospatial.org/teamengine/.
The latest version is installed on OGC beta web site and is also publicly available: http://cite.opengeospatial.org/te2/

An update of http://cite.opengeospatial.org/teamengine is planned for the next months.

[2018-05-04 16:26] zguo commented on #110
thanks!

[2018-05-04 16:26] #110 closed

[2018-05-07 13:02] #102 closed

[2018-05-07 13:08] #100 closed

[2018-05-07 13:25] #74 closed

[2018-05-07 15:32] #106 closed

[2018-05-07 16:13] dstenger commented on #108
Unfortunately, I had to revert the pull request as a "?" is always added afterwards. This causes duplicate "?" in request URL (e.g. ```http://service.com?&?service=WFS&request=GetCapabilities```).

For example, RI will not pass any more: http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS&request=GetCapabilities

[2018-05-08 13:12] lgoltz commented on #84
Duplicate of #111

[2018-05-08 13:12] #84 closed

[2018-05-08 13:15] lgoltz commented on #111
The failure is already described in #84 (I've closed this as duplicate).

It depends on the provided GML application schema. If the available temporal property is configured as

[code]
the ETS is not able to parse this as feature property.

[2018-05-08 15:11] lgoltz commented on #111
PR #113 should fix the problem (at least for http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS&request=GetCapabilities). The service http://inspiredemo.esri.com:6080/arcgis/rest/services/au/MapServer/exts/InspireFeatureDownload/service?Request=GetCapabilities&service=WFS is not longer available (OutOfMemory).

[2018-05-09 08:11] lgoltz commented on #111
Thanks. The failure message is now `java.lang.IllegalArgumentException: Empty Set<TemporalGeometricPrimitive>`.
This occurs cause the selected temporal property (`beginLifespanVersion`) of the feature type `AdministrativeBoundary` does not contain any data. I will try to imrpove the failure message.
Maybe we should skip the test if no sufficient test  data are available (this is already done if no

[2018-05-11 10:53] #111 closed

[2018-05-22 20:39] zguo opened #114 "Expected locator attribute to contain 'language' in test Manage stored queries > create Stored Query With Unsupported Query Language"
post request url http://inspiredemo.esri.com:6080/arcgis/rest/services/au/MapServer/exts/InspireFeatureDownload/service

the request sent by the test:
[code]

response
[code]
Error: Expected locator attribute to contain 'language']

Analysis:
Method: createStoredQueryWithUnsupportedQueryLanguage() creates a POST request based on CreateStoredQuery-GetFeatureByTypeName.xml template, if substitute ${

[2018-05-23 11:13] dstenger commented on #114
Thank you for reporting.

You are right, ```${typeName}``` is not replaced and namespace binding not added.
This must be fixed in the test.

[2018-05-28 13:03] keshav-nangare commented on #60
@jeanmichelfischer

Can you please provide the service to reproduce this issue?

[2018-05-29 08:34] lgoltz commented on #114
The placeholder ${typeName} is a parameter which is defined before in the StoredQueryDefintion:

[code]

But of course the attribute returnFeatureTypes is defined as follows [1]:
[code]
That's why the schema validation fails.

Correct would be:
[code]

An other option (see #100) would be an empty attribute:
[code]

[1] http://schemas.opengis.net/wfs/2.0/wfs.xsd

[2018-05-29 11:09] dstenger opened #116 "Add all supported conformance classes to site documentation"
List of conformance classes is not complete on http://opengeospatial.github.io/ets-wfs20/.

[2018-05-29 13:34] lgoltz commented on #114
returnFetaureType was set to an empty string: PR #118

[2018-05-30 08:19] dstenger commented on #98
This issue is similar to #108. Can you please test if pull request #117 solves your problem?

[2018-06-04 15:32] jeanmichelfischer commented on #60
@keshav-nangare
The service from my first post is still up and running. Maybe it was not reachable all time?

[2018-06-19 11:37] dstenger opened #119 "Create Maven integration tests with SoapUI and Docker"

[2018-06-20 10:48] dstenger commented on #119
Branch: https://github.com/opengeospatial/ets-wfs20/tree/integrationTestsWithSoapuiAndDocker-119
Commit: https://github.com/opengeospatial/ets-wfs20/commit/46023c4897295b802cabef1898728c50c2220351

[2018-06-20 10:48] dstenger commented on #119
Docker Image is moved from https://github.com/opengeospatial/teamengine-docker to repository of test suite.
Advantages:
* Docker Image version/tag can be connected better to Maven artifact version.
* Docker Image can be created from current build and directly be used for integration testing by Maven.

[2018-06-20 10:48] dstenger commented on #119
Example commands:

Full build including SoapUI integration tests and creation of Docker Image
* mvn clean install site -Psoapui,docker

Build including SoapUI integration tests but no installation of artifacts (no Docker Image is created)
* mvn clean verify -Psoapui,docker

Build including creation of Docker Image but no SoapUI integration tests
* mvn clean install -Pdocker
* mvn clean package doc

[2018-06-22 09:43] #119 closed

[2018-06-22 11:06] dstenger commented on #119
Wait configuration was added to docker-maven-plugin to minimise errors during integration tests: https://github.com/opengeospatial/ets-wfs20/commit/b654e9afa7654117f5e0ee0fe117cbed2137fed8

Timeout was increased for SoapUI project: https://github.com/opengeospatial/ets-wfs20/commit/dc15fe53e030065e054bd1db5d75a7f01b05505f

[2018-06-25 17:12] heidivanparys commented on #98
@dstenger  Hi, I haven't got around yet to testing this again, but I just wanted to say that I haven't forgotten about this issue and I will test again after the summer holidays and get back to you.

[2018-06-27 10:38] #70 closed

[2018-06-27 11:07] #108 closed

[2018-07-26 13:11] keshav-nangare commented on #96
I am not able to reproduce this issue. I am getting following error:

[code]

[2018-07-30 10:11] lgoltz commented on #96
@keshav-nangare How did you test? I'm sure I've seen the described failure "Invalid CRS reference", too.

[2018-07-30 10:49] keshav-nangare commented on #96
I have tested through the teamengine webapp on Ubuntu environment.

Here is the log file:
[catalina.txt](https://github.com/opengeospatial/ets-wfs20/files/2240792/catalina.txt)

[2018-08-06 09:25] lgoltz opened #122 "Improve test StoredQueryTests#invokeGetFeatureById() and documentation"
## Current documentation:
**entry page of the test**
`A feature identifier may be supplied for the purpose of verifying the behavior of the GetFeatureById stored query. If this test run parameter is missing or does not identify an available feature instance, a "Simple WFS" implementation must also implement the GetFeatureByType stored query (see the test suite documentation for the definition). Th

[2018-08-09 08:12] keshav-nangare commented on #96
@heidivanparys

Can you please provide service to reproduce this issue?

I have tested the following services but not able to reproduce this issue.

[1] http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS&request=GetCapabilities
[2] https://services.interactive-instruments.de/ogc-reference/simple/wfs?request=getcapabilities&service=wfs
[3] https://wfst.axl.aero/AxlRest/

[2018-08-14 13:35] heidivanparys commented on #96
The issue can reproduced by testing this file (after modifying the extension from txt to xml):
[capabilities_simple_epsg.txt](https://github.com/opengeospatial/ets-wfs20/files/2287101/capabilities_simple_epsg.txt)

![billede](https://user-images.githubusercontent.com/11427611/44094910-eeb4e6b6-9fc6-11e8-9d7a-53b798e41861.png)

[2018-08-16 12:01] lgoltz opened #124 "Locking tests are executed although locking is not supported"
SUT: http://cloudsdi.geo-solutions.it/geoserver/geoedge/ows?request=GetCapabilities&service=WFS
Version: 1.30-SNAPSHOT

LockingCapabilitiesTests.implementsLockingWFS() (annotated with @BeforeTest) fails with "Unexpected result evaluating XPath expression with context node #document:                      //ows:Constraint[@name='ImplementsLockingWFS']/ows:DefaultValue = 'TRUE'"

Several locking test

[2018-08-16 12:58] lgoltz opened #125 "Test intersectsCurve fails with TopologyException"
SUT: http://cloudsdi.geo-solutions.it/geoserver/geoedge/ows?request=GetCapabilities&service=WFS
Version: 1.30-SNAPSHOT

The test IntersectsTests.intersectsCurve() fails three times with the same exception: `com.vividsolutions.jts.geom.TopologyException: side location conflict [ (18.2018, -67.0843, NaN) ]`

The failure occurs in https://github.com/opengeospatial/ets-wfs20/blob/22edc8f01a723fe0da53e

[2018-09-04 10:13] dstenger commented on #66
As a third party library does not support this CRS, a fix will be quite complex.

Is it a problem for you to change the default CRS. Also, you can always refer to this bug in the test suite to emphasize that this failure is not correct.

[2018-09-10 20:07] ajanett opened #129 "Conflict with filename normalization causing error"
ets-wfs20-1.31-SNAPSHOT Failed

There is a conflict with the use of FilenameUtils and the use of URI.create. If a filename is normalized via FilenameUtils and then passed to URI.create, the URI.create will fail with the following type of error:

Fatal Error: Error in call to extension function {public org.opengis.cite.iso191
42.TestNGController(java.lang.String)}: Exception in extension function:

[2018-09-12 12:27] #129 closed

[2018-09-19 12:33] bermud commented on #101
Maybe we can also provide as part of the input of the test information about feature(s) to be tested, or have a default behavior that picks the first feature type when sorted alphabetically to avoid the case that features listed in the GetCapabilities might be randomly sorted by the service.

[2018-09-20 15:28] ajanett commented on #97
The answer to why gt-metadata is a problem is that ets-wfs20 has a dependency on ets-gml which makes use of geotoolkit (geotk-metadata*). There appears to be a conflict between the geotools and the geotoolkit content.  [FYI: Geotools references start: "gt-" whereas geotoolkit reference start: "geotk-".]

The temporary solution to this is:
1) Determine with ets packages are bringing in geotools ins

[2018-10-10 14:45] ihsanyapicioglu opened #130 "AbstractTemporalTest gives skip exception in any case"
SUT: https://wfst.axl.aero/AxlRest/wfs?service=WFS&version=2.0.0&request=GetCapabilities
Version: 1.30

Class: AbstractTemporalTest.java
Method: findTemporalExtent

https://github.com/opengeospatial/ets-wfs20/blob/22edc8f01a723fe0da53eecd0d786ce53c505264/src/main/java/org/opengis/cite/iso19142/basic/filter/temporal/AbstractTemporalTest.java#L37

The method always return null because temporalProper

[2018-10-10 15:42] dstenger commented on #130
Thank you for reporting. We will do further investigation.

[2018-10-11 16:52] keshav-nangare commented on #130
Fixed with PR: #131.

Result:
![image](https://user-images.githubusercontent.com/14732650/46820490-f21ab500-cda3-11e8-8fb3-0662b7639170.png)

[2018-10-31 09:20] dstenger commented on #97
Possible temporary solution: Replace geotk-metadata* with gt-metadata-18.0.
@keshav-nangare Can you please investigate if that is possible?

[2018-11-01 13:30] keshav-nangare commented on #97
@dstenger

The jar **gt-metadata-18.0.jar** found in the ets-gpkg12-nsg dependency zip. But we can see the latest master commit of the ets-gpkg12-nsg **`ajanett`** had updated the geotoolkit dependency so the `gt-metadata` dependency is not appearing in deps.zip  file anymore. I am testing with the teamengine-docker and building with teamengine-ets-all. I will update you whether the issue is repro

[2018-11-08 11:35] #116 closed

[2018-11-08 12:13] #130 closed

[2018-11-29 09:05] dstenger opened #132 "Publish test suite on Docker Hub"

[2018-11-30 13:54] dstenger commented on #132
Docker Hub repository was created and filled with content: https://hub.docker.com/r/ogccite/ets-wfs20/

[2018-12-04 16:56] dstenger commented on #132
Branch: https://github.com/opengeospatial/ets-wfs20/tree/dockerHub-132

[2018-12-04 17:30] dstenger opened #134 "HTML report is not working when using Web Browser Interface"
When Web Browser Interface is used to test WFS [1], no HTML report is displayed as test result. Just the old XML report (TestNG) is available.

Current master branch was used.

[1] http://cite.deegree.org/deegree-webservices-3.4.0/services/wfs200?service=WFS&request=GetCapabilities

[2018-12-05 12:15] keshav-nangare commented on #134
@dstenger

The testng directory is not present in session directory so the teamengine is not able to generate the HTML report. As the testng dir contains the earl result and testng result. The directory is deleting the after the ETS execution somehow that leads to reported failure.

[2018-12-05 17:31] keshav-nangare commented on #134
@dstenger

I am able to figure out this issue and got commit which is responsible for this issue.
Following are the commits which is causing this issue:

- 3fdf6e41680515e8f497f6d62c108bc04625f008

- 02f5f04e996e492ea5a03195dd4a49e2434f2115

If we change code to `resultsDir = new File(URI.create(outputDir));` as it is then the HTML report is generating. I don't know why this method is required `Fi

[2018-12-06 13:32] keshav-nangare commented on #134
Fixed with this commit: 724d2f70cf72ed77b7c994b742b83dd4186e1e4f

[2018-12-09 15:09] moello opened #136 "Undefined Crash when testing Service"
When I test the following service:

http://cottbus.themenstadtplan.de/net3/public/ogc.ashx?NodeId=12&Service=WFS&Request=GetCapabilities

I get a undefined error. Means even when I try to open the 'View Details' there is an error:
javax.xml.parsers.FactoryConfigurationError: Provider org.apache.xerces.jaxp.DocumentBuilderFactoryImpl not found

I found in the log file under 'Download logfiles' the

[2018-12-10 05:17] lgoltz commented on #136
Thank you for reporting.

I've rechecked on [production](http://cite.opengeospatial.org/teamengine) and can reproduce the failure.
The test runs successful with [1].

We will do further investigation.

[1] http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs200?service=WFS&request=GetCapabilities

[2018-12-10 08:04] keshav-nangare commented on #136
@lgoltz

I have tested the test-suite locally with teamengine 5.3 and ets-wfs20 1.26 and got the following error:

`Default CRS not recognized. No code “EPSG:325833” from authority “European Petroleum Survey Group” found for object of type ‘CoordinateReferenceSystem’.`

Here is error_log:  [log.txt](https://github.com/opengeospatial/ets-wfs20/files/2662065/log.txt)

javax.xml.parsers.FactoryConfig

[2018-12-12 09:21] dstenger commented on #136
@moello
Can you please retest your service on beta environment [1]?

The CITE team will continue to investigate why reported error occurs on production.

[1] http://cite.opengeospatial.org/te2/

[2018-12-12 15:51] moello commented on #136
I did test with beta environment above with the same result:
_Test tns:Main type Mandatory default result Passed (s0001)

Assertion: The test subject satisfies all applicable constraints.

Form d1e46_1:
   fid=
   wfs-uri=https://cardo.cottbus.de/net3/public/ogc.ashx?nodeId=643&Service=WMS&Request=GetCapabilities&

Error in call to extension function {public java.lang.Object com.occamlab.te.TECore

[2018-12-12 15:56] lgoltz commented on #136
@moello You have tested a WMS against the WFS ETS.

[2018-12-13 05:13] moello commented on #136
I think it looks good, in the beta environment i get the message above and know the reason for the fail, in the production environment, I did not get the hint, whats wrong.

For the missing 325833 I will open a new request.

[2018-12-13 05:19] moello opened #137 "Unknown EPSG 325833"
In Germany Brandenburg they use the EPSG 325833. Seems to be a special EPSG, I found that on the web of Brandenburg:

Das Koordinatensystem EPSG:325833 entspricht dem amtlichen Koordinatensystem im Land Brandenburg. Es handelt sich hierbei um das System EPSG:25833 mit einer zusätzlichen Überhöhung des Ostwertes um 3000 km.
Die Bezeichnung EPSG:325833 wurde nicht von der EPSG vergeben. Es ist eine

[2018-12-17 10:34] VeronikaKusova opened #138 "exceptions for describe unknown feature type & getFeature with unknown id"
I am testing our WFS via Team Engine validator and we have issues with testing steps validating exceptions and their corresponding status codes. In WFS standard (http://docs.opengeospatial.org/is/09-025r2/09-025r2.html) there is stated:
[in brackets I am giving http status codes for a mentioned exception]
- > if an operation fails because of the value of a parameter is invalid -> InvalidParameterV

[2018-12-17 11:04] dstenger commented on #138
Thank you for reporting. We will do further investigation.

I can already confirm that status code 500 for OperationProcessingFailed was introduced by WFS 2.0.2 specification. Thus, this has to be updated in test suite.

[2018-12-17 11:08] dstenger commented on #137
Thank you for reporting.

Thus, currently the tests are aborted if this coordinate reference system is used? Do you have a test service we can use to reproduce the behaviour?

[2019-01-02 14:12] #134 closed

[2019-01-02 14:37] #66 closed

[2019-01-02 14:50] dstenger commented on #66
# Functional test

* Start Docker Container via `mvn clean install docker:run -Pdocker`.
* Execute tests with http://services.cuzk.cz/wfs/inspire-cp-wfs.asp?ACCEPTVERSIONS=2.0.0&REQUEST=GetCapabilities&SERVICE=wfs&VERSION=2.0.0.
* No test failures related to EPSG code.

[2019-01-02 15:09] #132 closed

[2019-01-03 07:44] lgoltz commented on #136
I've tested again on production and cannot reproduce the failure. In the detailed test report the missing CRS definition is reported.

Maybe it was a temporary problem. From the description it seems that the installation on production was broken. It may be solved by a tomcat restart.

[2019-01-03 07:46] lgoltz commented on #137
Test service is http://cottbus.themenstadtplan.de/net3/public/ogc.ashx?NodeId=12&Service=WFS&Request=GetCapabilities (see #136).

[2019-01-03 08:17] keshav-nangare commented on #124
@lgoltz

While testing the ets with RI[1] I got the following error:
[code]

This issue is occured due to the different namespaces in ets and the service for `ows`.
Following are the namespace-uri:
[code]
So the URI are different that's why xpath(`//ows:Operation[@name='DescribeFeatureType']//ows:Get/@xlink:href`) is failed to retrive the result from service.

[1] http://cloudsdi.geo-solutions.it/

[2019-01-03 08:21] lgoltz commented on #137
After adding the definition of EPSG:325833 the test still fails as no binding for GetFeature requests could be found (precondition test `dataAreAvailable`).
In the capabilities the DefaultValues of the constraints KVPEncoding and XMLEncoding (and other) are `true`, expected is `TRUE` (upper case).

[2019-01-03 09:10] lgoltz commented on #138
In the ATS of [WFS 2.0.2](http://docs.opengeospatial.org/is/09-025r2/09-025r2.html) an InvalidParameterValue is expected:

[code]

@VeronikaKusova I assume you mean the test "invoke Get Feature By Id With Unknown I D" of the conformance class `Simple WFS`?

The implementation of the tests [invokeGetFeatureByIdWithUnknownID](https://github.com/opengeospatial/ets-wfs20/blob/1aee4e60143c0811a376e2144

[2019-01-03 09:53] lgoltz commented on #124
@keshav-nangare Ok, seems the service capabilities document has changed. We can postpone this issue until the it is fixed.

[2019-01-03 10:33] #137 closed

[2019-01-03 10:39] #138 closed

[2019-01-03 10:47] dstenger commented on #137
# Test of fix

* Test of http://cottbus.themenstadtplan.de/net3/public/ogc.ashx?NodeId=12&Service=WFS&Request=GetCapabilities with test suite.
* Error regarding EPSG code does not occur any more.

[2019-01-03 11:14] keshav-nangare commented on #124
@lgoltz

Thanks Lyn.

This error message is expected as the current implementation of the xpath evaluation and assertion. If we don't want this error message then we have to create separate logic to evaluate xpath.

Here is the code snippet:

https://github.com/opengeospatial/ets-wfs20/blob/98d4ee1ba7dbfeb485ff0a14ee29499500f93a9e/src/main/java/org/opengis/cite/iso19142/locking/LockingCapabilities

[2019-01-03 14:55] lgoltz commented on #124
@keshav-nangare Yes, the XPath must be evaluated first and if the result is false a SkipException must be thrown.

[2019-01-03 15:03] moello commented on #136
I confirm, result in both, the beta and the production is the same and I get the error message about unknown EPSG. Thanks for investigation.

[2019-01-03 15:08] moello commented on #137
Thanks a lot. I will wait for a new beta an meanwhile I can check the upper case problem.

[2019-01-15 10:03] keshav-nangare commented on #124
@lgoltz

I have updated the test and fixed XPath assertion which will help us to throw skip exception if the implementation of the is not found.

Fixed with this commit:
a3d540c

[2019-01-18 09:52] keshav-nangare commented on #125
@lgoltz

The service is changed so not able to reproduce this issue and also tried with other services as well but not reproducible.

[2019-01-29 07:58] lgoltz commented on #125
I'am able to reproduce the failure with the current master:
[intersectsCurve650.html.txt](https://github.com/opengeospatial/ets-wfs20/files/2806560/intersectsCurve650.html.txt)

The docker environment contains only the WFS 2.0 ETS and was started with:
[code]

[2019-02-04 17:41] jill7072 opened #142 "Error formatting WFS 2.0 test results"
I am running the team engine tests for WFS 2.0 and I'm finding that the test results are properly formatted for some of my URLs but I'm receiving an error for other URLs. This is reproducible on the 1.26 version as well as the beta site (1.30).
![image](https://user-images.githubusercontent.com/19600343/51870173-b03c5d00-2307-11e9-8161-bba03a5a64a5.png)

When I click to view the old test report I

[2019-02-05 09:37] dstenger commented on #142
Thank you for moving the issue.
@keshav-nangare Can you please analyse why this error is occurring?

[2019-02-06 08:58] keshav-nangare commented on #142
@dstenger

This issue is related to SSL certificate.

[code]

This is similar to : https://github.com/opengeospatial/ets-wfs20/issues/99#issuecomment-372356434

[2019-02-06 09:08] dstenger commented on #142
So, the service cannot be validated because the certificate is self signed (error message: unable to find valid certification path to requested target).
TEAM Engine does not accept self signed certificates.

@jill7072
Can you please try to use a non-self signed certificate or disable TLS for testing purposes?

[2019-02-06 09:17] dstenger commented on #60
@jeanmichelfischer
I tried to open [1] with web browser but I am getting a `502 Proxy Error`. Can you please check this?

[1] http://services.interactive-instruments.de/cite-xs-410/simpledemo/cgi-bin/cities-postgresql/wfs?service=WFS&version=2.0.0&request=GetCapabilities

[2019-02-06 10:25] jeanmichelfischer commented on #60
I checked and it should be reachable now.

[2019-02-06 22:02] jill7072 commented on #142
Thanks, @dstenger I didn't realize that TEAM engine did not accept self-signed certificates. I tried with a new service and the formatting of the results worked as expected. Thank you!

[2019-02-06 22:12] jill7072 commented on #138
Hi, is this fixed for 1.31 on te2? I'm still getting a test error with the following message:
`Expected status code 404 or 403. Received: 500`

[2019-02-07 11:29] dstenger commented on #138
Yes, this fix is installed on http://cite.opengeospatial.org/te2/.

Which test is failing with this error message?

[2019-02-07 17:28] jill7072 commented on #138
invoke Get Feature By Id With Unknown ID test for Simple WFS is failing
![image](https://user-images.githubusercontent.com/19600343/52430121-3d2aa780-2aba-11e9-9315-1ec78b2b8ab7.png)

[2019-02-08 10:40] dstenger commented on #138
What is the version of your service? `2.0.0` or `2.0.2`?
In case of `2.0.0` status code `500` is not allowed.

[2019-03-18 17:01] dstenger opened #143 "WFS test fails with "data Are Available""
I triggered the WFS 2.0 test with the following input:

Capabilities document: http://host/ogc-wfs/wfs?service=WFS&request=GetCapabilities
FID: fid123

The test already fails at “Preconditions” saying that the “data are Available” test failed. Well, of course, the WFS serves data, not at least the object whose FID was provided as input to the test run.

Can you help me with more context about this

[2019-03-18 17:02] dstenger commented on #143
Hi Claus,

I analyzed the reported behavior.

The test suite sends following request to retrieve features: http://host/ogc-wfs/wfs?service=WFS&version=2.0.0&request=GetFeature&count=25&startindex=0&typenames=ns13:Building&namespaces=xmlns(xml,http://www.w3.org/XML/1998/namespace),xmlns(ns13,http://www.opengis.net/citygml/building/2.0),xmlns(wfs,http://www.opengis.net/wfs/2.0)

Unfortunately, your

[2019-03-18 17:03] dstenger commented on #143
Hi Dirk,

Thanks for thoroughly testing this. „count“ is supported, but indeed „startIndex“ is not. I thought that adding the constraint “ImplementsResultPaging” and setting it to “FALSE” would imply that “startIndex” is not supported.

I think this is a bit confusing. In the WFS 2.0.2 specification, the conformance class for “startIndex” was moved from “A.2.16 Standard presentation parameters” to

[2019-03-19 11:23] dstenger commented on #143
Thank you for your deep analysis.

The CR changes Annex A "Conformance testing" but not the main chapters of specification. Thus, startIndex is still a standard parameter.
I agree that the fact that “startIndex” is still a standard presentation parameter but is tested by ResponsePaging conformance class is a bit confusing (maybe it should have been removed from standard parameters as well).

Howev

[2019-03-20 16:21] clausnagel opened #144 "Error in "describe Unknown Feature Type" test"
The "describe Unknown Feature Type" test uses the following query to provide an unknown feature type for the `DescribeFeatureType` operation. It expects the WFS to respond with a HTTP status code 400.

[code]
However, the query uses the `typenames` parameter which is not defined by the WFS specification. The parameter is called `typename` (without the trailing 's').

So, in my opinion, the WFS sho

[2019-03-21 10:46] clausnagel commented on #144
Well, there is also another issue with this test IMHO.

The POST version runs fine because it uses the correct `<wfs:TypeName>` element. However, the test method `describeUnknownFeatureType` in the class `DescribeFeatureTypeTests` then checks for an `InvalidParameterValue` exception code. As references, cl. 8.3.4, 9.2.4.1 are listed on the method.

However, from these clauses I cannot read that an

[2019-03-25 07:11] clausnagel opened #145 "Error in "listStoredQueries" test"
The `listStoredQueries` test fails if it does not find a `wfs:ReturnFeatureType` element in the response:

[code]

However, `wfs:ReturnFeatureType` is optional in the WFS XML schema at http://schemas.opengis.net/wfs/2.0/wfs.xsd.

This has been introduced with WFS 2.0.2. But since the WFS 2.0.2 XML schema replaces the previous one, I would expect this test not to fail when `wfs:ReturnFeatureType` i

[2019-03-25 07:27] clausnagel opened #146 "InvalidParameterValue required by "unknownStoredQuery" test"
The `unknownStoredQuery` requires the exception report sent by the WFS server to contain an `InavlidParameterException` code. I scanned the WFS 2.0.0/2.0.2 specification but was not able to find this requirement.

So, an `OperationParsingFailed` or `OperationProcessingFailed` should also be fine?

[2019-03-25 07:54] clausnagel commented on #143
Well, the `startIndex` test at A.2.20.1 says "Verify that the server correctly handles the startIndex parameter." A.2.20.1 is neither part of the "Simple WFS" conformance class (A.1.1) nor the "Basic WFS" conformance class (A.1.2).

So, I would argue that the WFS test suite should not send the `startIndex` parameter since it is optional and set to "0" per default. The `startIndex` parameter should

[2019-04-08 20:13] lgoltz commented on #144
typenames (with trailing s) is correct for WFS 2.0 KVP/GET-requests. In WFS 1.1 and 1.0 the parameter was named typename.

[2019-04-08 20:43] lgoltz commented on #144
@clausnagel Thanks for reporting this.

typenames Parameter should be renamed to typename for DescribeFeatureType requests (I assume this also applies to other tests).

Specification/Test must be rechecked if  InvalidParameterValue is the expected exception.

[2019-04-12 07:57] dstenger commented on #145
Thank you for reporting this.

However, WFS 2.0 test suite tests both versions (2.0.0 and 2.0.2). So, the old schema is still valid for services which state in the capabilities document that they are version 2.0.0.

Nevertheless, the test should be adjusted for WFS 2.0.2 services.

[2019-04-12 07:59] dstenger commented on #146
Thank you for reporting. We will do further investigations.

[2019-04-12 09:11] dstenger commented on #143
I agree,
in version 2.0.0 the `startIndex` parameter is tested in Simple WFS conformance class (according to abstract test suite)
and in version 2.0.2 the `startIndex` parameter is tested in Response Paging conformance class (according to abstract test suite).

However, the non-annex text of specification (chapter `Standard presentation parameters`) did not change between both versions.

Actually,

[2019-04-12 09:27] dstenger commented on #143
However, if this parameter is attached service should not throw an exception as it is not illegal to attach additional parameters.

[2019-04-12 09:32] dstenger commented on #143
Of course, we can evaluate if `startIndex` parameter can be removed from "data Are Available" test completely.

[2019-04-15 07:06] lgoltz opened #147 "BBOXTests#invalidGeometryOperand expects exception"
The test org.opengis.cite.iso19142.basic.filter.spatial.BBOXTests#invalidGeometryOperand expects an exception with InvalidParameterValue code and status code 400.

Test:
https://github.com/opengeospatial/ets-wfs20/blob/35d1d4a865600ceab3fe9df820122e9240cde80d/src/main/java/org/opengis/cite/iso19142/basic/filter/spatial/BBOXTests.java#L197-L224

Some services returns an empty FeatureCollection.

Sp

[2019-04-16 07:06] lgoltz commented on #124
The same problem applies to GetFeatureWithLockTests: sutImplementsGetFeatureWithLock fails if the service does not provide the operation GetFeatureWithLock.
Fixed with commit: https://github.com/opengeospatial/ets-wfs20/commit/d2558efe5216c7f804aa4259194275ac091b2355

[2019-04-16 08:28] lgoltz commented on #122
Implementation was updated: https://github.com/opengeospatial/ets-wfs20/commit/fc3abfa3fb95d9951f7e4f1e2b681e07ffad1166

Should we really skip the test? The test requirements claims that "Data are available for at least one feature type advertised in the capabilities document." (http://cite.opengeospatial.org/teamengine/about/wfs/2.0.0/site/).

@dstenger: Shall we remove the possibility to pass a

[2019-04-16 08:38] #142 closed

[2019-04-16 09:31] lgoltz opened #149 "DescribeFeatureTypeTests.describeUnknownFeatureType expects InvalidParameterValue"
s. https://github.com/opengeospatial/ets-wfs20/issues/144#issuecomment-475183232

[2019-04-16 09:33] lgoltz commented on #144
Fix is solved by PR #150.

For the question in https://github.com/opengeospatial/ets-wfs20/issues/144#issuecomment-475183232 a new issue was created: #149

[2019-04-16 10:02] lgoltz commented on #145
As far as I understand the new schema version (with version="2.0.2") replaces the old one. The old schema is not longer available from http://schemas.opengis.net/wfs/ (or at least not directly, it is content of the archives).
Therefor I think we should remove the old schema from the ets. But I'm wondering about the version to use, since 2.0.2 the version must be valid against a pattern:

[code]

T

[2019-04-17 10:20] dstenger commented on #143
Fix was successfully tested with service provided by @clausnagel.
Test `data Are Available` is passing now.

[2019-04-17 10:20] #143 closed

[2019-04-17 14:12] #144 closed

[2019-04-17 14:12] dstenger commented on #144
Fix was successfully tested with service provided by @clausnagel.
Test `describe Unknown Feature Type` is passing.

[2019-04-18 10:39] lgoltz commented on #145
We decided to validate against the new schema (2.0.2) independent of the version of the WFS (2.0.0 as well as 2.0.2).

[2019-04-18 10:48] dstenger commented on #122
I propose to remove possibility to pass a feature identifier.

[2019-04-18 11:45] lgoltz commented on #122
Done: https://github.com/opengeospatial/ets-wfs20/commit/22f9b0f793300faa90a367c6ed51e024a1117a9c

We decided not to skip the tests.

[2019-04-24 13:32] #124 closed

[2019-04-26 14:06] #122 closed

[2019-04-26 14:06] #145 closed

[2019-04-29 15:00] dstenger opened #153 "Several tests fail on Beta envionment due to dependency conflict"
Several tests fail on Beta environment due to dependency conflict.
Following tests are failing with reference implementation:

Name | Reson
-- | --
describe Unknown Feature Type | java.lang.NoSuchMethodError:  org.opengis.cite.validation.SchematronValidator.validate(Ljavax/xml/transform/Source;Z)Ljavax/xml/transform/Result;
describe Unknown Feature Type | java.lang.NoSuchMethodError:  org.opengis.

[2019-04-29 18:01] dstenger commented on #153
Conflict was solved in favour of WFS 2.0 test suite as many other test suites were affected as well.

Now, SWE Common 2.0 test suite does have failing tests because of a wrong dependency version (https://github.com/opengeospatial/ets-swecommon20/issues/8).

[2019-04-29 18:01] #153 closed

[2019-05-15 14:20] dstenger commented on #97
During the last update of Beta environment I still had to remove gt-metadata-19.1.jar manually.
Still, it is not clarified why this library breaks WFS 2.0 test suite.

[2019-05-15 14:32] dstenger commented on #97
It should be checked if dependency gt-metadata* can be replaced by geotk-metadata* as proposed by ajanett.

[2019-05-24 13:56] dstenger opened #155 "Update tests to use TEAM Engine 5.4"
Applies to integration and system tests.

SoapUI project must be updated as version was removed from URI to test suites of REST API (also see https://github.com/opengeospatial/teamengine/issues/261).
Please also update Maven configuration and set version of SoapUI Maven Plugin to 5.5.0.

See updated documentation: https://github.com/opengeospatial/cite/wiki/How-to-run-tests-for-test-suites-with-So

[2019-07-23 11:56] keshav-nangare commented on #155
Updated with this commit: 625e1d3bac74bd195e61426187441b99032387b9

[2019-07-24 14:27] dstenger commented on #155
After fixing the integration tests, build with `mvn clean install site -Pintegration-tests` is successful.

[2019-07-24 14:27] #155 closed

[2019-07-24 15:12] dstenger commented on #98
@heidivanparys
#117 is already merged and installed on OGC Production and Beta environment.
Can you please confirm if this issue is solved, now?

[2019-08-07 07:52] heidivanparys commented on #98
@dstenger I tested and this issue is solved!

[2019-08-07 07:52] #98 closed

[2019-09-10 10:08] lgoltz commented on #147
I cannot find any hint in the specification about the correct behavior.
 * ATS: A.2.22.1.5.2 Invalid property name: "Test Method: Execute a query with an non-existent property name in the projection clause of a query and verify that the server generates an InvalidParameterValue exception."
 * referenced Chapter _11.4: GetFeature - Exceptions_ does not mention the InvalidParameterValue exception
 *

[2019-09-11 05:26] lgoltz opened #157 "Temporal Test fails with multiple temporal properties"
If a feature type has multiple temporal properties the test mixes the property names and values.
Example:
 * FeatureType: CadastralParcels
 * application schema contains several temporal properties (e.g. beginLifespanVersion, endLifespanVersion, validFrom, validTo)
 * features have values only for beginLifespanVersion
 * the tests requests with property validTo and values from beginLifespanVersion

[2019-09-25 22:38] gedaiu opened #159 "mvn error"
I tried to run the test suite and it looks like some maven dependencies are missing. Can you give me a help with this issue?

[code]

[2019-09-27 12:42] keshav-nangare commented on #159
@gedaiu

The build failed due to the third party library which is trying to download dependencies from the repository as its not reachable at that moment.

Can you please try now? I think the repository is accessible now. Let me know if you still facing the issue.

[2019-09-30 10:48] keshav-nangare commented on #97
@dstenger

I got the exact root cause of this `gt-metadata` dependency issue, as it is still appearing in the build. The `ets-gpkg12-nsg` with version `0.5`, which is using the gt-metadata dependency so while you build the beta release it has this test suite with version 0.5.
I can see a few commits in the master of  `ets-gpkg12-nsg` with fix which is added by `@ajanett `. This will fix the `gt-me

[2019-10-01 08:23] dstenger commented on #97
So, a new release of `ets-gpkg12-nsg` should solve this problem.

[2019-10-14 09:46] dstenger commented on #147
I agree regarding referenced chapter `11.4: GetFeature - Exceptions`.

However, regarding Chapter 8.3 OWS Common (OGC 06-121r3) is referenced. Thus, the chapter exists.
The chapter says following:
[code]

Nevertheless, in my opinion the link to A.2.22.1.5.2 is not very clear.

[2019-10-16 09:48] dstenger commented on #159
@gedaiu Can you please check if the error still occurs?

[2019-10-16 11:04] gedaiu commented on #159
It works now. thanks! I still need to figure out how to use it :p

[2019-10-16 12:15] #159 closed

[2019-10-16 12:16] dstenger commented on #159
If you have any further questions, you are welcome to contact us again.

[2019-10-25 13:24] mlaghi opened #160 "CreateStoredQueryTests#createGetFeatureByTypeName fails because missing namespace declaration in query"
The stored query was successfully created but when it is invoked with GetFeature it fails because the query lacks the namespace definition (here it would be `xmlns:tns="http://www.avitech.aero/axl/wfs/2.0/demo"`) and thereby even if the XML is valid it lacks the binding between the prefix tns and its associated uri:

`
<wfs:GetFeature xmlns:wfs="http://www.opengis.net/wfs/2.0" xmlns:fes="http://ww

[2019-11-27 10:36] dstenger commented on #160
Thank you for reporting.

@keshav-nangare Can you please analyse this issue?

[2019-12-09 12:26] VeronikaKusova commented on #146
Hi,
I have similar question regarding **Invoke Get Feature By Id With Unknown Id**. It requires an exception with a status code 404 or 403 (which correspond to an OperationProcessingFailed). But isn’t it the same case as **Unknown stored query**? So, an InvalidParameterValue could be also ok for this test, because there is an invalid value for parameter id in the request.

[2019-12-12 14:29] dstenger commented on #146
In case **Invoke Get Feature By Id With Unknown Id** a feature does not exist leading to an exception.
In case **Unknown stored query** a stored query does not exist leading to an exception.

So, **Invoke Get Feature By Id With Unknown Id** sends a parsable request but the request cannot be processed.
Chapter 11.4 of OGC 09-025r1 states:
[code]
Thus, the expected exception is correct.
However, in

[2019-12-13 12:47] keshav-nangare commented on #160
@mlaghi

Can you please provide service to reproduce this issue?

[2019-12-18 09:19] dstenger commented on #160
@keshav-nangare Can you please check if the test can be updated to use custom namespaces as well?

[2019-12-18 09:24] dstenger commented on #146
@keshav-nangare Can you please update `Unknown stored query` test to accept OperationProcessingFailed exception as well (in additon to InvalidParameterValue exception)?

[2019-12-18 09:25] dstenger commented on #146
@clausnagel Can you provide a test service which is responding with OperationProcessingFailed exception in `Unknown stored query` test?

[2019-12-18 11:09] dstenger commented on #146
@VeronikaKusova If you disagree with my conclusion, please open a new issue where we can continue the discussion.

[2019-12-20 11:32] mlaghi commented on #160
I could not find  the branch in which you did the fix so I re-ran the test with the master/head branch which is still failing.
Meanwhile we made the service available from the internet. You can access the service under:

https://wfst.axl.aero/AxlRest/wfs?SERVICE=WFS&amp;VERSION=2.0.2&amp;REQUEST=GetCapabilities

[2019-12-27 11:59] keshav-nangare commented on #160
@mlaghi

I have tried to reproduce the reported issue with the above service but get the different error as follows:

Exception:
`Expected one or more feature instances in response (type: {http://www.avitech.aero/axl/wfs/2.0/demo}Person). expected [true] but found [false]`

Request:
[code]

[2019-12-29 11:41] mlaghi commented on #160
@keshav-nangare
I get the same error, however the error occurs not when storing the query but when executing it with GetFeature (the next operation done by the testsuite).
The error you mention is then a consequence since:
- the GetFeature is missing the namespace declaration
- the service returns an error message
- the testsuite parses that error message, does not find any feature and reports the

[2019-12-30 14:03] keshav-nangare commented on #160
Thank you for details.

[2019-12-30 14:12] keshav-nangare commented on #160
@mlaghi

I have added a fix for it, now it will use the appropriate prefix. Can you please check?
Let me know if still facing this issue.

Thank you!!

[2020-01-07 10:11] mlaghi commented on #160
I just ran the issue#160 branch and I can confirm that the test now behaves as expected and correctly. Thanks. In my opinion this issue can be closed.

[2020-01-07 11:20] #160 closed

[2020-01-13 14:01] dstenger opened #162 "Update test "Invoke Get Feature By Id With Unknown Id" by accepting NotFound exception"
WFS 2.0.2 spec states that NotFound exception (HTTP status code 404) shall be accepted as well: http://docs.opengeospatial.org/is/09-025r2/09-025r2.html#192

[2020-01-13 14:03] dstenger commented on #146
However, if WFS 2.0.2 is used, **Invoke Get Feature By Id With Unknown Id** shall accept NotFound exception as well.
Issue was created: https://github.com/opengeospatial/ets-wfs20/issues/162

[2020-01-13 14:17] dstenger commented on #162
In addition, BadRequest exception (status code 400) shall be removed as this is not backed by the specification (introduced by https://github.com/opengeospatial/ets-wfs20/issues/138).

[2020-01-22 11:29] danieluct opened #163 "Test intersects Polygon fails due to rounding error"
When extent is calculated, the coordinates are rounded DOWN to 2 decimals: https://github.com/opengeospatial/ets-wfs20/blob/052e3b0dc77b1a0bd0554380aac2e2e0b88be306/src/main/java/org/opengis/cite/iso19142/basic/filter/spatial/IntersectsTests.java#L144 while in the intersections test it appears full coordinates (as returned by the WFS service) are used. This results in failures if there's a point w

[2020-01-22 11:31] danieluct commented on #163
Note that this may happen only when returned geometries are GeometryCollections (e.g. MultiPoint) since individual features are tested.

[2020-01-22 12:31] danieluct commented on #163
Note that applying https://github.com/opengeospatial/ets-wfs20/pull/154 would also fix the issue, since it doesn't check component geometries anymore

[2020-01-22 15:24] danieluct commented on #28
The current spatial join implementation imposes several requirements not mentioned in the standard (e.g.: there must be two distinct geometries in the feature types server by the WFS, neither of whom can be defined as `gml:AbstractGeometryType`, and, except in the case both of these are `AbstractCurveType,` one of them must be `AbstractSurfaceType`). Test should be skipped in case none of this req

[2020-02-03 10:22] danieluct opened #164 "join With Intersects test error"
The current spatial join implementation at https://github.com/opengeospatial/ets-wfs20/blob/052e3b0dc77b1a0bd0554380aac2e2e0b88be306/src/main/java/org/opengis/cite/iso19142/joins/SpatialJoinTests.java#L175 imposes several requirements not mentioned in the standard (e.g.: there must be two distinct geometries in the feature types server by the WFS, neither of whom can be defined as gml:AbstractGeom

[2020-02-03 10:44] dstenger commented on #164
Thank you for reporting. We will do further investigation.

[2020-02-28 10:40] keshav-nangare commented on #162
Removed exceptions as per specification.

[2020-02-28 16:51] ghobona commented on #162
@dstenger I'm happy with this fix, for WFS 2.0.2

[2020-03-04 13:46] keshav-nangare commented on #146
@dstenger

[2020-03-20 17:44] ghobona commented on #164
Reviewing the spec, here is what I can deduce as the source/justification of the test.

Part of Test "A.1.12 Spatial joins" in [OGC 09-025r2](http://docs.opengeospatial.org/is/09-025r2/09-025r2.html) says "Verify that conformance tests OGC 09-026r2, A.7 and A.8 are satisfied."

Part of Test "A.8	Test cases for spatial filter" in [OGC 09-026r2](http://docs.opengeospatial.org/is/09-026r2/09-026r2.ht

[2020-03-23 14:47] #157 closed

[2020-03-23 17:34] #60 closed

[2020-03-23 17:34] #163 closed

[2020-03-23 18:39] dstenger commented on #60
The pull request was merged.

However, I still get failures with reason `java.lang.AssertionError: Unexpected HTTP status code. expected <br>[200] but found <br>[400]` for several `intersects Polygon` tests.
If you still have any problems, please open a new issue.

Please note that this fix has not been released and installed on any environment, yet. So, you might use the master branch and install

[2020-03-24 09:57] dstenger commented on #164
The CITE team decided to add an else block to https://github.com/opengeospatial/ets-wfs20/blob/master/src/main/java/org/opengis/cite/iso19142/joins/SpatialJoinTests.java#L175 which is throwing an Exception.
@ghobona Can you please provide a short text for the exception.

Further, we will update the documentation by adding a precondition to the test suite.

[2020-03-26 12:22] dstenger opened #167 "Update version of dependency ets-gml32"
Dependency
[code]
shall be updated to current version of ets-gml32.
https://github.com/opengeospatial/ets-gml32/issues/46 shall be included. Thus, version 1.28 is required at minimum (attention: not released yet).

[2020-04-06 07:20] ghobona commented on #164
Something like this could be added to [SpatialJoinTests.joinWithIntersects() ](https://github.com/opengeospatial/ets-wfs20/blob/master/src/main/java/org/opengis/cite/iso19142/joins/SpatialJoinTests.java#L212):

[code]

[2020-04-06 10:06] dstenger commented on #164
@keshav-nangare Can you please add those changes to the code, test it and create a pull request?

[2020-04-06 13:48] keshav-nangare commented on #164
@dstenger

I have added changes as per the suggestion and created the PR #168. Tested the changes locally with service[1] but test getting skipped.

[1] https://services.interactive-instruments.de/ogc-reference-2/simple/wfs?request=getcapabilities&service=wfs

Do we have another service to test these changes?

[2020-04-08 08:10] dstenger commented on #164
@danieluct Is it possible to provide a test service making it possible for us to verify the changes?

[2020-04-08 09:12] ghobona commented on #164
@keshav-nangare In addition to the service provided by @danieluct , please also try this [one](https://demo.geo-solutions.it/geoserver/ows?service=wfs&version=2.0.0&request=GetCapabilities).

[2020-04-08 09:20] danieluct commented on #164
@dstenger
This service contains only points and multipoints https://inspire.meteoromania.ro/WIGOS/WFS?request=GetCapabilities&service=WFS&version=2.0.2
We also have an older instance, which is not actively maintained and is less compliant with OGC tests, but has (multi)polygons http://gmlid.eu/RO/ENV/PADS/WFS?service=wfs&verison=2.0.0&request=GetCapabilities

[2020-04-08 12:20] keshav-nangare commented on #164
@dstenger @ghobona

[1] https://demo.geo-solutions.it/geoserver/ows?service=wfs&version=2.0.0&request=GetCapabilities
[2] https://inspire.meteoromania.ro/WIGOS/WFS?request=GetCapabilities&service=WFS&version=2.0.2

Following are the test results after changes:
- Tested with service [1], it throws below exception
[code]

- Tested with service [2], it worked as we expected. We can see assertion mess

[2020-04-14 11:15] #164 closed

[2020-04-27 10:13] #162 closed

[2020-04-28 17:30] #146 closed

[2020-06-17 11:28] carlospzurita opened #170 "Support for GML geometry types - Curve and Surface"
As a part of the validation process for WFS in the [INSPIRE validator](https://inspire.ec.europa.eu/validator/), there is a dependency from the TEAM engine for testing WFS 2.0 specification.

An user has opened an [issue](https://github.com/inspire-eu-validation/community/issues/314) in the community space for the validator sharing an error from the OGC testing engine with their service endpoint t

[2020-06-17 14:28] dstenger commented on #170
After having reviewed https://github.com/inspire-eu-validation/community/issues/314, the method causing the failure (`Extents.calculateEnvelope(geomNodes)`) seems to originate from geomatics-geotk dependency.

There might also be a relation to https://github.com/opengeospatial/ets-wfs20/issues/164.

@keshav-nangare Can you please take a closer look at this problem?

[2020-06-20 05:59] keshav-nangare commented on #170
@dstenger

I am able to reproduce the issue with the provided service and below are my findings:
1. The XPath is not resolved with prefix:namespace so it is failing to retrieve geom nodes from the provided service. So following are datafile and XPath for one of them feature type:
XPath: `//ns1:centrelineGeometry/*[1]`
Datafile: [RoadLink-4307837326955960477.xml.txt](https://github.com/opengeospati

[2020-06-23 08:29] dstenger commented on #33
@keshav-nangare
Can you please browse the WFS 2.0 reference implementations and check if there is any service which is failing the locking tests?

[2020-06-23 08:43] ghobona commented on #33
We were unable to reproduce the error because the servers are no longer available.

[2020-06-23 08:43] #33 closed

[2020-06-30 08:56] ghobona commented on #157
@MarcoMinghini  In reference to the recent [tweet](https://twitter.com/MarcoMinghini/status/1276069685222653952), please note that [Issue#157](https://github.com/opengeospatial/ets-wfs20/issues/157) was released in the [Beta TEAM Engine](https://cite.opengeospatial.org/te2/) in April.

[2020-06-30 09:41] carlospzurita commented on #157
@ghobona do you happen to have a release candidate date for version 1.33 go live in the production TEAM Engine? I'm not sure if this is published on the site.

[2020-06-30 12:02] calhanson commented on #170
When I run the test, it successfully retrieves a geometry using XPath: `//ns1:centrelineGeometry/*[1]` after adding the namespace for the geometry element with `nsBindings.addNamespaceBinding(geomProp.getNamespace(), "ns1");` (as in code snippet above). Then `envelope = Extents.calculateEnvelope(geomNodes);` runs and throws an exception with message `Unssupported geometry type : [CurveType] id:geo

[2020-06-30 18:05] keshav-nangare commented on #170
@dstenger

[1] http://192.71.92.21/MapService/wfs.axd/InspireTest?ACCEPTVERSIONS=2.0.0&REQUEST=GetCapabilities&SERVICE=WFS&VERSION=2.0.0

I tried with the provided service[1] but got the NullPointerException in spatial filter due that XPath, we can see the in below screenshot:
![Test_Session_Results_wfs20](https://user-images.githubusercontent.com/14732650/86161003-417db780-bb2a-11ea-9def-c6c18789

[2020-07-01 08:52] ghobona commented on #170
@carlospzurita the service appears to be down.

![Screenshot 2020-07-01 at 09 51 46](https://user-images.githubusercontent.com/18121038/86224209-7fa5c600-bb80-11ea-94ba-76107f2c82d4.png)

[2020-07-01 09:23] calhanson commented on #170
The service should now be up again.

@keshav-nangare The NullPointer test errors seem to be present in an altered version of the service, I also got this error when I ran the tests. Now the published service is updated with the unmodified version. Could you please run the test again, sorry for the inconvenience. Here is the response I get for the RoadLink feature type:
[RoadLink.xml.txt](https://g

[2020-07-01 16:06] #167 closed

[2020-07-08 08:39] ghobona commented on #170
@ghobona and @keshav-nangare discussed the issue on 2020-07-08.

Version of Geotoolkit used does not support Curve object.

@keshav-nangare will try passing the GML Curve object to a JTS MultiCurve.

[2020-07-14 06:36] ghobona commented on #125
@aaime Is the WFS mentioned in this Issue still available?

The endpoint does not appear to offer a WFS.

If the WFS is no longer available, we'll close the issue by 2020-07-21.

[2020-07-14 07:14] aaime commented on #125
@ghobona no we decommissioned that server some time ago. I do have locally a geodege database, but don't remember if it was subject to any license or redistribution restriction. Do you?

[2020-07-14 07:52] ghobona commented on #125
@aaime No, I am not familiar with geoedge's license or redistribution restrictions.

We'll close the issue. If the same problem comes up with a different server, we can reopen or link to this issue.

Thanks for the quick response.

[2020-07-14 07:53] #125 closed

[2020-07-15 08:43] ghobona commented on #170
@ghobona and @keshav-nangare discussed the issue on 2020-07-15.

@keshav-nangare to try passing the GML curve as a string to https://locationtech.github.io/jts/javadoc/org/locationtech/jts/io/gml2/GMLReader.html#read-java.lang.String-org.locationtech.jts.geom.GeometryFactory-

[2020-07-22 19:11] ghobona commented on #170
Sample GetFeature request http://192.71.92.21/MapService/wfs.axd/InspireTest?service=WFS&version=2.0.0&request=GetFeature&TypeNames=tn-ro:RoadLink

[2020-07-29 10:14] keshav-nangare commented on #170
The fix should be added in the [geomatics-geotk](https://github.com/opengeospatial/geomatics-geotk/) repository as the `Extents.calculateEnvelope(geomNodes)` method belonging to this repo.

Created the issue in `geomatics-geotk` repo: https://github.com/opengeospatial/geomatics-geotk/issues/3

[2020-07-31 11:50] ghobona commented on #101
@dstenger

I support the suggestion in Comment https://github.com/opengeospatial/ets-wfs20/issues/101#issuecomment-422784869

Please create the relevant fix.

[2020-08-03 08:56] dstenger commented on #101
Discussed during CITE meeting on 2020-08-03:

We agreed on following solution: "have a default behavior that picks the first feature type when sorted alphabetically to avoid the case that features listed in the GetCapabilities might be randomly sorted by the service"

[2020-08-12 08:33] keshav-nangare commented on #101
@aaime

Do we have demo service to reproduce the error?

[2020-08-18 16:54] dstenger opened #172 "Cleanup dependencies"
When running `mvn org.apache.maven.plugins:maven-dependency-plugin:analyze`, I get following warnings:
[code]

All used undeclared compile dependencies shall be declared in Maven pom file.
All unused declared dependencies shall be removed from Maven pom file.

[2020-08-20 08:04] keshav-nangare commented on #101
@dstenger @ghobona

As I don't have service to reproduce the behavior. I have updated the `selectRandomFeatureType()` method so that it will pick the first feature type after sorted alphabetically according to the local name of feature types. I tried to test the changes by deploying Geoserver but getting some issues.

Please find the changes in #173 PR.

[2020-08-20 08:08] aaime commented on #101
Ah hey, sorry for late answers, vacations plus deathmarching on the TB16 DGGS thread kept me from following up on other topics.

If you want a deployed GeoServer, you can use the TB16 one: https://tb16.geo-solutions.it/geoserver/
Warning: it has a lots of feature types, and some really big.

[2020-08-20 17:25] dstenger commented on #172
That might be the case. But those dependencies are used by ets-wfs20 code to be able to compile. Thus, it is cleaner to reference them in the project directly.

In addition, we can discuss the fact that one test suite inherits a complete other test suite together with @ghobona and how to tackle resulting problems.

[2020-08-25 11:01] ghobona commented on #101
@keshav-nangare Please install a local copy of geoserver to test with.

[2020-08-26 10:25] danieluct commented on #164
Hi,
The INSPIRE validator team informed us that they are not able to check the failure message, and therefore any result requiring a manual check should be marked as skipped: https://github.com/inspire-eu-validation/community/issues/209#issuecomment-680745458 .
Marking it as skipped instead of error also seems more in line with how ets-wfs20 deals in other cases with valid missing pre-requisites (

[2020-09-02 08:23] dstenger commented on #101
PR #173 applies changes which pick the first feature type instead of a random feature type.

However, @keshav-nangare can you please check if a random feature or the first feature is picked?

This, does not solve the problem reported in this issue directly but just removes then random-mechanism.
I think the root cause of this issue is that changes made by transaction-tests might not be undone comp

[2020-09-04 18:53] keshav-nangare commented on #172
Fixed with #174 PR.

[2020-09-08 08:41] dstenger opened #175 "joinWithIntersects shall skip test if geometry type is not supported"
Background:
- https://github.com/opengeospatial/ets-wfs20/issues/164#issuecomment-680795719
- https://github.com/opengeospatial/ets-wfs20/issues/164#issuecomment-601830404

[2020-09-08 08:42] dstenger commented on #164
@danieluct Thank you for your comment. We are fine with skipping the test when the geometry type is not supported and created a new issue: https://github.com/opengeospatial/ets-wfs20/issues/175

[2020-09-09 12:18] #172 closed

[2020-09-10 06:39] keshav-nangare commented on #175
Fixed with #177 PR.

[2020-09-14 08:33] dstenger commented on #170
Open task: Create pull request to update dependency geomatics-geotk to version 1.15.

[2020-09-16 08:03] keshav-nangare commented on #101
Following are the current workflow of the ReplaceTest and findings:

  1. Replace test uses the featureType from datasampler and retreives the feature by making http request. but it
  2. The replacement tests creates new temp elment to perform the replace test operation on feature without changing the original feature list from the data sampler.
  3. The replacement copy is used to replace feature

[2020-09-16 08:40] dstenger commented on #101
As far as we see, the replace tests do not affect the lock tests. So, we do not see any further actions for this issue and will close it by merging #173.

If any further problem pops up regarding the replace and lock tests, please create a new issue.

[2020-09-16 09:05] dstenger commented on #147
@ghobona What do you think of this issue? Shall the test be removed?

[2020-09-16 09:10] dstenger commented on #149
Issue is related to #147 and solution of #147 might be considered here.

[2020-09-16 13:48] iuriemaxim commented on #175
@dstenger The following service can be used to test unsupported join of point geometries:

https://inspire-staging.meteoromania.ro/WIGOS/WFS?Service=WFS&version=2.0.0&request=GetCapabilities

In the [staging version of the inspire ETF validator](http://staging-inspire-validator.eu-west-1.elasticbeanstalk.com/etf-webapp/), checking the conformance class Download Service - Direct WFS that is using t

[2020-09-22 15:33] ghobona commented on #157
All, the fix for this issue has been uploaded to the production TEAM Engine.

Cc: @dstenger

[2020-09-23 09:50] ghobona commented on #147
We should keep the test.

The standard is clear about the exception to be returned and the response code. Please see Section 7.5, 11.4 and  the attached screenshot from Section D.3.

![Screenshot 2020-09-23 at 10 48 00](https://user-images.githubusercontent.com/18121038/93996632-6630a680-fd8a-11ea-9943-3e1e7143ddf3.png)

[2020-10-09 18:03] #175 closed

[2020-10-09 18:08] #101 closed

[2020-10-09 19:13] iuriemaxim commented on #175
When testing in the INSPIRE Validator on staging version I get the same error:

![image](https://user-images.githubusercontent.com/20813598/95622408-1e916680-0a7c-11eb-9faa-f649ad595241.png)

Was the issue solved? Can you please test that the following URL indicated above is now passing the test joinWithInterects:

https://inspire-staging.meteoromania.ro/WIGOS/WFS?Service=WFS&version=2.0.0&request

[2020-10-10 06:35] iuriemaxim opened #178 "WPS are NS or not?"
According to the INSPIRE Directive are WPS Network Services or not?

![image](https://user-images.githubusercontent.com/20813598/95647831-3cda7f00-0adb-11eb-8e8a-b4155d6a8310.png)

[2020-10-12 06:21] ghobona commented on #178
@iuriemaxim [The INSPIRE Community Forum](https://github.com/inspire-eu-validation/community) would be a more appropriate place for this question.

Please re-post the question there.

[2020-10-12 06:29] iuriemaxim commented on #178
@ghobona I appreciate your suggestion, but the question is in relation to the INSPIRE validator. So I am expecting a response here.

If the question should be rephrased, then it could be:

There is any reason why in the validator there are no tests for WPS?

And/Or:

There is any reason why in the validator there are no tests for the harmonized SDSs (except for testing their metadata)?

[2020-10-12 07:13] iuriemaxim commented on #178
@ghobona Sorry, now I understood that I posted the issue in a wrong location.

[2020-10-12 07:17] #178 closed

[2020-10-12 17:54] dstenger commented on #175
Yes, the problem has been solved. However, the solution has not been installed on any OGC environment, yet.

@keshav-nangare Can you please verify if the provided test service (https://github.com/opengeospatial/ets-wfs20/issues/175#issuecomment-706357637) now passes the joinWithInterects test?

[2020-10-13 18:54] fhoubie opened #179 "WFS 2.0 CITE test does not seem to use the correct endpoint and send base64 payload."
Test service : http://sdidemo.intergraph.pl/WFS_INSPIRE/service.svc/get?request=GetCapabilities&service=WFS

Our service receives XML body using POST on the GET  endpoint.

Here is our DCP declaration:

<ows:DCP>
	<ows:HTTP>
		<ows:Get xlink:href="http://sdidemo.intergraph.pl/WFS_INSPIRE/service.svc/get?">
			<ows:Constraint name="GetEncoding">
				<ows:AllowedValues>
					<ows:Value>KVP</ows:Valu

[2020-10-20 16:27] #170 closed

[2020-10-21 12:21] dstenger commented on #179
@fhoubie

I checked the specifications (WFS 2.0 and OWS Common 1.1) for following declaration:

However, I could not find any hint that a SOAP endpoint can be defined by using `ows:AllowedValues`.

[2020-10-21 12:56] fhoubie commented on #179
@dstenger I think it is part of the SOAP HTTP Binding Status document [here](https://inspire.ec.europa.eu/reports/ImplementingRules/network/SOAP_binding_survey.pdf)

[2020-10-21 15:02] fhoubie commented on #179
It is also part of the WMTS e-Learning document of OGC [here](http://opengeospatial.github.io/e-learning/wmts/text/operations.html#example-getcapabilities-response-soap)

[2020-10-22 10:24] dstenger commented on #97
Issue is solved with newest release of ets-gpkg12-nsg (v0.6).

Dependency conflict does not exist any more on Beta environment.

[2020-10-22 10:24] #97 closed

[2020-10-26 13:55] calhanson opened #180 "Problem with Curve geometry with srsName in HTTP URI format"
Hi!

After issue #170 has been solved we have been able to run the tests locally (the online INSPIRE validator skips the Spatial Filter - BBOX tests for unknown reason) and the Spatial Filter tests now passes for both `Curve` and `Surface` geometry types. However, when testing a service with `srsName` in HTTP URI format the tests fails for `Curve` geometries with error:

Test:
`org.opengis.cite.is

[2020-10-28 13:46] dstenger commented on #180
Thank you for reporting.

@keshav-nangare Can you please analyse this issue?

[2020-11-04 15:35] iuriemaxim commented on #175
Tested on staging environment of the INSPIRE validator and I confirm that the issue is not anymore present on staging https://github.com/inspire-eu-validation/community/issues/209 However on production environment the problem is not yet fixed. Can it be provided a deadline for moving this fix into production environment of the TeamEngine?

[2020-11-09 08:55] keshav-nangare commented on #180
The fix should be added in the [geomatics-geotk](https://github.com/opengeospatial/geomatics-geotk) repository as the `GmlUtils.convertToMultiType(geomNode)` method belonging to this repo.

Created the issue in `geomatics-geotk` repo: https://github.com/opengeospatial/geomatics-geotk/issues/6

[2020-11-11 18:02] keshav-nangare commented on #179
I have updated `getOperationEndpoint` method so that evaluate XPATH for `AllowedValues` values:
1. `AllowedValues` available:
    1. Check for `binding == SOAP` and return endpoint for which `AllowedValues == SOAP`.
    2. For `GET/POST` binding return endpoint according to earlier implementation.
2. `AllowedValues` not available:
    1. For `GET/POST/SOAP` binding return endpoint according to ear

[2020-11-11 19:36] robblis opened #186 "AM Theme Direct WFS GetProperty Request Fails with Generated Request"
We're running a Direct WFS Test against the AM theme.

It fails with the following:
OGC TEAM Engine reported a failed test: Node has unexpected [local name] value. expected [ValueCollection] but found [ExceptionReport]

The following is the request that was generated.

service=WFS&version=2.0.0&request=GetPropertyValue&count=100&typenames=ns67:ManagementRestrictionOrRegulationZone&namespaces=xmlns

[2020-11-16 16:56] robblis opened #185 "AD Theme Direct WFS 2.0 Test - No Temporal values found"
To the OGC Community,

The following is the error:

OGC TEAM Engine reported a failed test: No temporal values found in results: property is "http://inspire.ec.europa.eu/schemas/ad/4.0 [inspire.ec.europa.eu]":beginLifespanVersion. expected [false] but found [true]

This is the decoded request that the validator sends

http://agsinspire1.esri.com/arcgis/rest/services/ADTest/MapServer/exts/InspireFe

[2020-11-18 00:53] robblis opened #183 "WFS20 ComparisonOperatorTests Request Contains Invalid Parameter"
To OGC Team,

The following test failed:

property Is Greater Than_match Any

Class Name:ComparisonOperatorTests
Method Name:propertyIsGreaterThan_matchAny29
Path:org/opengis/cite/iso19142/basic/filter/ComparisonOperatorTests

Error:
java.lang.AssertionError: Unexpected HTTP status code. expected <br>[200] but found <br>[400]

This occurred from an invalid REST Request that was generated by the Va

[2020-11-18 08:04] robblis opened #182 "WFS20 Test - Using wrong URL for Post Calls"
As we've been running some tests for our INSPIRE themes, we noticed that some of the Post calls are not using the Post URL that is contained in the GetCapabilities XML.

Example:

Method: | POST
-- | --
URL: | http://agsinspire1.esri.com/arcgis/rest/services/HYTest/MapServer/exts/InspireFeatureDownload/service
Body: | ?1234<wfs:GetFeature xmlns:wfs="http://www.opengis.net/wfs/2.0" count="10" servi

[2020-11-18 08:08] ghobona commented on #182
@robblis The issue has been transferred to the ets-wfs20 repository because it relates to the WFS 2.0 executable test suite.

Cc: @dstenger  @keshav-nangare

[2020-11-19 21:13] robblis opened #184 "WFS 2.0 - Using incorrect URL for Post request"
We're testing our HY theme using the WFS 2.0 test.

We are getting errors in the following test.
Class Name:PropertyIsLikeOperatorTests
Method Name:propertyIsNotLike303030
Path:org/opengis/cite/iso19142/basic/filter/PropertyIsLikeOperatorTests

Error:
java.lang.NullPointerException

The following is the URL used for the GetFeature test
http://agsinspire1.esri.com/arcgis/rest/services/HYTest/MapSer

[2020-11-20 11:02] dstenger commented on #182
Thank you for reporting.

@keshav-nangare Can you please analyse why an incorrect Post URL is used?

[2020-11-20 11:07] dstenger commented on #183
@keshav-nangare Can you please take a look at the described behavior?

[2020-11-20 11:12] dstenger commented on #184
@keshav-nangare Can you please take a look at the described behavior?

[2020-11-20 11:25] dstenger commented on #185
@keshav-nangare Can you please do further investigation?

[2020-11-20 11:30] dstenger commented on #186
@keshav-nangare Can you please do further investigation?

[2020-11-25 09:01] keshav-nangare commented on #186
@dstenger

The current implementation sends the request with a hardcoded query parameter as `valuereference=@gml:id`. I checked the documentation and have attached the documentation for that as below:

![image](https://user-images.githubusercontent.com/14732650/100197700-acd48580-2f20-11eb-80b3-34944e8d4b2e.png)

Can you please help me with the value of the query parameter `valuereference`?

[2020-11-25 12:26] keshav-nangare commented on #182
Tests are executed using the correct endpoint according to GET/POST but the report generation has some problem.

[2020-11-26 06:57] keshav-nangare commented on #185
@robblis

Can you please provide service to analyze the reported behavior?

[2020-12-09 09:38] dstenger commented on #183
The part behind the "-" ( 1799-12-31T00:03:58-04:56:02) is setting the timezone.
However, I would expect something like this "-01:00".
@keshav-nangare Can you please check why there are three digits behind the "-"?

[2020-12-10 07:26] keshav-nangare commented on #183
@dstenger

I did some workaround about the timezone. If we use a timezone, the offset will be calculated based on its history and the valid offset at that date and time.
Example: In India, here is the [reference](https://www.timeanddate.com/time/zone/india/kolkata?) link for time offset changed over the years
|Period|Original Date|Timezone Date with offset|
|---|---|---|
|Before 1940|1799-12-31T00

[2020-12-17 10:01] dstenger commented on #186
@robblis
`@gml:id` is a valid XPath. Thus, it should work as a value for query parameter `valuereference`.
So, we assume that the error can be located on the server side. What is the exact response of your server when using `valuereference=@gml:id`?

[2020-12-17 10:52] dstenger commented on #183
I checked the specifications regarding this issue:

WFS 2.0 spec (http://docs.opengeospatial.org/is/09-025r2/09-025r2.html) references Filter Encoding spec (OGC 09-026r2).
Filter Encoding spec (https://docs.opengeospatial.org/is/09-026r2/09-026r2.html) states the following:
[code]
W3C XML Schema Part 2 (https://www.w3.org/TR/xmlschema-2/) states:
[code]

Thus, W3C just specifies time zones with ho

[2020-12-22 10:17] keshav-nangare commented on #183
@robblis

Can you please provide the service for testing my changes?

[2020-12-22 11:43] keshav-nangare opened #187 "Add template to get an XML/JSON response via rest endpoint"
Please see opengeospatial/cite#56

[2021-01-04 20:36] robblis commented on #183
Hi @keshav-nangare ,

The following service is available for testing.

http://agsinspire1.esri.com/arcgis/rest/services/PSTest/MapServer/exts/InspireFeatureDownload/service?VERSION=2.0.0&SERVICE=WFS&REQUEST=GetCapabilities&LANGUAGE=&TYPENAMES=&MAXFEATURES=&COUNT=&f=image

Thanks,
Robert

[2021-01-04 20:53] robblis commented on #185
Hi @keshav-nangare,

The service for this test is running.

http://agsinspire1.esri.com/arcgis/rest/services/ADTest/MapServer/exts/InspireFeatureDownload/service?VERSION=2.0.0&SERVICE=WFS&REQUEST=GetCapabilities&LANGUAGE=&TYPENAMES=&MAXFEATURES=&COUNT=&f=image

Thanks,
Robert

[2021-01-04 21:10] robblis commented on #186
Hi @dstenger,

When using the valuereference=@gml:id as in the following request.

http://agsinspire1.esri.com/arcgis/rest/services/AMTest/MapServer/exts/InspireFeatureDownload/service?service=WFS&version=2.0.0&request=GetPropertyValue&count=100&typenames=ns67:ManagementRestrictionOrRegulationZone&namespaces=xmlns(xml,http://www.w3.org/XML/1998/namespace),xmlns(gml,http://www.opengis.net/gml/3.2),

[2021-01-05 09:06] keshav-nangare commented on #183
@robblis
Thank you for providing the service.

@dstenger
I have tested my changes with the provided service. Please find the changes in #188 PR.

[2021-01-05 12:57] dstenger commented on #186
Thank you for providing the information.
However, it still looks like that your server is not configured correctly. Can you please check this?

[2021-01-06 12:34] dstenger commented on #185
W3C XML Schema Part 2 was checked (also see https://github.com/opengeospatial/ets-wfs20/issues/183#issuecomment-747364942) and states the following:

[code]

Thus, the specification states that timezoned values are represented by a "Z" and that this is a legal notation.

@robblis So, a service should be capable to handle this notation. Does this answer your question and do you agree with the concl

[2021-01-07 11:50] keshav-nangare commented on #187
Fixed with #189 PR.

[2021-01-11 10:10] keshav-nangare commented on #184
@robblis

Can you please provide service to analyze the reported behavior?

[2021-01-11 10:31] keshav-nangare commented on #182
I have checked about customizing the testng report and found that the configuration is added in teamengine. I did not find a reference for adding POST URLs in the report.

@dstenger
Can you please guide me on this?

[2021-01-27 11:32] Kate-Lyndegaard opened #190 "Test intersectsCurve fails with TopologyException"
Hi,
I am receiving a topology error for a WFS service.

**WFS service**: https://haleconnect.com/ows/services/org.223.f8a77f5a-1260-41be-892a-7d57c2983f18_wfs?SERVICE=WFS&REQUEST=GetCapabilities&VERSION=2.0.0

The test IntersectsTests.intersectsCurve() fails twice with the exception: side location conflict [ (930415.328, 7377006.574, NaN) ]

**INSPIRE Validator Test report:**
[WFS_Validator_Report

[2021-01-27 12:24] Kate-Lyndegaard opened #191 "Test intersectsCurve fails with Predicate Intersects not satisfied by arguments"
Hi,

I am receiving Predicate Intersects not satisfied by arguments ... expected [true] but found [false] for a WFS service.

**WFS service**: https://haleconnect.com/ows/services/org.918.cc100895-4a04-4602-a94f-8b955d136893_wfs?SERVICE=WFS&REQUEST=GetCapabilities&VERSION=2.0.0

The test IntersectsTests.intersectsCurve() fails twice with the exception: Predicate Intersects not satisfied by argumen

[2021-01-28 17:41] dstenger commented on #190
Thank you for reporting.

@keshav-nangare Can you please try to reproduce the reported behavior on the master branch of the WFS 2.0 test suite?

[2021-01-28 17:43] dstenger commented on #191
Thank you for reporting.

@keshav-nangare Can you please try to reproduce the reported behavior on the master branch of the WFS 2.0 test suite?

[2021-02-04 10:14] dstenger commented on #190
The test sends following:

POST https://haleconnect.com/ows/services/org.223.f8a77f5a-1260-41be-892a-7d57c2983f18_wfs
[code]

The service responds with:
[code]

However, if I add a z coordinate to the request, an empty feature collection is returned by the service (status code 200).
[code]

[2021-02-04 10:18] dstenger commented on #190
@Kate-Lyndegaard Can you please check why your service is expecting the z coordinate? EPSG:4258 is not a 3D coordinate reference system.

[2021-02-04 13:30] keshav-nangare commented on #191
@dstenger

The test sends the following request:
Method: POST
URL: https://haleconnect.com/ows/services/org.918.cc100895-4a04-4602-a94f-8b955d136893_wfs
Body:
[code]
Response: [Response.txt](https://github.com/opengeospatial/ets-wfs20/files/5925495/Response.txt)

The geometry with `gml:id="GEOMETRY_bc2b7dd2-22ff-4ec8-bfb1-3e3ee89d19b4"` failed with the reported message.

The failure message is rep

[2021-02-05 13:48] Kate-Lyndegaard commented on #190
@dstenger I will look into it and get back to you as soons as possible. Thank you for your support.
Kind regards,
Kate:-)

[2021-02-10 09:04] Kate-Lyndegaard commented on #190
@dstenger When adding a third coordinate is the geometry used to check the intersection changed?

When I load the WFS service in QGIS and add the line feature used to test the intersection, it looks like this:
![grafik](https://user-images.githubusercontent.com/36956461/107488010-1579e880-6b87-11eb-9966-2997c829be60.png)

Is it possible that this issue is related to topological errors in the data?

[2021-02-11 12:15] ghobona commented on #191
**2021-02-11**

I was able to verify visually, using QGIS, that the geometries causing the error do not intersect with the linestring provided in the GetFeature request.

Methodology:

1. Copied the geometries of the MultiPolygons  reported by the Test Suite to separate GML files (sample1.gml and sample2.gml)
2. Copied the geometry of the linestring provided by the GetFeature request to a separate

[2021-02-11 13:21] Kate-Lyndegaard commented on #191
Dear @ghobona,

Thank you very much for your analysis. Why does your schema for the example files reference http://schemas.opengis.net/gml/2.1.2/feature.xsd? Do you think it would be helpful to create sample files of gml:MultiSurfaces?

[2021-02-15 09:43] ghobona commented on #191
Hi @Kate-Lyndegaard

I wanted to visualise the features on QGIS, so I first created a GML file using QGIS. Changing the geometry type would not fix the issue.

@dstenger and I discussed the issue this morning and determined that the LineString used to test intersection is being generated from the extent bounding corners of the complete Feature Collection. This creates a problem because not all fea

[2021-02-16 13:07] Kate-Lyndegaard commented on #191
Dear @ghobona and @dstenger,

Thank you very much for your insight on this issue. I really appreciate your help.

Kind regards,
Kate

[2021-02-19 05:14] keshav-nangare commented on #191
As per the [comment](https://github.com/opengeospatial/ets-wfs20/issues/191#issuecomment-779097143), the generation of LineString will be using one of the geometry from the feature. So updating the method `calculateEnvelope` of `Extents` class in `geomatics-geotk`. Please find the relevant issue https://github.com/opengeospatial/geomatics-geotk/issues/8

[2021-02-19 05:44] keshav-nangare commented on #191
Updated the JUnit test which is failing when single geometry is used to calculate envelope. Please find the changes and points in comment of #192 PR.

[2021-02-24 08:48] Kate-Lyndegaard commented on #190
Hi @keshav-nangare

I tested the gml for topological errors in QGIS and there are some gaps and an overlap:

![grafik](https://user-images.githubusercontent.com/36956461/108972326-79220c80-7683-11eb-9d6a-18e931230685.png)

I have asked the data provider for a clean version.

Could this have any bearing on the test, or is the issue related to #191 ?

Kind regards,
Kate

[2021-03-01 16:26] ghobona commented on #54
Closing this issue because the test implements Clause 15.3.5 of [OGC 09-025r2](http://docs.opengeospatial.org/is/09-025r2/09-025r2.html#306).

[2021-03-01 16:26] #54 closed

[2021-03-01 16:29] ghobona commented on #149
Closing this issue because it was solved, as shown in the referenced Issued - both of which are closed.

[2021-03-01 16:29] #149 closed

[2021-03-01 20:25] robblis commented on #186
Hi @dstenger,

We've identified the issue and fixed it on our side.

Thank you for your assistance.

Robert

[2021-03-01 20:25] #186 closed

[2021-03-01 21:46] robblis opened #193 "Geology - Empty UOM Value Error"
Hi Validator Team,

We are in the process of validating our Geology theme.

We are getting the following issue when requesting the ge:Borehole feature.

_XML document 'service.xml', Borehole 'geBorehole.1': The following properties of the feature have an empty value: uom. While this is valid against the XML schema, this is not valid according to the GML model. Please correct the process that gener

[2021-03-01 21:54] robblis commented on #184
@keshav-nangare

Not sure if you still need a service to test against. Sorry for the delay.

http://agsinspire1.esri.com/arcgis/rest/services/HYTest/MapServer/exts/InspireFeatureDownload/service?VERSION=2.0.0&SERVICE=WFS&REQUEST=GetCapabilities&LANGUAGE=&TYPENAMES=&MAXFEATURES=&COUNT=&f=image

[2021-03-02 14:23] dstenger commented on #193
Thank you for reporting the issue.

Can you please name the test(s) which fail due to the uom problem?
Is there a test service available we can use to reproduce the behavior?

[2021-03-04 10:09] keshav-nangare commented on #28
@dstenger @ghobona

A test is implemented in the [SpatialJoinTests](https://github.com/opengeospatial/ets-wfs20/blob/master/src/main/java/org/opengis/cite/iso19142/joins/SpatialJoinTests.java) class.

[2021-03-05 16:29] keshav-nangare commented on #184
@robblis

Thank you for providing service.

@dstenger @ghobona

The behavior is reproducible and found that there is a problem with the schema which causes failure of the `compile XML Schema` test.

Failure reason:
[code]
Can you please give your inputs?

[2021-03-05 17:40] #187 closed

[2021-03-05 18:38] #183 closed

[2021-03-05 19:20] dstenger commented on #179
@keshav-nangare Please see my comment in the pull request.

[2021-03-09 11:34] keshav-nangare commented on #179
I have added condition. Please find the changes in the same PR.

[2021-03-10 10:38] dstenger commented on #28
@keshav-nangare Can you please check if A.1.12 of http://docs.opengeospatial.org/is/09-025r2/09-025r2.html is fully implemented?

[2021-03-10 10:56] dstenger commented on #184
@keshav-nangare Can you please link the validated document here so that we can check if it is schema valid?

[2021-03-10 18:56] robblis commented on #193
Hi @dstenger,

The test name that failed is: Conformance Class 'INSPIRE GML application schemas'

Service to test: http://agsinspire1.esri.com/arcgis/rest/services/gemrv/MapServer/exts/InspireFeatureDownload/service?REQUEST=GetFeature&SERVICE=WFS&VERSION=2.0.0&TYPENAMES=ge-core:Borehole&namespaces=xmlns(ge-core,http://inspire.ec.europa.eu/schemas/ge-core/4.0)

I've attached the test report.

[ge-B

[2021-03-11 06:48] keshav-nangare commented on #184
@dstenger

Following are my findings:
1. The schema locations are retrieved using the following request http://agsinspire1.esri.com/arcgis/rest/services/HYTest/MapServer/exts/InspireFeatureDownload/service?service=WFS&version=2.0.0&request=DescribeFeatureType
2. Above request response contains schema location which can be located using the following request
http://agsinspire1.esri.com/arcgis/rest/

[2021-03-11 08:51] keshav-nangare commented on #28
@dstenger @ghobona

I checked the above-referred document and it refers to the [OGC 09-026r2](https://docs.opengeospatial.org/is/09-026r2/09-026r2.html) document. Please find below screenshot from the referred document:

![image](https://user-images.githubusercontent.com/14732650/110759966-36138c00-8274-11eb-80a3-7846b7efbf33.png)

The A.7 and A.8 requirements from the OGC 09-026r2 document are as

[2021-03-11 09:01] keshav-nangare commented on #29
@dstenger @ghobona

I checked the above-referred document and it refers to the [OGC 09-026r2](https://docs.opengeospatial.org/is/09-026r2/09-026r2.html) document. Please find below screenshot from the referred document:

![image](https://user-images.githubusercontent.com/14732650/110761101-5b54ca00-8275-11eb-9dbd-ae91c10c614f.png)

The A.9 and A.10 requirements from the OGC 09-026r2 document are a

[2021-03-11 09:16] keshav-nangare commented on #30
@dstenger @ghobona

I checked the above-referred document and it refers to the [OGC 09-026r2](https://docs.opengeospatial.org/is/09-026r2/09-026r2.html) document. Please find below screenshot from the referred document:

![image](https://user-images.githubusercontent.com/14732650/110762491-dbc7fa80-8276-11eb-9ffb-2645538c46ac.png)

The A.5 and A.6 requirements from the OGC 09-026r2 document are as

[2021-03-11 13:00] dstenger commented on #193
Hi @robblis,
Unfortunately, I cannot help you regarding the INSPIRE validator as this issue tracker is about the OGC CITE WFS 2.0 test suite which is a different tool.
However, as far as I know, the INSPIRE validator uses the OGC CITE WFS 2.0 test suite.
But in this case, I do not see a connection between the failure and the OGC CITE WFS 2.0 test suite.
Can you please check this with the INSPIRE c

[2021-03-11 17:30] #179 closed

[2021-03-19 23:25] robblis commented on #193
Hi @dstenger,

Thanks for the post.

I think I was in the wrong community when I submitted this issue.

I did re-submit this to the INSPIRE community.

Thanks,
Robert

[2021-03-19 23:25] #193 closed

[2021-03-23 09:06] keshav-nangare commented on #191
@dstenger

I have updated the `calculateEnvelope` method name to `calculateEnvelopeUsingSingleGeometry` as per `geomatics-geotk` changes in https://github.com/opengeospatial/geomatics-geotk/pull/9 PR.

Please find the current changes in https://github.com/opengeospatial/ets-wfs20/pull/192 PR.

I am not able to test changes with the provided service in issue.

[2021-03-23 14:45] dstenger commented on #191
When I try to test the fix, test "intersects Curve" is skipped using the service referenced in the description of this issue.

@Kate-Lyndegaard Did you change the service? If that is the case, can you please provide a new test service which can be used to test the fix?

[2021-03-23 19:25] dstenger commented on #191
@keshav-nangare Can you please test the fix?

[2021-03-24 04:22] keshav-nangare commented on #191
@dstenger @Kate-Lyndegaard

I tried with the new service but it is still skipping the `intersectsCurve` test.

[2021-03-24 10:26] ghobona commented on #29
@keshav-nangare please list the ones that have not been implemented yet.

[2021-03-24 10:34] ghobona commented on #28
@keshav-nangare please implement a solution similar to PR https://github.com/opengeospatial/ets-wfs20/pull/177.

That is, if a geometry type is not supported then throw a SkipException.

[2021-03-24 10:36] ghobona commented on #30
@keshav-nangare please implement the test for the operator `PropertyIsBetween`.

[2021-03-31 05:42] keshav-nangare commented on #29
The `Begins, BegunBy, TContains, During, TEquals, TOverlaps, Meets, OverlappedBy, MetBy, and EndedBy` operators are not implemented.

[2021-03-31 13:15] keshav-nangare commented on #30
@ghobona

I am implementing the `PropertyIsBetween` operator test. As per the [OGC 09-026r2](https://docs.opengeospatial.org/is/09-026r2/09-026r2.html) specification:

I found the below example to create a request but unable to select lower and upper boundary values from the features. Can you please provide one of the example to set lower and upper boundary values?

[code]

[2021-04-01 20:26] zguo opened #196 "java.lang.AssertionError: XPath expression cannot be evaluated: not(xs:anySimpleType(ns1:propertyValue<br>[1]) = xs:anySimpleType('240.000000'))XPath syntax error"
I am getting the following errors when try to validate the following  WFS
http://agsinspire1.esri.com/arcgis/rest/services/el1/MapServer/exts/InspireFeatureDownload/service?service=WFS&version=2.0.0&request=GetCapabilities

java.lang.AssertionError: XPath expression cannot be evaluated: not(xs:anySimpleType(ns1:propertyValue<br>[1]) = xs:anySimpleType('240.000000'))XPath syntax error at char 43 in

[2021-04-01 23:28] robblis commented on #185
Hi @dstenger,

We finally were able to do some more testing on this.

So, we think the issue is the time conversion to "Z" time is not correct.

So, going back to the test stated above, the time query is: gml:beginPosition1988-09-05T10:00:00Z  and  gml:endPosition1988-09-05T12:00:00Z

The time for the beginLifespanVersion in the ThoroughfareName entry is: 9/5/1988 6:00:00 AM (PDT). This would tran

[2021-04-02 00:06] robblis commented on #183
Hi @dstenger and @keshav-nangare ,

I just re-ran the same test and the issues are still present.

I'm wasn't sure if this was fixed yet.

Thanks,
Robert

[2021-04-07 12:31] keshav-nangare commented on #30
I have added changes to make a request for the `PropertyIsBetween` operator. Please find the changes in #197 PR.

[2021-04-12 11:35] dstenger commented on #28
Meeting 2021-04-12:
PR #177 already contains the solution.

[2021-04-12 11:36] #28 closed

[2021-04-13 17:13] dstenger commented on #185
Hi @robblis,

Currently, your service is not reachable. Is it possible to enable it again so that we can use it for testing purposes?

If I understand you correctly, your service is supporting time patterns with "Z" but the calculation of the filter values is wrong?
If that is the case, we will check the test suite regarding this behavior (a running test service would help us a lot).

Regards,
Dir

[2021-04-13 17:19] robblis commented on #185
Hi @dstenger,

Which service are you trying to reach?

The service listed above...
http://agsinspire1.esri.com/arcgis/rest/services/ADTest/MapServer/exts/InspireFeatureDownload/service?VERSION=2.0.0&SERVICE=WFS&REQUEST=GetCapabilities&LANGUAGE=&TYPENAMES=&MAXFEATURES=&COUNT=&f=image
...is reachable.

Thanks,
Robert

[2021-04-13 18:40] dstenger commented on #196
Thank you for reporting.

You are probably referring to the tests
* property Is Not Equal To_case Sensitive
* property Is Equal To_case Sensitive

The XPath expression is constructed here: https://github.com/opengeospatial/ets-wfs20/blob/9e2827be1e1eb2daaa36f8d2db098eed2b0eb635/src/main/java/org/opengis/cite/iso19142/basic/filter/PropertyIsEqualToOperatorTests.java#L88

Following expression cannot

[2021-04-13 18:46] dstenger commented on #183
The fix is already installed on the Beta environment (https://cite.opengeospatial.org/te2/).
Can you please check if your problem is solved there?
If you still encounter a problem, please open a new issue.

[2021-04-15 15:15] Kate-Lyndegaard opened #198 "WFS receives error in validateMembersOfGmlObjectCollection"
Hi,

I cannot determine the source of the error I receive for my WFS, which is based on atmospheric conditions data.

**WFS:** https://haleconnect.com/ows/services/org.874.c4108a11-bdbb-4461-8902-423531561a7e_wfs?SERVICE=WFS&REQUEST=GetCapabilities&VERSION=2.0.0

**Error:** Die OGC TEAM Engine hat folgenden Fehler gemeldet: The property value "http://www.opengis.net/gml/3.2":AbstractObject cannot

[2021-04-15 17:14] dstenger commented on #198
Thank you for reporting.

Do you know the request which is returning properties in namespace `http://inspire.ec.europa.eu/schemas/omop/3.0`?

[2021-04-15 18:55] robblis commented on #183
Hi @dstenger,

I ran the test on the Beta environment, and the test passed for the ComparisonOperator.

Thanks,
Robert

[2021-04-16 10:27] dstenger commented on #183
The version which is currently installed on Beta environment will most likely be moved to Production environment this summer.

[2021-04-21 08:09] JohannaOtt opened #199 "NullPointerExceptions for several WFS tests"
When validating this [WFS](https://geodienste.komm.one/ows/services/org.506.78427a5b-2f82-4311-ba7d-74eb7b8c10f4_wfs/org.506.e21f771b-0d06-4dbc-b246-60aa8d12ed52?SERVICE=WFS&REQUEST=GetCapabilities&VERSION=2.0.0) with the WFS test class, I get multiple NullPointerExpections, e.g. for Temporal Filter
![grafik](https://user-images.githubusercontent.com/34163838/115518966-0d29e200-a289-11eb-9902-3140

[2021-04-21 10:02] dstenger commented on #199
Can you please re-run the test on the OGC CITE Beta environment (https://cite.opengeospatial.org/te2/)?
Your problem should be fixed there.
The version currently installed on Beta environment will most likely be moved to Production environment this summer.

[2021-04-21 11:26] JohannaOtt commented on #199
@dstenger Thank you for the hint. The behavior is different but still not right in my opinion. The tests fail with these messages
![grafik](https://user-images.githubusercontent.com/34163838/115546320-2a6ca980-a2a5-11eb-9bab-5d354050bf60.png)

The same occurred in the INSPIRE Validator. I don't think they are correct. The data values provided in the data are correct.

[2021-04-22 10:49] Kate-Lyndegaard commented on #198
Hi @dstenger,

Looking at the server logs, I can see these requests coming from the Team Engine:

DescribeFeatureType: https://haleconnect.com/ows/services/org.874.c4108a11-bdbb-4461-8902-423531561a7e_wfs?SERVICE=WFS&VERSION=2.0.0&REQUEST=DescribeFeatureType&OUTPUTFORMAT=application%2Fgml%2Bxml%3B+version%3D3.2&TYPENAME=omso:PointObservation&NAMESPACES=xmlns(omso,http%3A%2F%2Finspire.ec.europa.eu%

[2021-05-05 05:42] lgoltz commented on #199
The WFS provides two feature types: SpatialPlan and OfficialDocumentation. The feature type OfficialDocumentation has no temporal property, so it is fine that these tests are skipped.
The feature type SpatialPlan has the property validFrom. The service provides exactly one feature with the following value:
[code]

The "after Instant" test request all features after 2012-04-04T11:39:59.999Z.
[code]

[2021-05-05 06:48] lgoltz commented on #198
The failing test validateMembersOfGmlObjectCollection (ComplexPropertyTests) is part of https://github.com/opengeospatial/ets-gml32

The test fails because of the declaration of `otherAggregation` in the schema `omop`:
[code]
Expected is that the referenced `gml:AbstractObject` ist a substitution of `gml:AbstractGML` ( line `<element ref="gml:AbstractObject"/>`). The GML 3.2 specifiation must be c

[2021-05-25 08:52] dstenger commented on #199
@JohannaOtt
The tests are not failing but they are skipped because the target feature type does not have temporal properties.
Please check the analysis of @lgoltz: https://github.com/opengeospatial/ets-wfs20/issues/199#issuecomment-832426466
Does this clarify your question?

[2021-05-26 15:08] JohannaOtt commented on #199
I do understand they are skipped for the types that do not contain temporal properties.

I do not understand why the empty feature collection is assessed being an error if there are no features after the one the request uses
![grafik](https://user-images.githubusercontent.com/34163838/119684554-e2f9b000-be44-11eb-99ad-382ca4d13601.png)

In my opinion, the data is not wrong, so the test should not

[2021-05-26 18:58] dstenger commented on #199
I agree that in your special case (one feature) the test suite might be improved.
We will do further investigation.

[2021-06-14 09:17] ghobona commented on #198
TODO: @ghobona to check XSD using Oxygen.

[2021-06-28 08:54] dstenger commented on #199
Findings of analysis:

Test suite is sending following request: `https://geodienste.komm.one/ows/services/org.506.78427a5b-2f82-4311-ba7d-74eb7b8c10f4_wfs/org.506.e21f771b-0d06-4dbc-b246-60aa8d12ed52?service=WFS&version=2.0.0&request=GetFeature&count=10&typenames=ns58:SpatialPlan&namespaces=xmlns(xml,http://www.w3.org/XML/1998/namespace),xmlns(ns58,http://inspire.ec.europa.eu/schemas/plu/4.0),xmln

[2021-07-09 17:21] ghobona opened #201 "The exception code expected by the invokeGetFeatureByIdWithUnknownID test is not as specified in the standard"
Table D.2 of OGC 09-025r2 states that the exception code for 'Invalid feature or property value' is 400.

The Table also states that the InvalidParameterValue code is '400'.

However, the invokeGetFeatureByIdWithUnknownID test expects 404 or 403.

[2021-07-09 17:23] ghobona opened #202 "The locator attribute in Exception Reports is optional"
Section 7.5 says "The **optional** locator attribute **may** be used to indicate where an exception was encountered in the request that generated the error."

The **describe Unknown Feature Type** test in the ETS however expects the attribute to be there.

[2021-07-09 17:26] ghobona opened #203 "The 'Unknown Stored Query' test appears to be ignoring the InvalidParameterValue code in responses"
Table D.2 includes an InvalidParameterValue code.

The **unknown Stored Query** test appears to be ignoring the InvalidParameterValue code in responses.

The test should have detected InvalidParameterValue in the Exception report.

[2021-07-19 08:47] dstenger commented on #199
Problem is probably related to the time zones where the service and TEAM Engine are located.

Possible solution: Time range generated by TEAM Engine is increased by adding one day to the endPosition and subtracting one day from the beginPosition. Solution will be checked by CITE TEAM.

[2021-08-04 08:27] dstenger opened #204 "Create definition of echo process (test data of test suite)"

[2021-09-21 20:40] dstenger commented on #147
Still, it is not clear for me whether this case (see description of issue) should lead to an exception (status code 400) or to an empty feature collection (status code 200).

The specification does not clearly define this special case.

The only abstract test coming close to this test was already referenced in https://github.com/opengeospatial/ets-wfs20/issues/147#issuecomment-529867987. However,